<!-- 【模板继承】 -->
<extend name="layout/default"/>
<!-- 【引入css样式表文件】 -->
<block name="linkcss">
    <link rel="stylesheet" href="__PUBLIC__/webuploader/css/webuploader.css">
    <link rel="stylesheet" href="__CSS__/file/detail.css">
</block>
<!-- 【引入javascript文件】 -->
<block name="linkjs">
    <script src="__PUBLIC__/webuploader/js/webuploader.js"></script>
    <script src="__JS__/file/detail.js"></script>
</block>
<!-- 【页面标题】 -->
<block name="webtitle">
    <title>文件详情</title>
</block>
<!-- 【路径导航】 -->
<block name="breadcrumb">
    <ol class="breadcrumb breadcrumb-edit">
        <li><a href="__ROOT__/File">文件管理</a></li>
        <li class="active">文件详情</li>
    </ol>
</block>
<!-- 【正文区域】 -->
<block name="content">

    <div class="section-grey-table preview-condition">
        <div class="section-title">基本信息</div>
        <div class="section-body">
            <table class="layui-table">
                <tbody>
                    <tr>
                        <td>文件号</td>
                        <td>{$result.filenumber}</td>
                    </tr>
                    <tr>
                        <td>版本</td>
                        <td>{$result.version}</td>
                    </tr>
                    <tr>
                        <td>状态</td>
                        <td>
                            <span class="{$result.className}">{$result.stateName}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>描述</td>
                        <td>{$result.description}</td>
                    </tr>
                    <tr>
                        <td>附件</td>
                        <td>
                            <a href="__ROOT__/{$result.file.path}" target="_blank"><i class="file-icon file-icon-ext-{$result.file.ext}"></i> {$result.file.name}</a>
                        </td>
                    </tr>
                    <tr>
                        <td>ECN</td>
                        <td>
                            <present name="ecnAssoc">
                                <a href="__ROOT__/ECN/detail/{$ecnAssoc.ecn_number}">{$ecnAssoc.ecn_number}</a>
                            </present>
                        </td>
                    </tr>
                    <tr>
                        <td>创建人</td>
                        <td>{$result.nickname}</td>
                    </tr>
                    <tr>
                        <td>创建时间</td>
                        <td>{$result.createtime|date="Y-m-d H:i:s", ###}</td>
                    </tr>
                    <tr>
                        <td>操作</td>
                        <td>
                            <switch name="result.state" value="InReview">
                                <case value="WaitingEdit">{//待编辑}
                                    <eq name="Think.session.user.id" value="$result.user_id">
                                        <button type="button" class="layui-btn layui-btn-primary xq-edit-btn">编辑</button>
                                    <else/>
                                        <button type="button" class="layui-btn layui-btn-primary layui-btn-disabled">编辑</button>
                                    </eq>
                                    <button type="button" class="layui-btn layui-btn-primary layui-btn-disabled">升版</button>
                                    <button type="button" class="layui-btn layui-btn-primary layui-btn-disabled">评审</button>
                                    <eq name="Think.session.user.id" value="$result.user_id">
                                        <button type="button" class="layui-btn layui-btn-primary recycle-btn">回收</button>
                                    <else/>
                                        <button type="button" class="layui-btn layui-btn-primary layui-btn-disabled">回收</button>
                                    </eq>
                                </case>
                                <case value="WaitingReview">{//待评审}
                                    <eq name="Think.session.user.id" value="$result.user_id">
                                        <button type="button" class="layui-btn layui-btn-primary xq-edit-btn">编辑</button>
                                    <else/>
                                        <button type="button" class="layui-btn layui-btn-primary layui-btn-disabled">编辑</button>
                                    </eq>
                                    <button type="button" class="layui-btn layui-btn-primary layui-btn-disabled">升版</button>
                                    <eq name="Think.session.user.id" value="$result.user_id">
                                        <!--<a href="__ROOT__/ECN/add/type/file/id/{$result.id}" class="layui-btn layui-btn-primary">评审</a>-->
                                        <present name="ecnAssoc">
                                            <button type="button" id="review-btn" class="layui-btn layui-btn-primary" rid="{$result.id}">评审</button>
                                        <else/>
                                            <a href="__ROOT__/ECN/add/type/file/id/{$result.id}" class="layui-btn layui-btn-primary">评审</a>
                                        </present>
                                    <else/>
                                        <button type="button" class="layui-btn layui-btn-primary layui-btn-disabled">评审</button>
                                    </eq>
                                    <eq name="Think.session.user.id" value="$result.user_id">
                                        <button type="button" class="layui-btn layui-btn-primary recycle-btn">回收</button>
                                    <else/>
                                        <button type="button" class="layui-btn layui-btn-primary layui-btn-disabled">回收</button>
                                    </eq>
                                </case>
                                <case value="InReview">{//评审中}
                                    <button type="button" class="layui-btn layui-btn-primary layui-btn-disabled">编辑</button>
                                    <button type="button" class="layui-btn layui-btn-primary layui-btn-disabled">升版</button>
                                    <button type="button" class="layui-btn layui-btn-primary layui-btn-disabled">评审</button>
                                    <button type="button" class="layui-btn layui-btn-primary layui-btn-disabled">回收</button>
                                </case>
                                <case value="Archiving">{//已归档}
                                    <button type="button" class="layui-btn layui-btn-primary layui-btn-disabled">编辑</button>
                                    <button type="button" class="layui-btn layui-btn-primary xq-edit-btn">升版</button>
                                    <button type="button" class="layui-btn layui-btn-primary layui-btn-disabled">评审</button>
                                    <button type="button" class="layui-btn layui-btn-primary layui-btn-disabled">回收</button>
                                </case>
                            </switch>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="section-grey-table edit-condition sr-only">
    <input type="hidden" name="id" value="{$result.id}" id="fileID">
    <div class="section-title">编辑文件</div>
    <div class="section-body">
        <table class="layui-table">
            <tbody>
                <tr>
                    <td>文件号</td>
                    <td>{$result.filenumber}</td>
                </tr>
                <tr>
                    <td>版本</td>
                    <td>
                        <input type="text" class="layui-input pull-left" name="version" id="version" value="{$result.version}">
                        <span class="tswb ipt-yc pull-left">请确保版本的正确格式（忽略大小写），例：V1.25</span>
                    </td>
                </tr>
                <tr>
                    <td>状态</td>
                    <td>
                        <neq name="result.state" value="Archiving">
                            <span class="{$result.className}">{$result.stateName}</span>
                        </neq>
                    </td>
                </tr>
                <tr>
                    <td>描述</td>
                    <td>
                        <textarea id="layedit-description" style="display: none;">
                            <neq name="result.state" value="Archiving">
                                {$result.description}
                            </neq>
                        </textarea>
                    </td>
                </tr>
                <tr>
                    <td>附件</td>
                    <td>
                        <neq name="result.state" value="Archiving">
                            <notempty name="result.file">
                                <a id="file-attachment-a" href="__ROOT__/{$result.file.path}" target="_blank"><i class="file-icon file-icon-ext-{$result.file.ext}"></i> {$result.file.name}</a>
                            </notempty>
                        </neq>
                        <div id="FilePick"><i class="icon-arrow-up"></i> 上传文件</div>
                        <div class="uploader-attachment-queue"></div>
                        <neq name="result.state" value="Archiving">
                            <div class="tswb">注：一个文件号只能对应一个文件（文件上传只能单选），在有文件的情况下重新上传附件将会被替换。</div>
                        </neq>
                    </td>
                </tr>
                <tr>
                    <td>ECN</td>
                    <td>
                        <neq name="result.state" value="Archiving">
                            <present name="ecnAssoc">
                                <a href="__ROOT__/ECN/detail/{$ecnAssoc.ecn_number}">{$ecnAssoc.ecn_number}</a>
                            </present>
                        </neq>
                    </td>
                </tr>
                <tr>
                    <td>创建人</td>
                    <td>
                        <neq name="result.state" value="Archiving">
                            {$result.nickname}
                        </neq>
                    </td>
                </tr>
                <tr>
                    <td>创建时间</td>
                    <td>
                        <neq name="result.state" value="Archiving">
                            {$result.createtime|date="Y-m-d H:i:s", ###}
                        </neq>
                    </td>
                </tr>
                <tr>
                    <td>操作</td>
                    <td>
                        <button type="button" id="saveFileData" class="layui-btn">保存</button>
                        <button type="button" class="layui-btn layui-btn-primary xq-cancel-btn">取消</button>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>

    <div class="section-grey-table">
        <div class="section-title">版本记录</div>
        <div class="section-body">
            <table class="layui-table">
                <thead>
                    <tr>
                        <th>版本号</th>
                        <th>附件</th>
                        <th>创建人</th>
                        <th>创建时间</th>
                    </tr>
                </thead>
                <tbody>
                    <notempty name="beforeVersions">
                        <volist name="beforeVersions" id="value">
                            <tr>
                                <td><a href="__ROOT__/File/detail/{$value.filenumber}/{$value.id}">{$value.version}</a></td>
                                <td>
                                    <notempty name="value.attachment">
                                        <a href="__ROOT__/{$value.attachment.path}" target="_blank"><i class="file-icon file-icon-ext-{$value.attachment.ext}"></i> {$value.attachment.name}</a>
                                    </notempty>
                                </td>
                                <td>{$value.nickname}</td>
                                <td>{$value.createtime|date="Y-m-d H:i:s", ###}</td>
                            </tr>
                        </volist>
                    <else/>
                        <tr><td colspan="4" style="text-align: center;padding: 40px 0;">没有数据</td></tr>
                    </notempty>
                </tbody>
            </table>
        </div>
    </div>

</block>



