<!-- 【模板继承】 -->
<extend name="layout/default"/>
<!-- 【引入css样式表文件】 -->
<block name="linkcss">
    <link rel="stylesheet" href="__PUBLIC__/webuploader/css/webuploader.css">
    <link rel="stylesheet" href="__CSS__/File/index.css">
    <link rel="stylesheet" href="__CSS__/File/add.css">
    <link rel="stylesheet" href="__CSS__/File/fileDetail.css">
</block>
<!-- 【引入javascript文件】 -->
<block name="linkjs">
    <script src="__PUBLIC__/webuploader/js/webuploader.js"></script>
    <script src="__JS__/File/index.js"></script>
    <script src="__JS__/File/add.js"></script>
</block>
<!-- 【页面标题】 -->
<block name="webtitle">
    <title>文件详情</title>
</block>
<!-- 【路径导航】 -->
<block name="breadcrumb">
    <ol class="breadcrumb breadcrumb-edit">
        <li class="active"><a href="__ROOT__/File">文件管理</a></li>
        <li class="active">文件详情</li>
    </ol>
</block>

<block name="content">

    <div class="title-bar" style="margin: 0 0 30px 0;">
        <h4>基本信息</h4>
    </div>

    <div class="review-info-box">

        <div class="layui-form-item">
            <div class="layui-form-label">文件号：</div>
            <div class="layui-input-block review-text">
                EVT001
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-form-label">发起人：</div>
            <div class="layui-input-block review-text">
                张三
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-form-label">发起时间：</div>
            <div class="layui-input-block review-text">
                2017-7-10 20:22
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-form-label">文件状态：</div>
            <div class="layui-input-block review-text">
                编号申请完成后
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-form-label">备注信息：</div>
            <div class="layui-input-block review-text">
                注册码有效期为2016年11月24日至2 <br> 017年11月23日注册年11月24日至2017年11月23日
                注册码有效期为2016年11月 <br> 24日至2017年11月23日注册码，有效期为2016年11月24日至2017年11月！23日11月24日至2017年11月！23日
            </div>
        </div>

        <div class="layui-form-item"  style="border: 0;">
            <div class="layui-form-label">附　件：</div>
            <div class="layui-input-block review-text">
                <!--<span style="width: 18px;height: 18px; display:inline-block;background: url('__PUBLIC__/home/img/fileIcon/xls.gif');"></span>-->
            </div>
        </div>

    </div>


 <!--   <div class="title-bar" style="margin: 20px 0 30px 0;">
        <h4>评审记录</h4>
    </div>

    <table class="layui-table">
        <thead>
        <tr>
            <th style="width: 120px;">评审人</th>
            <th style="width: 150px;">评审时间</th>
            <th style="width: 120px;">状态</th>
            <th>留下信息</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>张三</td>
            <td>2017-7-11 10:20</td>
            <td>已通过</td>
            <td>页列表页设计素材,网页列表页矢量图素材等信息,我们为您提供网页息,表页图片素材免费.</td>
        </tr>
        <tr>
            <td>李四</td>
            <td>2017-7-11 10:20</td>
            <td>已通过</td>
            <td>表页设计素材,网页列表页矢量图素材等信息,我"</td>
        </tr>
        <tr>
            <td>王五</td>
            <td>2017-7-11 10:20</td>
            <td>未通过</td>
            <td>表页设计素材,网页列表页矢量图素材等信息,我材等信息,我</td>
        </tr>
        </tbody>
    </table>-->


</block>