<!-- 【模板继承】 -->
<extend name="layout/default"/>
<!-- 【引入css样式表文件】 -->
<block name="linkcss">
    <link rel="stylesheet" href="__PUBLIC__/webuploader/css/webuploader.css">
    <link rel="stylesheet" href="__CSS__/File/fileDetail.css">
</block>
<!-- 【引入javascript文件】 -->
<block name="linkjs">
    <script src="__PUBLIC__/webuploader/js/webuploader.js"></script>
    <script src="__JS__/File/fileDetail.js"></script>
</block>
<!-- 【页面标题】 -->
<block name="webtitle">
    <title>文件详情</title>
</block>
<!-- 【路径导航】 -->
<block name="breadcrumb">
    <ol class="breadcrumb breadcrumb-edit">
        <li class="active"><a href="__ROOT__/File">文件管理</a></li>
        <li class="active">文件详情</li>
    </ol>
</block>

<block name="content">

    <div class="left-h4" style="width: 50%;margin-right: 0;padding-right: 50px;">
        <div class="title-bar" style="margin: 0 0 30px 0;">
            <h4>基本信息</h4>
        </div>

        <div class="review-info-box">
            <form class="layui-form" action="">

                <div class="layui-form-item">
                    <div class="layui-form-label">文件号：</div>
                    <div class="layui-input-block review-text" style="color: #333;">
                       {$numData.file_no}
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-form-label">状　态：</div>
                    <div class="layui-input-block review-text">
                        <eq name="numData.status" value="1">
                            <span class="rule" style="position: relative;top: -6px;">已申请编号</span>
                        </eq>
                        <eq name="numData.status" value="2">
                            <span class="before" style="position: relative;top: -6px;">第 {$numData.num} 次评审中</span>
                        </eq>
                        <eq name="numData.status" value="0">
                            <span class="refuse" style="position: relative;top: -6px;">第 {$numData.num} 次评审被拒绝</span>
                        </eq>
                        <eq name="numData.status" value="3">
                            <span class="success" style="position: relative;top: -6px;">已归档</span>
                        </eq>
                        <eq name="numData.status" value="4">
                            <span class="tag tag-danger" style="position: relative;top: -6px;">不可用</span>
                        </eq>
                        <eq name="numData.status" value="5">
                            <span class="tag tag-black" style="position: relative;top: -6px;">已废弃</span>
                        </eq>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-form-label">版本号：</div>
                    <div class="layui-input-block review-text" style="color: #333;">
                        <div class="info-div">{$numData.version}</div>
                        <div class="info-input">
                            <input type="text" class="layui-input" name="version" value="{$numData.version}">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item" style="color: #333;" >
                    <div class="layui-form-label">附　件：</div>
                    <div class="layui-input-block review-text" style="padding: 0 0 10px 0;">
                        <volist name="numData.attachment" id="value">
                            <div class="file-item">
                                <div class="file-info" style="width:200px;height:38px;line-height:38px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;"><i class="file-icon file-icon-ext-{$value.ext}"></i>&nbsp;&nbsp;<a href="__ROOT__/{$value.path}" target="_blank" title="{$value.savename}">{$value.savename}</a></div>
                            </div>
                        </volist>
                        <div class="info-input info-input-atta">
                            <div id="picker">上传附件</div>
                            <div class="uploader-file-queue"></div>
                            <p style="font-size: 12px;color: #d9534f;">注：当存在附件时重新上传附件将会替换历史附件！</p>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item" >
                    <div class="layui-form-label">描　述：</div>
                    <div class="layui-input-block review-text" style="border: 0;" >
                        <div class="info-div"> {$context.log}</div>
                        <div class="info-input ">
                            <textarea name="info-content" placeholder="" class="layui-textarea info-input">{$context.log}</textarea>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-form-label">操　作：</div>
                    <div class="layui-input-block btn-lay-orr">

                        <elt name="numData.status" value="1">
                            <eq name="content.person" value="$Think.session.user.id">
                                <a href="__ROOT__/File/review/no/{$numData.file_no}/type/review"><button class="layui-btn layui-btn-primary">评审</button></a>
                            <else/>
                                <a href="##"><button class="layui-btn layui-btn-primary lay-nou">评审</button></a>
                            </eq>
                        <else/>
                            <eq name="numData.status" value="3">
                                <a href="##"><button class="layui-btn layui-btn-primary lay-suss">评审</button></a>
                            <else/>
                                <a href="##"><button class="layui-btn layui-btn-primary lay-err">评审</button></a>
                            </eq>
                        </elt>

                        <button type="button" class="layui-btn layui-btn-primary edit-file">编辑</button>

                        <div class="info-input ok-btn">
                            <button class="layui-btn" lay-submit lay-filter="submit">立即提交</button>
                            <button class="layui-btn layui-btn-primary close-info-input" type="button">取消</button>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item" style="border:0;padding-left:25px;">

                </div>

            </form>

        </div>
    </div>
    <div class="right-h4" style="width: 50%;">
        <div class="title-bar" style="margin: 20px 0 30px 0;">
            <h4>其他版本</h4>
        </div>

        <table class="layui-table">
            <thead>
            <tr>
                <th style="width: 200px;">版本号</th>
                <th style="width: 150px;">发起人</th>
                <th style="width: 200px;">发起时间</th>
                <th style="width: 120px;">状态</th>
            </tr>
            </thead>
            <tbody>
            <volist name="history" id="val">
                <neq name="val.version" value="$Think.get.version">
                    <tr>
                        <td><a href="__ROOT__/File/fileDetail/no/{$val.file_no}/version/{$val.version}">{$val.version}</a></td>
                        <td>{$val.nickname}</td>
                        <td>{$val.time|date="Y-m-d H:i:s",###}</td>
                        <td>
                            <eq name="val.status" value="1"><span class="tag tag-brown">未评审</span></eq>
                            <eq name="val.status" value="2"><span class="tag tag-primary">评审中</span></eq>
                            <eq name="val.status" value="3"><span class="tag tag-success">可用</span></eq>
                            <eq name="val.status" value="4"><span class="tag tag-danger">不可用</span></eq>
                            <eq name="val.status" value="0"><span class="tag tag-danger">不可用</span></eq>
                            <eq name="val.status" value="5"><span class="tag tag-success">已废弃</span></eq>
                        </td>
                    </tr>
                </neq>
            </volist>

            </tbody>
        </table>
    </div>

    <div class="history" style="float: left;width: 100%;">
        <div class="title-bar" style="margin: 20px 0 20px 0;">
            <h4>操作记录</h4>
        </div>

        <table class="layui-table">
            <thead>
            <tr>
                <th style="width: 20%">操作时间</th>
                <th style="width: 20%;">操作人</th>
                <th style="width: 60%;">操作动作</th>
            </tr>
            </thead>
            <tbody>
            <volist name="numData.log" id="val">
                <tr>
                    <td>{$val.time|date="Y-m-d H:i:s",###}</td>
                    <td>{$val.nickname}</td>
                    <td>
                        <eq name="val.action" value="apply">申请编号</eq>
                        <eq name="val.action" value="initiate"><a href="__ROOT__/File/reviewDetail/id/{$numData.id}/version/{$numData.version}/num/{$val.count}">发起了第 {$val.count} 次评审</a></eq>
                        <eq name="val.action" value="pass">通过评审</eq>
                        <eq name="val.action" value="rollback">撤回评审</eq>
                        <eq name="val.action" value="refuse">拒绝评审</eq>
                        <eq name="val.action" value="upgrade">升级版本</eq>
                    </td>
                </tr>
            </volist>

            </tbody>
        </table>
    </div>

</block>


{//Modal集}
<block name="modals">


    <div class="modal fade" id="Modal-box" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel" style="font-size: 18px;">升级版本</h4>
                </div>

                <form class="layui-form" action="" id="detail_form">
                    <div class="modal-body">

                        <div class="layui-form-item" style="border: 0;">
                            <label class="layui-form-label"  style="width: 75px; padding-right: 15px; text-align: right;" >版本号</label>
                            <div class="layui-input-block" style="margin-left: 75px;">
                                <input type="text" name="version" required  lay-verify="required" placeholder="请输入版本号" autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item "  style="border: 0;">
                            <label class="layui-form-label" style="width: 75px;  padding-right: 15px; text-align: right;">备注</label>
                            <div class="layui-input-block"  style="margin-left: 75px;">
                                <textarea name="context" placeholder="请输入内容" lay-verify="required" class="layui-textarea"></textarea>
                            </div>
                        </div>


                    </div>

                    <input type="hidden" id="file_no" name="file_no" value="{$numData.file_no}">
                    <input type="hidden" id="numberId" name="numberId" value="{$numData.id}">

                    <div class="modal-footer">
                        <button type="button" class="layui-btn layui-btn-primary" data-dismiss="modal">取消</button>
                        <button class="layui-btn" lay-submit lay-filter="submit">立即提交</button>
                    </div>

                </form>

            </div>
        </div>
    </div>



</block>
