<!-- 【模板继承】 -->
<extend name="layout/default"/>
<!-- 【引入css样式表文件】 -->
<block name="linkcss">
    <link rel="stylesheet" href="__CSS__/file/index.css">
</block>
<!-- 【引入javascript文件】 -->
<block name="linkjs">
    <script src="__JS__/file/index.js"></script>
</block>
<!-- 【页面标题】 -->
<block name="webtitle">
    <title>文件管理</title>
</block>
<!-- 【路径导航】 -->
<block name="breadcrumb">
    <ol class="breadcrumb breadcrumb-edit">
        <li class="active">文件管理</li>
    </ol>
</block>
<!-- 【正文区域】 -->
<block name="content">

    <div class="pull-left">
        <a href="__ROOT__/File/apply" class="layui-btn layui-btn-primary">
            编号申请 / 我的编号
        </a>
        <a href="__ROOT__/File/fileRules" class="layui-btn layui-btn-primary">
            文件规则
        </a>
        <a href="__ROOT__/ECN/add" class="layui-btn layui-btn-primary">
            创建ECN
        </a>
        <a href="__ROOT__/ECN/rules" class="layui-btn layui-btn-primary">
            ECN规则
        </a>
    </div>

    <div class="pull-right">
        <form action="__ROOT__/File" method="get" style="position: relative;width: 300px;height: 38px;">
            <input type="text" class="layui-input" name="search" style="width: 300px;" value="{$Think.get.search}">
            <button type="submit" style="position: absolute;right: 0;top: 0;height: 38px;width: 38px;background: none;border: none;line-height: 42px;"><i class="layui-icon">&#xe615;</i></button>
        </form>
    </div>

    <div class="clearfix" style="margin-bottom: 25px;"></div>

    <table class="layui-table">
        <thead>
            <tr>
                <th>文件号</th>
                <th>版本</th>
                <th>状态</th>
                <th>文件描述</th>
                <th>创建人</th>
                <th>发起时间</th>
                <!--<th>操作</th>-->
            </tr>
        </thead>
        <tbody>
            <notempty name="result">
                <volist name="result" id="value">
                    <tr>
                        <td><a href="__ROOT__/File/detail/{$value.filenumber}">{$value.filenumber}</a></td>
                        <td>{$value.version}</td>
                        <td>
                            <span class="{$value.className}">{$value.stateName}</span>
                        </td>
                        <td class="td-wrap" title="{:strip_tags($value['description'])}">
                            <p class="p-wrap">{:strip_tags($value['description'])}</p>
                        </td>
                        <td>{$value.nickname}</td>
                        <td>{$value.createtime|date="Y-m-d H:i:s", ###}</td>
                        <!--<td>
                            <eq name="Think.session.user.id" value="$value.createuser">
                                <in name="value.state" value="WaitingEdit,WaitingReview">
                                    <a href="__ROOT__/File/delete/id/{$value.id}" class="layui-btn layui-btn-primary layui-btn-small">删除</a>
                                <else/>
                                    <button type="button" class="layui-btn layui-btn-primary layui-btn-small layui-btn-disabled">删除</button>
                                </in>
                            <else/>
                                <button type="button" class="layui-btn layui-btn-primary layui-btn-small layui-btn-disabled">删除</button>
                            </eq>
                        </td>-->
                    </tr>
                </volist>
            <else/>
                <tr><td colspan="6" style="text-align: center;padding: 40px 0;">没有数据</td></tr>
            </notempty>
        </tbody>
    </table>


    <!-- 分页 -->
    <ul class="pagination pagination-edit">{$pageShow}</ul>


</block>
