<!-- 【模板继承】 -->
<extend name="layout/default"/>
<!-- 【引入css样式表文件】 -->
<block name="linkcss">
    <link rel="stylesheet" href="__CSS__/sample/detail.css">
    <link rel="stylesheet" href="__PUBLIC__/webuploader/css/webuploader.css">
    <link rel="stylesheet" href="__PUBLIC__/webuploader/css/basic.css">
    <link rel="stylesheet" href="__CSS__/File/reviewDetail.css">
</block>
<!-- 【引入javascript文件】 -->
<block name="linkjs">
    <script src="__PUBLIC__/webuploader/js/webuploader.js"></script>
    <script src="__JS__/File/reviewDetail.js"></script>
</block>
<!-- 【页面标题】 -->
<block name="webtitle">
    <title>评审详情</title>
</block>
<!-- 【路径导航】 -->
<block name="breadcrumb">
    <ol class="breadcrumb breadcrumb-edit">
        <li class="active"><a href="__ROOT__/File">文件管理</a></li>
        <li class="active">评审详情</li>
    </ol>
</block>

<block name="content">

    <div class="title-bar" style="margin-bottom: 25px;">文件列表</div>

    <div class="pswj-rq">
        <table class="layui-table" lay-skin="line" width="100%">
            <tbody>
                <tr>
                    <td colspan="8">
                        <div class="wjbt-fj">
                            <a href="#" class="pull-left">PTR0000001</a>
                            <a href="#" class="fj-mc"><small class="pull-right"><i class="file-icon file-icon-ext-docx"></i> PTR0000001_V1.0_APSPC59WM3CDL70C.docx</small></a>
                            <div class="clearfix"></div>
                        </div>
                        <div class="wj-ms">
                            APSPC59WM3CDL70C 定制品 PTR评审
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>版本</td>
                    <td>V1.0</td>
                    <td>评审次数</td>
                    <td>第 1 次评审</td>
                    <td>发起人</td>
                    <td>肖艾佑</td>
                    <td>发起时间</td>
                    <td>2017-08-25 14:00:34</td>
                </tr>
            </tbody>
        </table>

        <table class="layui-table" lay-skin="line" width="100%">
            <tbody>
                <tr>
                    <td colspan="8">
                        <div class="wjbt-fj">
                            <a href="#" class="pull-left">PTR0000001</a>
                            <a href="#" class="fj-mc"><small class="pull-right"><i class="file-icon file-icon-ext-xls"></i> PTR0000001_V1.0_APSPC59WM3CDL70C.xls</small></a>
                            <div class="clearfix"></div>
                        </div>
                        <div class="wj-ms">
                            APSPC59WM3CDL70C 定制品 PTR评审
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>版本</td>
                    <td>V1.0</td>
                    <td>评审次数</td>
                    <td>第 1 次评审</td>
                    <td>发起人</td>
                    <td>肖艾佑</td>
                    <td>发起时间</td>
                    <td>2017-08-25 14:00:34</td>
                </tr>
            </tbody>
        </table>
    </div>


    <div class="title-bar" style="margin: 50px 0 25px 0;">评审进度</div>

    <table class="layui-table">
        <thead>
            <tr>
                <th>评审步骤</th>
                <th>评审人</th>
                <th>评审时间</th>
                <th>状态</th>
                <th>备注信息</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="3">1 级评审</td>
                <td>肖艾佑</td>
                <td>2017-08-09 16:22:29</td>
                <td><span class="tag tag-success">已通过</span></td>
                <td>1.经确认EED为客户定制要求；</td>
            </tr>
            <tr>
                <td>胡磊</td>
                <td>2017-08-04 16:30:02</td>
                <td><span class="tag tag-success">已通过</span></td>
                <td>此产品需要新建成品料号和产品BOM，标签定制。</td>
            </tr>
            <tr>
                <td>何志贤</td>
                <td>2017-08-04 16:30:02</td>
                <td><span class="tag tag-success">已通过</span></td>
                <td>产品性能无定制要求。</td>
            </tr>
            <tr>
                <td rowspan="2">2 级评审</td>
                <td>肖艾佑</td>
                <td>2017-08-09 16:22:29</td>
                <td><span class="tag tag-success">已通过</span></td>
                <td>1.经确认EED为客户定制要求；</td>
            </tr>
            <tr>
                <td>胡磊</td>
                <td>2017-08-04 16:30:02</td>
                <td><span class="tag tag-success">已通过</span></td>
                <td>此产品需要新建成品料号和产品BOM，标签定制。</td>
            </tr>
            <tr>
                <td>3 级评审</td>
                <td>何志贤</td>
                <td>2017-08-10 11:49:39</td>
                <td><span class="tag tag-success">已通过</span></td>
                <td>产品性能无定制要求。</td>
            </tr>
            <tr>
                <td>DCC评审</td>
                <td>邓丽</td>
                <td>2017-08-10 13:30:12</td>
                <td><span class="tag tag-success">已通过</span></td>
                <td>同意归档。</td>
            </tr>
        </tbody>
    </table>

</block>


{//Modal集}
<block name="modals">



</block>

