<!-- 【模板继承】 -->
<extend name="layout/default"/>
<!-- 【引入css样式表文件】 -->
<block name="linkcss">
    <link rel="stylesheet" href="__PUBLIC__/webuploader/css/webuploader.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/File/review.css">
</block>
<!-- 【引入javascript文件】 -->
<block name="linkjs">
    <script src="__PUBLIC__/webuploader/js/webuploader.js"></script>
    <script src="__PUBLIC__/Home/js/File/review.js"></script>
</block>
<!-- 【页面标题】 -->
<block name="webtitle">
    <title>文件评审</title>
</block>
<!-- 【路径导航】 -->
<block name="breadcrumb">
    <ol class="breadcrumb breadcrumb-edit">
        <li class="active"><a href="__ROOT__/File">文件管理</a></li>
        <li class="active">文件评审</li>
    </ol>
</block>
<block name="content">

    <div class="title-bar" style="margin: 0 0 30px 0;">
        <h4>文件评审</h4>
    </div>

    <div style="min-height: 120px ">
        <form class="layui-form" id="form">

            <div class="item-box">
                <div class="layui-form-item">
                    <label class="layui-form-label">描述</label>
                    <div class="layui-input-block">
                        <textarea name="title" placeholder="请输入内容" class="layui-textarea"></textarea>
                    </div>
                </div>
            </div>

            <div class="item-box">
                <div class="layui-form-item">
                    <label class="layui-form-label">文件</label>
                    <div class="layui-input-block">
                        <div class="fileNo-box">
                            <div class="fl-tab"></div>
                            <div class="add-fl"><i class="layui-icon">&#xe654;</i> 添加文件</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item-box item-flt">
                <div class="step-box">
                    <div class="layui-form-item ">
                        <label class="layui-form-label">评审规则</label>
                        <div class="layui-input-block" style="width:468px;">
                            <select name="revRules" class="revRules" lay-filter="revRules">
                                <option value=""></option>
                                <volist name="revRule" id="value">
                                    <option value="{$value.id}">{$value.name}</option>
                                </volist>
                            </select>
                        </div>
                    </div>

                    <div class="reviewGrade"></div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">DCC评审</label>
                        <div class="layui-input-block" style="width:468px;">
                            <select name="DCC" class="Dcc" lay-filter="dcc">
                                <volist name="DccPostUsers" id="value">
                                    <option value="{$value.id}">{$value.nickname}</option>
                                </volist>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="step">

                </div>
            </div>

            <div class="layui-form-item btn-add">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="submit">立即提交</button>
                </div>
            </div>
        </form>
        <div class="prompt">

        </div>
    </div>

    <div class="file-box sr-only">
        <div class="file-detail">
            <table class="layui-table">
                <colgroup>
                    <col width="150">
                    <col width="200">
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th>文件号</th>
                    <th>版本号</th>
                    <th>附件</th>
                    <th>文件描述</th>
                    <th width="60">选择</th>
                </tr>
                </thead>
                <tbody>
                <volist name="numberData" id="value" key="key">
                    <tr>
                        <td>{$value.file_no}</td>
                        <td width="100">{$value.version}</td>
                        <td>
                            <volist name="value.attachment" id="val">
                                <div class="file-item">
                                    <div class="file-info" style="width:200px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;"><i class="file-icon file-icon-ext-{$val.ext}"></i>&nbsp;&nbsp;<a href="__ROOT__/{$val.path}" target="_blank" title="{$val.savename}">{$val.savename}</a></div>
                                </div>
                            </volist>
                        </td>
                        <td class="fl-ctx" title="{$value.content}">{$value.content}</td>
                        <td><a class="add-a" fid="{$value.id}" fileName="{$value.file_no}">添加</a></td>
                    </tr>
                </volist>
                </tbody>
            </table>
        </div>
    </div>

    <script>
        var numberData = <php>echo json_encode( $numberData )</php>;

        var selecteds = [];     // 所有选中的文件号

        /**
         * 刷新文件列表
         * @param numberData 目标数据
         * @param tableHead 是否需要表头
         * @param addBtn 是否需要添加按钮
         * @returns {string}
         */
        function refushFileList(numberData, tableHead = true, addBtn = false){
            let tmpHtml = '<table class="layui-table">';
            if( tableHead ){
                tmpHtml += '<thead>';
                tmpHtml += '<tr>';
                tmpHtml += '<th>文件号</th>';
                tmpHtml += '<th>版本号</th>';
                tmpHtml += '<th>附件</th>';
                tmpHtml += '<th>文件描述</th>';
                if( addBtn ){
                    tmpHtml += '<th>选择</th>';
                }
                tmpHtml += '</tr>';
                tmpHtml += '</thead>';
            }
            tmpHtml += '<tbody>';
            if( numberData.length > 0 ){
                for( let key in numberData ){
                    tmpHtml += '<tr>';
                    tmpHtml += '<td>'+ numberData[key].file_no +'</td>';
                    tmpHtml += '<td width="100">'+ numberData[key].version +'</td>';
                    if( numberData[key].attachment.length > 0 ){
                        tmpHtml += '<td>';
                        for( let atm in numberData[key].attachment ){
                            tmpHtml += '<div class="file-item">' +
                                '<div class="file-info" style="width:200px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;"><i class="file-icon file-icon-ext-'+ numberData[key].attachment[atm].ext +'"></i>&nbsp;&nbsp;<a href="'+ ThinkPHP['ROOT'] +'/'+ numberData[key].attachment[atm].path +'" target="_blank" title="'+ numberData[key].attachment[atm].path +'">'+ numberData[key].attachment[atm].savename +'</a></div>' +
                                '</div>';
                        }
                        tmpHtml += '</td>';
                    }
                    tmpHtml += '<td class="fl-ctx" title="'+ numberData[key].content +'"><div style="width:400px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">'+ numberData[key].content +'</div></td>';
                    if( addBtn ){
                        tmpHtml += '<td><a class="add-a" onclick="pushSelecteds(this ,'+ key +')" fid="'+ numberData[key].id +'" fileName="'+ numberData[key].file_no +'">添加</a></td>';
                    }else{
                        tmpHtml += '<td width="80"><a class="add-a" onclick="removeActive(this ,'+ key +')" fid="'+ numberData[key].id +'" fileName="'+ numberData[key].file_no +'">移除</a></td>';
                    }
                    tmpHtml += '</tr>';
                }
            }else{
                tmpHtml += '<tr>';
                if( addBtn ){
                    tmpHtml += '<td colspan="5" style="text-align: center;padding: 20px 0;">没有数据</td>';
                }else{
                    if( tableHead ){
                        tmpHtml += '<td colspan="4" style="text-align: center;padding: 20px 0;">没有数据</td>';
                    }
                }
                tmpHtml += '</tr>';
            }
            tmpHtml += '</tbody>';
            tmpHtml += '</table>';
            return tmpHtml;
        }

        function pushSelecteds(_this, index){
            let _tr = $(_this).parents('tr');
            _tr.remove();
            selecteds.push(numberData[index]);
            numberData.splice(index, 1);
            var selectedHtml = refushFileList(selecteds, false, false);
            $('.fl-tab').html(selectedHtml);
            if( selecteds.length > 0 ){
                $('.add-fl').css({marginTop: '15px'});
            }else{
                $('.add-fl').css({marginTop: '0'});
            }
            layer.closeAll();
        }

        function removeActive(_this, index){
            let _tr = $(_this).parents('tr');
            _tr.remove();
            numberData.push(selecteds[index]);
            selecteds.splice(index, 1);
            var selectedHtml = refushFileList(selecteds, false, false);
            $('.fl-tab').html(selectedHtml);
            if( selecteds.length > 0 ){
                $('.add-fl').css({marginTop: '15px'});
            }else{
                $('.add-fl').css({marginTop: '0'});
            }
            layer.closeAll();
        }
    </script>

</block>