<!-- 【模板继承】 -->
<extend name="layout/default"/>
<!-- 【引入css样式表文件】 -->
<block name="linkcss">
    <link rel="stylesheet" href="__PUBLIC__/webuploader/css/webuploader.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/File/review.css">
</block>
<!-- 【引入javascript文件】 -->
<block name="linkjs">
    <script src="__PUBLIC__/webuploader/js/webuploader.js"></script>
    <script src="__PUBLIC__/Home/js/File/review.js"></script>
</block>
<!-- 【页面标题】 -->
<block name="webtitle">
    <title>文件评审</title>
</block>
<!-- 【路径导航】 -->
<block name="breadcrumb">
    <ol class="breadcrumb breadcrumb-edit">
        <li class="active"><a href="__ROOT__/File">文件管理</a></li>
        <li class="active">文件评审</li>
    </ol>
</block>
<block name="content">

    <div class="title-bar" style="margin: 0 0 30px 0;">
        <h4>文件评审</h4>
    </div>

    <div style="min-height: 120px ">
        <form class="layui-form" id="form">

            <div class="layui-form-item">
                <label class="layui-form-label">评审规则</label>
                <div class="layui-input-block">
                    <select name="revRules" class="revRules" lay-filter="revRules">
                        <option value=""></option>
                        <volist name="revRule" id="value">
                            <option value="{$value.id}">{$value.name}</option>
                        </volist>
                    </select>
                </div>
            </div>

            <div class="reviewGrade"></div>

            <div class="layui-form-item">
                <label class="layui-form-label">DCC评审</label>
                <div class="layui-input-block">
                    <select name="DCC" class="Dcc" lay-filter="dcc">
                        <volist name="DccPostUsers" id="value">
                            <option value="{$value.id}">{$value.nickname}</option>
                        </volist>
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">文件</label>
                <div class="layui-input-block">
                    <div class="fileNo-box"></div>
                </div>
            </div>


            <div class="layui-form-item btn-add">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="submit">立即提交</button>
                </div>
            </div>

        </form>
        <div class="prompt">

        </div>
    </div>

    <div class="title-bar file_info" style="margin: 20px 0 20px 0;">
        <h4>文件信息</h4>
    </div>

    <div class="file-detail">
        <table class="layui-table">
            <colgroup>
                <col width="150">
                <col width="200">
                <col>
            </colgroup>
            <thead>
            <tr>
                <th>文件号</th>
                <th>附件</th>
                <th>文件描述</th>
                <th>版本号</th>
                <th width="60">选择</th>
            </tr>
            </thead>
            <tbody>
            <volist name="numberData" id="value" key="key">
                <tr>
                    <td>{$value.file_no}</td>
                    <td>
                        <volist name="value.attachment" id="val">
                            <div class="file-item">
                                <div class="file-info" style="width:200px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;"><i class="file-icon file-icon-ext-{$val.ext}"></i>&nbsp;&nbsp;<a href="__ROOT__/{$val.path}" target="_blank" title="{$val.savename}">{$val.savename}</a></div>
                            </div>
                        </volist>
                    </td>
                    <td>{$value.content}</td>
                    <td>{$value.version}</td>
                    <td><a href="javascript:void(0);" class="add-a" fid="{$value.id}" fileName="{$value.file_no}">添加</a></td>
                </tr>
            </volist>
            </tbody>
        </table>
    </div>


</block>