<!-- 【模板继承】 -->
<extend name="layout/default"/>
<!-- 【引入css样式表文件】 -->
<block name="linkcss">
	<link rel="stylesheet" href="__CSS__/thumbword.css">
</block>
<!-- 【引入javascript文件】 -->
<block name="linkjs">

</block>
<!-- 【页面标题】 -->
<block name="webtitle">
	<title>缩略词</title>
</block>
<!-- 【路径导航】 -->
<block name="breadcrumb">
	<ol class="breadcrumb breadcrumb-edit">
		<li class="active">缩略词</li>
	</ol>
</block>
<!-- 【正文区域】 -->
<block name="content">
	<!--<div class="commingSoon">
		<p><i class="icon-info-sign icon-5x"></i></p>
		<h1>功能研发中</h1>
		<p>Function is developing</p>
		<p>Comming Soon.</p>
	</div>-->


	<div class="pull-left">
		<a href="__ROOT__/Acronym/add" class="layui-btn layui-btn-primary">
			<span class="glyphicon glyphicon-plus"></span> 添加缩略词
		</a>
	</div>

	<div class="clearfix" style="margin-bottom: 15px;"></div>


	<ul class="letter">
		<span>分类：</span>
		<volist name="acronym" id="value">
			<li><a href="#{$key}">{$key}</a></li>
		</volist>
	</ul>
	<volist name="acronym" id="value">
		<a name="{$key}" class="category"><i class="icon-caret-right"></i>{$key}</a>
		<volist name="value" id="val">
			<div class="acronym-box">
				<div class="wrap-heading">
					<a href="__ROOT__/Acronym/details/id/{$val.id}" class="jc-p"><p>{$val.acronym}</p></a>
				</div>
				<!--<div class="wrap-footer">
					<p class="qc-p">{$val.full_name}</p>
					<p class="yy-p">{$val.meaning}</p>
				</div>-->
			</div>
		</volist>
	</volist>

	<!-- 回到顶部按钮 -->
	<div id="backtop">
		<span class="">回到<br/>顶部</span>
	</div>

</block>






























