.approval-container .layui-form-label {
    width: 45px;
    text-align: left;
    padding-right: 0;
    padding-left: 0;
}
.approval-container .layui-input-block {
    margin-left: 45px;
}
.approval-container .layui-form-item {
    margin-bottom: 0;
}
.basic-container .layui-form-item {
    padding: 0 18px;
}


.basic-container .layui-form-label {
    width: 75px;
    text-align: left;
    padding-right: 0;
    padding-left: 0;
}
.basic-container .layui-input-block {
    margin-left: 75px;
}

.approval-container {

}
.basic-container {
    margin-top: 15px;
}
.approval-container .wrapper-item {
    display: flex;
    vertical-align: middle;
    border: solid 1px #fff;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}
.approval-container .wrapper-item:hover {
    background: #f5f5f5;
}
.approval-container .wrapper-item .approval-number p {
    height: 38px;
    line-height: 38px;
    font-size: 16px;
    font-weight: 600;
}
.approval-container .wrapper-item .approval-item {
    flex: 10;
    padding: 25px 15px;
}
.approval-container .wrapper-item .approval-item:first-child {
    flex: 3;
}
.approval-container .wrapper-item .approval-item:last-child {
    flex: 4;
}
.button-wrapper {
    margin-bottom: 200px;
    padding-left: 15px;
    padding-top: 20px;
}