.approval-wrapper .layui-table {
    border: none;
}
.approval-wrapper .layui-table tbody tr:last-child td {
    border-bottom: none;
}
.approval-wrapper .layui-tab-title li {
    padding: 0 20px;
}
.approval-wrapper .layui-tab-title li a {
    color: #333;
}
.approval-wrapper .layui-tab-title li a:hover {
    color: #428bca;
}
.approval-wrapper .layui-tab-title .layui-this {
    background: #fff;
}
.approval-wrapper .layui-tab-title .layui-this a {
    color: #428bca;
}
.approval-wrapper .layui-tab-content {
    padding: 10px 0 0 0;
}
.approval-wrapper .layui-tab-content .layui-tab-item {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.approval-wrapper .layui-tab-content .layui-tab-item .layui-form .layui-form-item {
    margin-bottom: 25px;
}
.approval-wrapper .layui-tab-content .layui-tab-item .layui-form .layui-form-label {
    padding-left:0;
    text-align: right;
    width: 60px;
}
.approval-wrapper .layui-tab-content .layui-tab-item .layui-form .layui-input-block {
    margin-left: 60px;
}
.approval-wrapper .layui-tab-content .layui-tab-item .init-apr {
    display: flex;
}
.approval-wrapper .layui-tab-content .layui-tab-item .init-apr .apr-box {
    padding: 15px;
}
.approval-wrapper .layui-tab-content .layui-tab-item .init-apr .apr-box:first-child {
    flex: 1;
}
.approval-wrapper .layui-tab-content .layui-tab-item .init-apr .apr-box:last-child {
    flex: 1;
}
.approval-wrapper .layui-tab-content .layui-tab-item .init-apr .apr-box .apr-preview {
    margin-top: 20px;
}
.approval-wrapper .layui-tab-content .layui-tab-item .init-apr .apr-box .apr-preview ul li {
    padding: 9px 15px 9px 20px;
    border: solid 1px #ddd;
    background: #f5f5f5;
    margin-bottom: 20px;
}

.approval-wrapper .layui-table tbody tr td p img {
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-right: 10px;
    overflow: hidden;
}

