/*重写layui规则*/
.layui-collapse {
	margin-bottom: 20px;
}
.layui-colla-title {
	padding-left: 15px;
	cursor: default;
}
.layui-colla-content {
	min-height: 63px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.sample-main-left {
	padding-right: 5px;
}
.sample-main-right {
	padding-left: 5px;
}
/* .file-item {
	margin-bottom: 10px;
}
.file-item:last-child {
	margin-bottom: 0;
}; */


/*附件列表*/
.file-item {
	width: 25%;
	padding: 10px 10px 10px 0;
	display: inline-block;
}
.file-item .file-info {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}


.last-row {
	margin-top: 10px;
}


.step-container {
	margin-bottom: 25px;
}
.type_style{
    width: 210px;

}
.type_dsp{
    position: relative;
    right: -165px;
    top:-38px;
}

a {
	color: #428bca;
}


.procedure .procedure-table .procedure-wrap td .procedure-title .myTooltip {
	color: #f0ad4e;
	position: relative;
	cursor: default;
}
.procedure .procedure-table .procedure-wrap td .procedure-title .myTooltip .popover-box {
	position: absolute;
	width: 400px;
	left: 50%;
	top: 25px;
	margin-left: -200px;
	background: #fff;
	z-index: 999;
	border: solid 1px #ccc;
	padding: 10px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.procedure .procedure-table .procedure-wrap td:last-child .procedure-title .myTooltip .popover-box {
	left: -139px;
}
.procedure .procedure-table .procedure-wrap td .procedure-title .myTooltip .popover-box:after {
	content: '';
	width: 14px;
	height: 14px;
	position: absolute;
	top: -14px;
	left: 50%;
	margin-left: -8px;
	background: url("../../img/arrow_up_border_ccc.png") center center no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
}
.procedure .procedure-table .procedure-wrap td:last-child .procedure-title .myTooltip .popover-box:after {
	left: 346px;
}
.procedure .procedure-table .procedure-wrap td .procedure-title .myTooltip .popover-box .log-box {
	text-align: left;
	color: #555;
	font-size: 12px;
	padding: 0 0 10px 0;
	margin-bottom: 10px;
	border-bottom: solid 1px #eee;
}
.procedure .procedure-table .procedure-wrap td .procedure-title .myTooltip .popover-box .log-box .log-box-time {
	margin-right: 15px;
}
.procedure .procedure-table .procedure-wrap td .procedure-title .myTooltip .popover-box .log-box:last-child {
	padding-bottom: 0;
	margin-bottom: 0;
	border-bottom: none;
}

.layui-collapse .due-time,.layui-collapse .logistics-item {
	margin-right: 50px;
}
.layui-collapse .due-time:last-child {
	margin-right: 0;
}


.view-all-logs {
	color: #428bca;
	cursor: pointer;
}
.view-all-logs:hover {
	color: #286090;
}





/*** 审核按钮 ***/
.solo_order{
	background:#81c0f2;
	width: 56px;
	height: 56px;
	position: fixed;
	bottom: 60px;
	right: 60px;
	z-index: 1;
	border-radius: 2px;
	text-align: center;
	cursor: pointer;
	color: #fff;
	font-size: 20px;
	border: 0;
	padding: 3px 0 0 0;
}
.solo_order p {
	text-align: center;
	font-size: 22px;
}
.solo_order p:last-child {
	font-size: 12px;
}
.solo_order:hover{
	background:#428bca;
	color: #fff;
}

.solo_box #solo_pass{
	width:500px;
	height: 500px;
	position: fixed;
	z-index: 999;
	top: 200px;
	background: #efefef;
	left: 40%;
}
.solo_box #solo_pass .detai_pass{
	width: 300px;
}

.log-table {
	width: 100%;
}
.log-table tbody tr {
	border-bottom: solid 1px #eee;
}
.log-table tbody tr td {
	padding-top: 15px;
	padding-bottom: 15px;
	vertical-align: top;
}
.log-table tbody tr:last-child {
	border-bottom: none;
}
.log-table tbody tr:last-child td {
	padding-bottom: 0;
}
.log-table tbody tr:first-child td {
	padding-top: 0;
}
.log-table tbody tr td:last-child p:last-child {
	font-size: 12px;
	color: #bbb;
}
.log-table tbody tr td:first-child {
	width: 55px;
	text-align: center;
}
.log-table tbody tr td:first-child img {
	display: block;
	width: 40px;
	height: 40px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.operation-type .layui-form-select {
	width: 260px;
}
#operating-person .layui-form-select,#transfer-person .layui-form-select,#rollback-person .layui-form-select {
	width: 180px;
}
.logistics .layui-form-select {
	width: 180px;
}
.push-email{

}

.abc{
	width:100%;
	height: 200px;
	background: red;
}

/*** 抄送 ***/
#ccBox {
	margin-bottom: 15px;
	border: solid 1px #e6e6e6;
	padding: 10px;
}
#ccBox .layui-form-checkbox {
	margin-top: 10px;
}
#ccBox .layui-form-checkbox span {
	width: 67px;
	text-align: center;
	padding: 0;
}
#ccBox .cc-box-title,#ccBox .cc-box-body {

}
#ccBox .cc-box-title {
	border-bottom: solid 1px #e6e6e6;
}

#all-cc-list {
	margin-bottom: 10px;
}
#all-cc-list .cc-list-item {
	font-size: 12px;
	display: inline-block;
	width: 67px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	cursor: pointer;
	border: solid 1px #e6e6e6;
	position: relative;
	margin-bottom: 5px;
}
#all-cc-list .cc-list-item .icon-remove {
	color: #e6e6e6;
}
#all-cc-list .cc-list-item:hover .icon-remove {
	color: #d9534f;
}
#all-cc-list .cc-list-item:hover {
	border: solid 1px #d9534f;
}






