
<extend name="layout/default"/>

<block name="linkcss">
	<link rel="stylesheet" href="__CSS__/sample/index.css">
</block>

<block name="linkjs">
	<script src="__JS__/sample-index.js"></script>
</block>

<block name="webtitle">
	<title>ATOP</title>
</block>

<block name="breadcrumb">
	<ol class="breadcrumb breadcrumb-edit">
		<li class="active">样品管理</li>
	</ol>
</block>

<block name="content">

	<div class="pull-left">
		<a href="__ROOT__/Sample/summary" class="layui-btn layui-btn-primary">
			<i class="icon-list"></i> 样品汇总
		</a>
		<eq name="Think.session.user.department" value="4">
			<a href="__ROOT__/Sample/add" class="layui-btn layui-btn-primary">
				<i class="icon-plus"></i> 我要下单
			</a>
		</eq>
		<present name="search">
			<a href="__ROOT__/Sample" class="layui-btn layui-btn-danger clear-condition">清除条件</a>
		</present>

	</div>


	<div class="pull-right search-box">
		<form id="SearchHiddenForm" class="layui-form" action="__ROOT__/Sample" method="get">
			<input type="text" name="search" id="SearchText" class="layui-input search-input" value="<present name='search'>{$search}</present>" placeholder="搜索订单号或销售">
			<button class="layui-btn layui-btn-primary search-btn" id="submitSearch" type="submit"><i class="layui-icon">&#xe615;</i></button>
		</form>
	</div>

	<div class="clearfix" style="margin-bottom: 15px;"></div>



	<volist name="sampleResult" id="value" empty="$empty">

		<div class="col-lg-4">
			<div class="order-box">
				<div class="order-heading {$value.state}">
					<span class="sales-info">
						<a href="__ROOT__/Sample?search={$value.create_person_name}" style="display: block; margin-bottom: 6px;">
							<img src="{$value.face}" alt="..." class="saleorder-face">
						</a>
						<p style="line-height: 16px;">{$value.create_person_name}</p>
						<p style="line-height: 16px;">{$value.create_time|date="Y-m-d",###}</p>
					</span>
					<div class="sample_order_charge">
						<h4>
							<a href="__ROOT__/Sample/overview/id/{$value.id}">{$value.order_num}</a>
							<notempty name="value.order_charge">
								<span class="paid-sign">{$value.order_charge}</span>
							</notempty>

						</h4>
					</div>
				</div>
				<div class="order-body">
					<if condition="count($value['child']) lt 2">
						<p>{$value.child.0.type} | {$value.child.0.pn}</p>
					<elseif condition="count($value['child']) eq 2"/>
						<p>{$value.child.0.type} | {$value.child.0.pn}</p>
						<p>{$value.child.1.type} | {$value.child.1.pn}</p>
					<else/>
						<p>{$value.child.0.type} | {$value.child.0.pn}</p>
						<p>{$value.child.1.type} | {$value.child.1.pn}</p>
						<p>等{:count($value['child'])}个产品</p>
					</if>
				</div>
			</div>
		</div>
	</volist>

	<div class="clearfix"></div>
	<!-- 分页 -->
	<ul class="pagination pagination-edit">{$page}</ul>

</block>
















