
<extend name="layout/default"/>

<block name="linkcss">
	<link rel="stylesheet" href="__CSS__/sample-index.css">
</block>

<block name="linkjs">
	<script src="__JS__/sample-index.js"></script>
</block>

<block name="webtitle">
	<title>ATOP</title>
</block>

<block name="breadcrumb">
	<ol class="breadcrumb breadcrumb-edit">
		<li class="active">样品管理</li>
	</ol>
</block>

<block name="content">

	<div class="pull-left">
		<!--<a href="__ROOT__/sampleChart" class="layui-btn layui-btn-primary">
			<span class="glyphicon glyphicon-th"></span> 样品统计
		</a>-->
		<eq name="Think.session.user.department" value="4">
			<a href="__ROOT__/Sample/add" class="layui-btn layui-btn-primary">
				<span class="glyphicon glyphicon-plus"></span> 我要下单
			</a>
		</eq>
		<present name="search">
			<a href="__ROOT__/Sample" class="layui-btn layui-btn-danger clear-condition">清除条件</a>
		</present>

	</div>


	<div class="pull-right search-box">
		<form id="SearchHiddenForm" class="layui-form" action="__ROOT__/Sample" method="get">
			<input type="text" name="search" id="SearchText" class="layui-input search-input" value="<present name='search'>{$search}</present>" placeholder="搜索订单号或销售">
			<button class="layui-btn layui-btn-primary search-btn" id="submitSearch" type="submit"><i class="layui-icon">&#xe615;</i></button>
		</form>
	</div>

	<div class="clearfix" style="margin-bottom: 15px;"></div>



	<volist name="sampleResult" id="value" empty="$empty">

		<div class="col-lg-4">
			<div class="order-box">
				<present name="value.color">
					<div class="order-heading" style="background:{$value.color};">
				<else/>
					<div class="order-heading" style="background: {$value.label};">
				</present>
					<span>
						<a href="__ROOT__/Sample?search={$value.nickname}"><img src="{$value.u.0.face}" alt="..." class="saleorder-face"></a>
						<p>{$value.create_person_name}</p>
						<p>{$value.create_time|date="Y-m-d",###}</p>
					</span>
					<div class="sample_order_charge">
						<h4><a href="__ROOT__/Sample/overview/id/{$value.id}">{$value.order_num}</a><span class="icon-time" id="span"> {$value.order_charge}</span></h4>
					</div>
				</div>
				<div class="order-body">
					<if condition="$value.total lt 2">
						<p>{$value.child.0.model} | {$value.child.0.brand}</p>
					<elseif condition="$value.total elt 2"/>
						<p>{$value.child.0.model} | {$value.child.0.brand}</p>
						<p>{$value.child.1.model} | {$value.child.1.brand}</p>
					<else/>
						<p>{$value.child.0.model} | {$value.child.0.brand}</p>
						<p>{$value.child.1.model} | {$value.child.1.brand}</p>
						<p>等{$value.total}个产品</p>
					</if>
				</div>
				<!--<div class="order-footer">
					<p><i class="icon-user">&nbsp;</i>销售：{$value.nickname}　　　<i class="icon-time">&nbsp;</i>订单创建时间：{$value.createtime|date="Y-m-d H:i:s",###}</p>
				</div>-->
			</div>
		</div>
	</volist>

	<div class="clearfix"></div>
	<!-- 分页 -->
	<ul class="pagination pagination-edit">{$page}</ul>

</block>
















