<!-- 【模板继承】 -->
<extend name="layout/default"/>
<!-- 【引入css样式表文件】 -->
<block name="linkcss">
    <style>
        .wrap-container {
            padding-bottom: 300px;
        }
        .ol-padding {
            list-style-type: square !important;
            margin-left: 30px;
        }
        code {
            background: none;
            color: #555;
            font-size: 14px;
        }
        .ol-padding li {
            padding: 8px 0;
            border-bottom: solid 1px #eee;
        }
        .ol-padding .page-header {
            margin: 30px 0 0 0;
            border-bottom: none;
        }
        .ol-padding .page-header h4 {
            padding: 5px 15px;
            background: #666;
            color: #fff;
            font-size: 18px;
        }
    </style>
</block>
<!-- 【引入javascript文件】 -->
<block name="linkjs"></block>
<!-- 【页面标题】 -->
<block name="webtitle">
    <title>ATOP</title>
</block>
<!-- 【路径导航】 -->
<block name="breadcrumb">
    <ol class="breadcrumb breadcrumb-edit">
        <li><a href="__ROOT__/Sample">样品管理</a></li>
        <li class="active"><a href="__ROOT__/Sample/details/order/{$order}">样品详情</a></li>
        <li class="active">所有日志</li>
    </ol>
</block>
<!-- 【正文区域】 -->
<block name="content">
    <div class="col-lg-8 col-lg-offset-2 wrap-container">
        <div class="page-header">
            <h2><i class="icon-bullhorn">&nbsp;&nbsp;</i>所有日志</h2>
        </div>
        <ul class="ol-padding">
            <!--审核步骤日志-->
            <div class="page-header"><h4>审核</h4></div>
            <present name="allLog.s_comment.save">
                <volist name="allLog.s_comment.save" id="value">
                    <notempty name="value.message">
                        <li><p><code>{$value.time|date="Y-m-d H:i:s",###}</code>&nbsp;&nbsp;【{$value.manager}】{$value.message}</p></li>
                    </notempty>
                </volist>
            </present>
            <present name="allLog.s_comment.success">
                <volist name="allLog.s_comment.success" id="value">
                    <notempty name="value.message">
                        <li><p><code>{$value.time|date="Y-m-d H:i:s",###}</code>&nbsp;&nbsp;【{$value.manager}】{$value.message}</p></li>
                    </notempty>
                </volist>
            </present>
            <present name="allLog.s_comment.error">
                <volist name="allLog.s_comment.error" id="value">
                    <notempty name="value.message">
                        <li><p><code>{$value.time|date="Y-m-d H:i:s",###}</code>&nbsp;&nbsp;【{$value.manager}】{$value.message}</p></li>
                    </notempty>
                </volist>
            </present>
            <!--物料准备步骤日志-->
            <div class="page-header"><h4>物料准备</h4></div>
            <present name="allLog.w_comment.save">
                <volist name="allLog.w_comment.save" id="value">
                    <notempty name="value.message">
                        <li><p><code>{$value.time|date="Y-m-d H:i:s",###}</code>&nbsp;&nbsp;【{$value.manager}】{$value.message}</p></li>
                    </notempty>
                </volist>
            </present>
            <present name="allLog.w_comment.success">
                <volist name="allLog.w_comment.success" id="value">
                    <notempty name="value.message">
                        <li><p><code>{$value.time|date="Y-m-d H:i:s",###}</code>&nbsp;&nbsp;【{$value.manager}】{$value.message}</p></li>
                    </notempty>
                </volist>
            </present>
            <present name="allLog.w_comment.error">
                <volist name="allLog.w_comment.error" id="value">
                    <notempty name="value.message">
                        <li><p><code>{$value.time|date="Y-m-d H:i:s",###}</code>&nbsp;&nbsp;【{$value.manager}】{$value.message}</p></li>
                    </notempty>
                </volist>
            </present>
            <!--样品制作步骤日志-->
            <div class="page-header"><h4>样品制作</h4></div>
            <present name="allLog.c_comment.save">
                <volist name="allLog.c_comment.save" id="value">
                    <notempty name="value.message">
                        <li><p><code>{$value.time|date="Y-m-d H:i:s",###}</code>&nbsp;&nbsp;【{$value.manager}】{$value.message}</p></li>
                    </notempty>
                </volist>
            </present>
            <present name="allLog.c_comment.success">
                <volist name="allLog.c_comment.success" id="value">
                    <notempty name="value.message">
                        <li><p><code>{$value.time|date="Y-m-d H:i:s",###}</code>&nbsp;&nbsp;【{$value.manager}】{$value.message}</p></li>
                    </notempty>
                </volist>
            </present>
            <present name="allLog.c_comment.error">
                <volist name="allLog.c_comment.error" id="value">
                    <notempty name="value.message">
                        <li><p><code>{$value.time|date="Y-m-d H:i:s",###}</code>&nbsp;&nbsp;【{$value.manager}】{$value.message}</p></li>
                    </notempty>
                </volist>
            </present>
            <!--样品测试步骤日志-->
            <div class="page-header"><h4>样品测试</h4></div>
            <present name="allLog.y_comment.save">
                <volist name="allLog.y_comment.save" id="value">
                    <notempty name="value.message">
                        <li><p><code>{$value.time|date="Y-m-d H:i:s",###}</code>&nbsp;&nbsp;【{$value.manager}】{$value.message}</p></li>
                    </notempty>
                </volist>
            </present>
            <present name="allLog.y_comment.success">
                <volist name="allLog.y_comment.success" id="value">
                    <notempty name="value.message">
                        <li><p><code>{$value.time|date="Y-m-d H:i:s",###}</code>&nbsp;&nbsp;【{$value.manager}】{$value.message}</p></li>
                    </notempty>
                </volist>
            </present>
            <present name="allLog.y_comment.error">
                <volist name="allLog.y_comment.error" id="value">
                    <notempty name="value.message">
                        <li><p><code>{$value.time|date="Y-m-d H:i:s",###}</code>&nbsp;&nbsp;【{$value.manager}】{$value.message}</p></li>
                    </notempty>
                </volist>
            </present>
            <!--发货步骤日志-->
            <div class="page-header"><h4>发货</h4></div>
            <present name="allLog.f_comment.save">
                <volist name="allLog.f_comment.save" id="value">
                    <notempty name="value.message">
                        <li><p><code>{$value.time|date="Y-m-d H:i:s",###}</code>&nbsp;&nbsp;【{$value.manager}】{$value.message}</p></li>
                    </notempty>
                </volist>
            </present>
            <present name="allLog.f_comment.success">
                <volist name="allLog.f_comment.success" id="value">
                    <notempty name="value.message">
                        <li><p><code>{$value.time|date="Y-m-d H:i:s",###}</code>&nbsp;&nbsp;【{$value.manager}】{$value.message}</p></li>
                    </notempty>
                </volist>
            </present>
            <present name="allLog.f_comment.error">
                <volist name="allLog.f_comment.error" id="value">
                    <notempty name="value.message">
                        <li><p><code>{$value.time|date="Y-m-d H:i:s",###}</code>&nbsp;&nbsp;【{$value.manager}】{$value.message}</p></li>
                    </notempty>
                </volist>
            </present>
            <!--反馈步骤日志-->
            <div class="page-header"><h4>反馈</h4></div>
            <present name="allLog.k_comment.save">
                <volist name="allLog.k_comment.save" id="value">
                    <notempty name="value.message">
                        <li><p><code>{$value.time|date="Y-m-d H:i:s",###}</code>&nbsp;&nbsp;【{$value.manager}】{$value.message}</p></li>
                    </notempty>
                </volist>
            </present>
            <present name="allLog.k_comment.success">
                <volist name="allLog.k_comment.success" id="value">
                    <notempty name="value.message">
                        <li><p><code>{$value.time|date="Y-m-d H:i:s",###}</code>&nbsp;&nbsp;【{$value.manager}】{$value.message}</p></li>
                    </notempty>
                </volist>
            </present>
            <present name="allLog.k_comment.error">
                <volist name="allLog.k_comment.error" id="value">
                    <notempty name="value.message">
                        <li><p><code>{$value.time|date="Y-m-d H:i:s",###}</code>&nbsp;&nbsp;【{$value.manager}】{$value.message}</p></li>
                    </notempty>
                </volist>
            </present>
        </ul>
    </div>
</block>