<!-- 【模板继承】 -->
<extend name="layout/default"/>
<!-- 【引入css样式表文件】 -->
<block name="linkcss">
    <link rel="stylesheet" href="__CSS__/bs-is-fun.css">
    <link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css">
    <link rel="stylesheet" href="__CSS__/sample/overview.css">
    <link rel="stylesheet" href="__CSS__/procedure.css">
</block>
<!-- 【引入javascript文件】 -->
<block name="linkjs">
    <script src="__JS__/jquery.Huploadify.js"></script>
    <script src="__PUBLIC__/layui/layui.js"></script>
    <script src="__JS__/bootstrap-datetimepicker.js"></script>
    <script src="__JS__/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="__JS__/jquery.validate.min.js"></script>
    <script src="__JS__/jquery.form.js"></script>
    <script src="__JS__/sample/overview.js"></script>
</block>
<!-- 【页面标题】 -->
<block name="webtitle">
    <title>样品总览</title>
</block>
<!-- 【路径导航】 -->
<block name="breadcrumb">
    <ol class="breadcrumb breadcrumb-edit">
        <li><a href="__ROOT__/sample">样品管理</a></li>
        <li class="active">订单总览</li>
    </ol>
</block>
<!-- 【正文区域】 -->
<block name="content">
    <div class="overview-container">
        <div class="order-info-box">
            <div class="order-info pull-left">
                <h2 class="order-num"><i class="icon-list-alt"></i>{$childData.0.order_num}　<span class="icon-time"> {$childData.0.order_charge} </span></h2>
            </div>
            <div class="order-other pull-right">
                <p>销售人员：{$childData.0.create_person_name}</p>
                <p>创建时间：{$childData.0.create_time|date="Y-m-d",###}</p>
            </div>
            <div class="clearfix"></div>
        </div>
        <table class="layui-table">
            <thead>
                <tr>
                    <th>产品类型</th>
                    <th>产品型号</th>
                    <th>产品经理</th>
                    <th>模块数量</th>
                    <th>客户名称</th>
                    <th>设备品牌</th>
                    <th>设备型号</th>
                    <th>进度</th>
                </tr>
            </thead>
            <tbody>
                <volist name="childData" id="value">
                   <tr>
                        <td>{$value.type}</td>
                        <td><a href="__ROOT__/Sample/detail/id/{$value.id}">{$value.pn}</a></td>
                        <td>{$value.nickname}</td>
                        <td>{$value.count}</td>
                        <td>{$value.customer}</td>
                        <td>{$value.brand}</td>
                        <td>{$value.model}</td>
                        <td></td>
                    </tr>
                </volist>
            </tbody>
        </table>
<!--        <volist name="sampleResult.SampleDetail" id="value">
            <div class="layui-collapse">
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title"><a href="__ROOT__/Sample/detail/id/{$value.id}">{$value.product_data.pn}</a></h2>
                    <div class="layui-colla-content layui-colla-content-rewrite layui-show">
                        <ul class="nav nav-pills nav-justified step step-square">
                            <li class="active">
                                <a>下单</a>
                                <div class="dispose-info">
                                    <div class="dispose-user-face pull-left">
                                        <img src="__IMG__/face/face_19.png" width="36" alt="">
                                    </div>
                                    <div class="dispose-user-info pull-left">
                                        <p>张三</p>
                                        <p>2017-03-27</p>
                                    </div>
                                    <div class="arrow_up_icon"></div>
                                    <div class="clearfix"></div>
                                </div>
                            </li>
                            <volist name="stepResult" id="val">
                                <li>
                                    <a>{$val.name}</a>
                                    <div class="dispose-info">
                                        <div class="dispose-center">
                                            <div class="dispose-user-face pull-left">
                                                <img src="__IMG__/face/face_19.png" width="36" alt="">
                                            </div>
                                            <div class="dispose-user-info pull-left">
                                                <p>张三丰</p>
                                                <p>2017-03-27</p>
                                            </div>
                                            <div class="arrow_up_icon"></div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </li>
                            </volist>
                        </ul>
                    </div>
                </div>
            </div>
        </volist>-->

        <div class="procedure">
            <table class="procedure-table">
                <tr class="procedure-wrap">
                    <td class="active">
                        <div class="procedure-title">下单</div>
                        <div class="procedure-step"><i class="icon-ok"></i></div>
                        <div class="procedure-info">2017-04-06 14:56</div>
                        <div class="procedure-hollow"></div>
                    </td>
                    <td class="active">
                        <div class="procedure-title">审核</div>
                        <div class="procedure-step"><i class="icon-remove"></i></div>
                        <div class="procedure-info">2017-04-06 14:56</div>
                        <div class="procedure-hollow"></div>
                    </td>
                    <td>
                        <div class="procedure-title">物料</div>
                        <div class="procedure-step">3</div>
                        <div class="procedure-info">2017-04-06 14:56</div>
                        <div class="procedure-hollow"></div>
                    </td>
                    <td>
                        <div class="procedure-title">制作</div>
                        <div class="procedure-step">4</div>
                        <div class="procedure-info">2017-04-06 14:56</div>
                        <div class="procedure-hollow"></div>
                    </td>
                    <td>
                        <div class="procedure-title">测试</div>
                        <div class="procedure-step">5</div>
                        <div class="procedure-info">2017-04-06 14:56</div>
                        <div class="procedure-hollow"></div>
                    </td>
                    <td>
                        <div class="procedure-title">发货</div>
                        <div class="procedure-step">6</div>
                        <div class="procedure-info">2017-04-06 14:56</div>
                        <div class="procedure-hollow"></div>
                    </td>
                    <td>
                        <div class="procedure-title">反馈</div>
                        <div class="procedure-step">7</div>
                        <div class="procedure-info">2017-04-06 14:56</div>
                        <div class="procedure-hollow"></div>
                    </td>
                </tr>
            </table>
        </div>


        <div class="layui-collapse">
            <div class="layui-colla-item">
                <h2 class="layui-colla-title">附件列表</h2>
                <div class="layui-colla-content layui-show">
                    <volist name="attachmentResult" id="value">
                        <div class="file-item">
                            <div class="file-info"><i class="icon-file-alt"></i>&nbsp;&nbsp;<a href="__ROOT__{$value.path}" title="{$value.original}">{$value.original}</a></div>
                        </div>
                    </volist>
                </div>
            </div>
        </div>
    </div>

</block>



























