<!-- 【模板继承】 -->
<extend name="layout/default"/>
<!-- 【引入css样式表文件】 -->
<block name="linkcss">
    <link rel="stylesheet" href="__CSS__/sample/overview.css">
    <link rel="stylesheet" href="__CSS__/procedure.css">
</block>
<!-- 【引入javascript文件】 -->
<block name="linkjs">
    <script src="__JS__/jquery.Huploadify.js"></script>
    <script src="__JS__/bootstrap-datetimepicker.js"></script>
    <script src="__JS__/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="__JS__/jquery.validate.min.js"></script>
    <script src="__JS__/jquery.form.js"></script>
    <script src="__JS__/sample/overview.js"></script>
</block>
<!-- 【页面标题】 -->
<block name="webtitle">
    <title>样品总览</title>
</block>
<!-- 【路径导航】 -->
<block name="breadcrumb">
    <ol class="breadcrumb breadcrumb-edit">
        <li><a href="__ROOT__/sample">样品管理</a></li>
        <li class="active">订单总览</li>
    </ol>
</block>
<!-- 【正文区域】 -->
<block name="content">
    <div class="overview-container">
        <div class="order-info-box">
            <div class="order-info pull-left">
                <h2 class="order-num"><i class="icon-list-alt"></i>{$orderData.order_num} <span class="tag tag-warning">{$orderData.order_charge} </span></h2>
            </div>
            <div class="order-other pull-right">
                <p>销售人员：{$orderData.create_person_name}</p>
                <p>创建时间：{$orderData.create_time|date="Y-m-d",###}</p>
            </div>
            <div class="clearfix"></div>
        </div>
        <table class="layui-table" style="margin-bottom: 20px;">
            <thead>
                <tr>
                    <th>产品类型</th>
                    <th>产品型号</th>
                    <th>产品经理</th>
                    <th>模块数量</th>
                    <th>客户名称</th>
                    <th>设备品牌</th>
                    <th>设备型号</th>
                    <th width="100">当前进度</th>
                </tr>
            </thead>
            <tbody>
                <volist name="progress" id="value">
                   <tr>
                        <td>{$value.type}</td>
                        <td><a href="__ROOT__/Sample/detail/id/{$value.id}">{$value.pn}</a></td>
                        <td>{$value.nickname}</td>
                        <td>{$value.count}</td>
                        <td>{$value.customer}</td>
                        <td>{$value.brand}</td>
                        <td>{$value.model}</td>
                        <td>
                            <eq name="value.state" value="N">
                                <eq name="value.now_step" value="$value.max_step">
                                    <span class="tag tag-success">{$value.step_name}</span>
                                <else/>
                                    <span class="tag tag-primary">{$value.step_name}</span>
                                </eq>
                            <else/>
                                <span class="tag tag-danger">{$value.step_name}</span>
                            </eq>
                        </td>
                    </tr>
                </volist>
            </tbody>
        </table>


        <volist name="progress" id="value" key="ONE_KEY">
            <div class="layui-collapse">
                <div class="layui-colla-item">
                    <div class="layui-colla-title"><a href="__ROOT__/Sample/detail/id/{$value.id}">{$value.pn}</a></div>
                    <div class="layui-colla-content layui-show">
                        <div class="procedure">
                            <table class="procedure-table">
                                <tr class="procedure-wrap">

                                    <volist name="stepData" id="val" key="TWO_KEY">
                                        <volist name="value.operating" id="vo">
                                            <eq name="val.id" value="$vo.id">
                                                <notempty name="vo.op_time">
                                                    <td class="active">
                                                        <div class="procedure-title">{$val.name}
                                                            <notempty name="vo.log">
                                                                <i class=" icon-info-sign myTooltip">
                                                                    <div class="sr-only popover-box" style="top: 26px;" >
                                                                        <foreach name="vo.log" item="v">
                                                                            <div class="log-box">
                                                                                <span class="log-box-time">{$v.log_time|date="Y-m-d H:i",###}</span>
                                                                                <span class="log-box-context">{$v.context}</span>
                                                                            </div>
                                                                        </foreach>
                                                                    </div>
                                                                </i>
                                                            </notempty>
                                                        </div>
                                                        <div class="procedure-step"><i class="icon-ok"></i></div>
                                                        <div class="procedure-info">
                                                            {$vo.nickname}<br>
                                                            {$vo.op_time|date="Y-m-d H:i",###}
                                                        </div>
                                                        <div class="procedure-hollow"></div>
                                                    </td>
                                                <else/>
                                                    <td  class="<eq name='value.state' value='Y'>error</eq>">
                                                        <div class="procedure-title">{$val.name}
                                                            <notempty name="vo.log">
                                                                <i class=" icon-info-sign myTooltip">
                                                                    <div class="sr-only popover-box">
                                                                        <foreach name="vo.log" item="v">
                                                                            <div class="log-box">
                                                                                <span class="log-box-time">{$v.log_time|date="Y-m-d H:i",###}</span>
                                                                                <span class="log-box-context">{$v.context}</span>
                                                                            </div>
                                                                        </foreach>
                                                                    </div>
                                                                </i>
                                                            </notempty>
                                                        </div>
                                                        <div class="procedure-step">{$TWO_KEY}</div>
                                                        <div class="procedure-info"></div>
                                                        <div class="procedure-hollow"></div>
                                                    </td>
                                                </notempty>
                                            </eq>
                                        </volist>
                                        <if condition="($val['id']-1) egt count($value['operating'])">
                                            {//还未进行的步骤}
                                            <td>
                                                <div class="procedure-title">{$val.name}</div>
                                                <div class="procedure-step">{$TWO_KEY}</div>
                                                <div class="procedure-info">
                                                    <volist name="detailResult.operating" id="val">
                                                        <eq name="value.id" value="$val.id">
                                                            {$val.op_time|date="Y-m-d H:i",###}
                                                        </eq>
                                                    </volist>
                                                </div>
                                                <div class="procedure-hollow"></div>
                                            </td>
                                        </if>
                                    </volist>

                                </tr>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </volist>



        <div class="layui-collapse">
            <div class="layui-colla-item">
                <div class="layui-colla-title">附件列表</div>
                <div class="layui-colla-content layui-show">
                    <notempty name="orderData.attachment">
                        <volist name="orderData.attachment" id="value">
                            <div class="file-item">
                                <div class="file-info"><i class="file-icon file-icon-ext-{$value.ext}"></i>&nbsp;&nbsp;<a href="__ROOT__/{$value.path}" target="_blank" title="{$value.savename}">{$value.savename}</a></div>
                            </div>
                        </volist>
                    <else/>
                        <i class="icon-exclamation-sign"></i> 没有附件
                    </notempty>
                </div>
            </div>
        </div>

    </div>

</block>



























