<!-- 【模板继承】 -->
<extend name="layout/default"/>
<!-- 【引入css样式表文件】 -->
<block name="linkcss">
	<link rel="stylesheet" href="__CSS__/jquery.toastmessage.css">
	<link rel="stylesheet" href="__CSS__/Huploadify.css">
	<link rel="stylesheet" href="__CSS__/bootstrap-datetimepicker.min.css">
	<link rel="stylesheet" href="__CSS__/sample.css">
</block>
<!-- 【引入javascript文件】 -->
<block name="linkjs">
	<!--<script src="__PUBLIC__/home/uploadify/jquery.uploadify.min.js"></script>-->
	<script src="__JS__/jquery.Huploadify.js"></script>
	<script src="__JS__/bootstrap-datetimepicker.js"></script>
	<script src="__JS__/bootstrap-datetimepicker.zh-CN.js"></script>
	<script src="__JS__/jquery.toastmessage.js"></script>
	<script src="__JS__/jquery.validate.min.js"></script>
	<script src="__JS__/jquery.form.js"></script>
	<script src="__JS__/sample.js"></script>
</block>
<!-- 【页面标题】 -->
<block name="webtitle">
	<title>添加样品</title>
</block>
<!-- 【路径导航】 -->
<block name="breadcrumb">
	<ol class="breadcrumb breadcrumb-edit">
		<li><a href="__ROOT__/Sample">样品管理</a></li>
		<li class="active">添加样品</li>
	</ol>
</block>
<!-- 【正文区域】 -->
<block name="content">
	<div id="sampleContainer">
		<form id="sample-form" role="form" class="form-inline">

			<!-- 集所有动态添加DOM元素的总样品订单号 -->
			<div class="form-group form-group-total-order">
				<label>样品单号</label>
				<input type="text" name="totalorder" placeholder="请输入单号" class="form-control totalOrder">
			</div>
			<div class="clearfix"></div>

			<!-- 包裹层[包裹所有动态添加的元素] start -->
			<div id="AllDynamicBox">
				<input type="hidden" class="nowOrderNo" value="">
				<!-- 动态添加元素[以此DOM作为动态添加元素的基础] start -->
				<div class="panel panel-primary dynamicboxContainer">
					<div class="panel-heading"><i class="icon-file-alt"></i>&nbsp;&nbsp;产品型号<b class="orderNO"></b><span class="close removeOrder" title="删除该订单">&times;</span></div>
					<div class="panel-body">
						<div class="dynamicbox">
							<div class="form-group form-group-row">
								<label>选择产品</label>
								<input type="text" class="form-control btn-select-filter input-product-model" name="product" readonly>
								<!--<div class="btn-group">
									<button type="button" class="btn btn-default product-type-name">SFP</button>
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu product-type-list" role="menu">
										<volist name="typeList" id="value">
											<li class="changeType"><a href="javascript:void(0);">{$value.type}</a></li>
										</volist>
									</ul>
								</div>-->
								<input type="hidden" name="product-type-name" class="product-type-name" value="">
							</div>
							<div class="form-group form-group-row">
								<label>产品经理</label>
								<!--<div class="btn-group">
									<button type="button" class="btn btn-default input-product-model">APS31123CDL20</button>
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu product-list" role="menu">
										<volist name="pnList" id="value">
											<li p_id="{$value.pid}" nickname="{$value.nickname}" manager="{$value.manager}" uid="{$value.uid}" pn="{$value.pn}"><a href="javascript:void(0);">{$value.pn}</a></li>
										</volist>
									</ul>
									<input type="hidden" name="pid" value="{$pnList.0.pid}" class="hidden-input-pid">
								</div>-->
								<input type="text" class="form-control input-product-manager" readonly>
								<input type="hidden" name="pid" value="" class="hidden-input-pid">
								<input type="hidden" class="form-control input-product-model" readonly>
								<input type="hidden" class="form-control form-group-input-hidden-manager" readonly>
							</div>
							<div class="form-group form-group-row">
								<label>模块数量</label>
								<input type="text" class="form-control input-number" value="1" name="number">
							</div>

							<div class="form-group">
								<label>客户名称</label>
								<input type="text" class="form-control form-group-input-inline input-customer-name" name="customer" placeholder="例如 Orienta">
								<span class="help-block"></span>
							</div>
							<div class="form-group">
								<label>设备品牌</label>
								<input type="text" class="form-control form-group-input-inline input-equipment-brand" name="brand" placeholder="例如 Huawei">
						 		<span class="help-block"></span>
							</div>
							<div class="form-group">
								<label>设备型号</label>
								<input type="text" class="form-control form-group-input-inline input-equipment-model" name="model" placeholder="例如 MA5600T">
								<span class="help-block"></span>
							</div>
							<div class="form-group form-group-textarea">
								<textarea class="form-control form-group-textarea-inline textarea-comment" id="test-comment" name="comment" placeholder="备注信息"></textarea>
								<span class="help-block"></span>
							</div>
							<div class="form-group">
								<label>要求交期</label>
								<input type="text" class="form-control input-d-date" value="" name="d_date" readonly>
							</div>
						</div>
					</div>
				</div>
				<!-- 动态添加元素 end -->
			</div>
			<!-- 包裹层 end -->

			<!-- 提交所有动态添加元素的值 -->
			<div class="btn-box">
				<div class="sidebarAdd">
					<button type="button" class="btn btn-primary"><i class="icon-plus icon-2x"></i><br/>添加</button>
				</div>
				<!--<input type="file" name="attachment" id="fileinput" class="fileinput">-->
				<div id="fileinput"></div>
				<input id="aid" type="hidden" name="aid" value="">
				<input id="uid" type="hidden" name="uid" value="{$Think.session.user.id}">
				<input type="reset" value="重置" class="btn btn-default btn-lg"> <input type="button" id="submitAllOrder" value="下单" class="btn btn-primary btn-lg">
			</div>

		</form>
		<div class="upload-file-box sr-only">
			<p class="attachment-list">附件列表[已上传<span class="attachment-number"></span>个附件]：</p>
			<ul class="upload-file-list"></ul>
		</div>
	</div>


	<div class="loading-modal sr-only" id="loading">
		<div class="loading-icon">
			<p><i class="icon-spinner icon-spin icon-4x"></i></p>
		</div>
	</div>

	<form class="sr-only" id="filterForm">
		<input type="hidden" name="type">
		<input type="hidden" name="wavelength">
		<input type="hidden" name="reach">
		<input type="hidden" name="connector">
		<input type="hidden" name="casetemp">
	</form>

	<!--交期事件选择-->
	<!--<script>
		$('.input-d-date').datetimepicker({
			language:  'zh-CN',
			format:'yyyy/mm/dd',
			weekStart: 1,
			todayBtn:  1,
			autoclose: 1,
			todayHighlight: 1,
			startDate : new Date(),
			pickerPosition: "bottom-left",
			startView: 2,
			minView: 2,
			forceParse: 0
		});
	</script>-->
</block>


<block name="modals">

	<!-- 消息提示模态框 -->
	<div class="modal fade bs-example-modal-sm" id="message-modal" role="dialog">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-body" id="message-modal-text">
					<p class="modal-message modal-message-success"><i class="icon-ok-sign icon-2x modal-icon-success"></i><span class="message-text">成功后的信息</span></p>
					<p class="modal-message modal-message-error"><i class="icon-remove-sign icon-2x modal-icon-error"></i><span class="message-text">失败后的信息</span></p>
					<p class="modal-message modal-message-info"><i class="icon-info-sign icon-2x modal-icon-info"></i><span class="message-text">错误的信息</span></p>
				</div>
			</div>
		</div>
	</div>

	<!-- 消息提示模态框 -->
	<div class="modal fade bs-example-modal-lg" id="select-product" role="dialog">
		<div class="modal-dialog modal-lg modal-dialog-editsize">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<span class="modal-title">选择产品型号</span>
				</div>
				<div class="modal-body filter-body">
					<ul id="conditon-list"></ul>
					<div class="filter-col">
						<span class="label-type">类型</span>
						<ul class="condition-type">
							<!--<volist name="filter.filterType" id="value">
								<elt name="i" value="7"><li onclick="filter('type','{$value.type}');">{$value.type}</li><else/><li style="display:none;" class="default-hide-li" onclick="filter('type','{$value.type}');">{$value.type}</li></elt>
							</volist>-->
							<li onclick="filter('type','SFP')">SFP</li><li onclick="filter('type','SFP BIDI')">SFP BIDI</li><li onclick="filter('type','SFP Copper')">SFP Copper</li><li onclick="filter('type','SFP CWDM')">SFP CWDM</li><li onclick="filter('type','SFP DWDM')">SFP DWDM</li><li onclick="filter('type','CSFP')">CSFP</li>
							<p></p>
							<li style="display: none;" class="default-hide-li" onclick="filter('type','SFP+')">SFP+</li><li style="display: none;" class="default-hide-li" onclick="filter('type','SFP+ AOC')">SFP+ AOC</li><li style="display: none;" class="default-hide-li" onclick="filter('type','SFP+ BIDI')">SFP+ BIDI</li><li style="display: none;" class="default-hide-li" onclick="filter('type','SFP+ CWDM')">SFP+ CWDM</li><li style="display: none;" class="default-hide-li" onclick="filter('type','SFP+ DAC Active')">SFP+ DAC Active</li><li style="display: none;" class="default-hide-li" onclick="filter('type','SFP+ DAC Passive')">SFP+ DAC Passive</li><li style="display: none;" class="default-hide-li" onclick="filter('type','SFP+ DWDM')">SFP+ DWDM</li>
							<p></p>
							<li style="display: none;" class="default-hide-li" onclick="filter('type','XFP')">XFP</li><li style="display: none;" class="default-hide-li" onclick="filter('type','XFP BIDI')">XFP BIDI</li><li style="display: none;" class="default-hide-li" onclick="filter('type','XFP CWDM')">XFP CWDM</li><li style="display: none;" class="default-hide-li" onclick="filter('type','XFP DWDM')">XFP DWDM</li>
							<p></p>
							<li style="display: none;" class="default-hide-li" onclick="filter('type','QSFP+')">QSFP+</li><li style="display: none;" class="default-hide-li" onclick="filter('type','QSFP+ AOC')">QSFP+ AOC</li><li style="display: none;" class="default-hide-li" onclick="filter('type','QSFP+ DAC Active')">QSFP+ DAC Active</li><li style="display: none;" class="default-hide-li" onclick="filter('type','QSFP+ DAC Passive')">QSFP+ DAC Passive</li><li style="display: none;" class="default-hide-li" onclick="filter('type','QSFP+ to 4xSFP+')">QSFP+ to 4xSFP+</li>
							<p></p>
							<li style="display: none;" class="default-hide-li" onclick="filter('type','CFP2')">CFP2</li>
						</ul>
						<span flag="true" class="pull-right label-more"><i class="icon-angle-down">&nbsp;</i><span>更多<span></span>
					</div>
					<div class="filter-col">
						<span class="label-type">波长</span>
						<ul class="condition-wavelength">
							<volist name="filter.filterWavelength" id="value">
								<if condition="strlen($value['wavelength']) lt 12 AND !strpos($value['wavelength'],'.')"><elt name="i" value="9"><li onclick="filter('wavelength','{$value.wavelength}',this);">{$value.wavelength}</li><else/><li style="display:none;" class="default-hide-li" onclick="filter('wavelength','{$value.wavelength}',this);">{$value.wavelength}</li></elt></if>
							</volist>
						</ul>
						<span flag="true" class="pull-right label-more"><i class="icon-angle-down">&nbsp;</i><span>更多<span></span>
					</div>
					<div class="filter-col">
						<span class="label-type">距离</span>
						<ul class="condition-reach">
							<volist name="filter.filterReach" id="value">
								<elt name="i" value="7"><li onclick="filter('reach','{$value.reach}');">{$value.reach}</li><else/><li style="display:none;" class="default-hide-li" onclick="filter('reach','{$value.reach}');">{$value.reach}</li></elt>
							</volist>
						</ul>
						<span flag="true" class="pull-right label-more"><i class="icon-angle-down">&nbsp;</i><span>更多<span></span>
					</div>
					<div class="filter-col">
						<span class="label-type">接口</span>
						<ul class="condition-connector">
							<volist name="filter.filterConnector" id="value">
								<li onclick="filter('connector','{$value.connector}');">{$value.connector}</li>
							</volist>
						</ul>
						<!--<span class="pull-right label-more"><i class="icon-angle-down">&nbsp;</i><span>更多<span></span>-->
					</div>
					<div class="filter-col">
						<span class="label-type">环境</span>
						<ul class="condition-casetemp">
							<volist name="filter.filterCasetemp" id="value">
								<eq name="value.casetemp" value="C"><li value="{$value.casetemp}" onclick="filter('casetemp','{$value.casetemp}');">C档（0-70°）</li><else/><li value="{$value.casetemp}" onclick="filter('casetemp','{$value.casetemp}');">I档（-40°-85°）</li></eq>
							</volist>
						</ul>
						<!--<span class="pull-right label-more"><i class="icon-angle-down">&nbsp;</i><span>更多<span></span>-->
					</div>
					<hr>
					<ul id="product-list">
						<volist name="filterdata" id="value">
							<lt name="i" value="18">
								<li p_id="{$value.pid}" nickname="{$value.nickname}" manager="{$value.manager}" pn="{$value.pn}" type="{$value.type}">{$value.pn}</li>
								<else/>
								<li class="sr-only" p_id="{$value.pid}" nickname="{$value.nickname}" manager="{$value.manager}" pn="{$value.pn}" type="{$value.type}">{$value.pn}</li>
							</lt>
						</volist>
					</ul>
				</div>
				<div class="modal-footer">

				</div>
			</div>
		</div>
	</div>

</block>

