<!-- 【模板继承】 -->
<extend name="layout/default"/>
<!-- 【引入css样式表文件】 -->
<block name="linkcss">
    <link rel="stylesheet" href="__CSS__/ecn/detail.css">
</block>
<!-- 【引入javascript文件】 -->
<block name="linkjs">

</block>
<!-- 【页面标题】 -->
<block name="webtitle">
    <title>创建ECN</title>
</block>
<!-- 【路径导航】 -->
<block name="breadcrumb">
    <ol class="breadcrumb breadcrumb-edit">
        <li><a href="__ROOT__/ECN">ECN</a></li>
        <li class="active">创建ECN</li>
    </ol>
</block>
<!-- 【正文区域】 -->
<block name="content">

    <div class="edit-condition">
        <form class="layui-form" action="" style="margin-top: 10px;">
            <div class="layui-form-item">
                <label class="layui-form-label">评审类型</label>
                <div class="layui-input-block">
                    <select name="ecn_type" id="ecn-type" lay-filter="ecnType">
                        <option value="file">文件</option>
                        <option value="bom" disabled>BOM</option>
                    </select>
                    <div class="layui-form-mid layui-word-aux">选择该评审的类型：文件或BOM</div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">变更描述</label>
                <div class="layui-input-block">
                    <textarea id="layedit-description" style="display: none;"></textarea>
                    <div class="layui-form-mid layui-word-aux">填写该ECN相关的描述信息</div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">变更原因</label>
                <div class="layui-input-block">
                    <textarea id="layedit-reason" style="display: none;"></textarea>
                    <div class="layui-form-mid layui-word-aux">填写该ECN变更的原因，例如：新文件评审、文件升版等</div>
                </div>
            </div>
            <div class="layui-form-item" id="affect">
                <label class="layui-form-label">受影响的文件列表</label>
                <div class="layui-input-block">
                    <div class="review-selected"></div>     <!--添加到评审的项-->
                    <div class="choose-btn"><i class="layui-icon">&#xe61f;</i> 添加文件</div>
                    <div class="layui-form-mid layui-word-aux">将已经编辑好的文件添加到此处 [支持多选]</div>
                </div>
            </div>
            <div class="layui-form-item" id="review-rule">
                <label class="layui-form-label">评审规则</label>
                <div class="layui-input-block">
                    <select name="quote_rule" id="rule" lay-filter="rule" lay-verify="required">
                        <option class="default-option" value="0">请选择评审规则</option>
                        <volist name="ecnRules" id="value">
                            <option value="{$value.id}">{$value.name}</option>
                        </volist>
                    </select>
                </div>
            </div>
            <div class="review-group"></div>    <!--评审组-->
            <div class="layui-form-item" id="dcc">
                <label class="layui-form-label">DCC评审</label>
                <div class="layui-input-block">
                    <div class="ps-wrapper">
                        <div class="gw-mc">dcc专员</div>
                        <volist name="dccUsers" id="value">
                            <input type="checkbox" name="dcc[{$value.id}]" lay-verify="required" title="{$value.nickname}" value="{$value.id}" lay-skin="primary">
                        </volist>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">抄送列表</label>
                <div class="layui-input-block">
                    <div class="rule-preview"></div>    <!--规则预览-->
                    <div class="layui-form-mid layui-word-aux">评审结束后，将会邮件通知到上面职位的所有人</div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="createECN">保存</button>
                    <button type="reset" class="layui-btn layui-btn-primary cancel-edit-btn">取消</button>
                </div>
            </div>
        </form>
    </div>

    <script>
        layui.use(['form', 'layer', 'layedit'], function() {
            // init layui components.
            var form = layui.form(),
                layer = layui.layer,
                layedit = layui.layedit;

            var defaultEcnType = '<php>echo isset($_REQUEST["type"]) ? $_REQUEST["type"] : "file";</php>';

            // 快速添加到受影响的项
            var quickSelect = <php>if(isset($quickSelect)){ echo json_encode($quickSelect["file"][0]); }else{ echo 0; }</php>;
            var reviewSelected = [];  // 被添加到显示的评审项(初始化结构)
            if( typeof quickSelect == 'object' && Object.keys(quickSelect).length > 0 ){
                reviewSelected.push({
                    attachment: quickSelect.attachment,
                    createtime: quickSelect.createtime,
                    createuser: quickSelect.createuser,
                    description: quickSelect.description,
                    filenumber: quickSelect.filenumber,
                    frequency: quickSelect.frequency,
                    id: quickSelect.id,
                    lastedit_time: quickSelect.lastedit_time,
                    state: quickSelect.state,
                    type: quickSelect.type,
                    upgrade: quickSelect.upgrade,
                    version: quickSelect.version
                });
            }

            $('.review-selected').html(renderReviewItemList(defaultEcnType, reviewSelected, false));

            // 定义layedit编辑器配置
            var layeditOptions = {
                height: 150
            }

            // 实例化layedit编辑器
            var layeditDescription = layedit.build('layedit-description', layeditOptions);
            var layeditReason = layedit.build('layedit-reason', layeditOptions);

            var reviews = null;   // 评审项数据

            // 监听评审类型选择
            form.on('select(ecnType)', function(data){
                if( data.value != 'file' ){ // 如果评审类型不是file则提示用户该选项不可用
                    layer.msg('暂未开放文件类型以外的评审类型', {icon: 2, time: 3000});
                }
            });

            // 添加文件
            $('.choose-btn').click(function(){
                var currentEcnType = $('#ecn-type').next().find('dl .layui-this').attr('lay-value');
                $.post(ThinkPHP['AJAX'] + '/ECN/getDataOfCurrentEcnType', {
                    currentType: currentEcnType
                }, function(response){
                    var HTML = renderReviewItemList(currentEcnType, response);
                    reviews = response;
                    layer.open({
                        type: 1,
                        id: 'LAYER_CONTAINER',
                        title: '选择文件',
                        area: ['1200px', '500px'],
                        shade: [0.5, '#000'],
                        shadeClose: true,
                        content: HTML
                    })
                });
            });

            // 渲染受影响的数据列
            function renderReviewItemList(type, data, InLayer = true){
                var RenderHTML = '';
                var head = '<thead><tr><th>文件号</th><th>版本号</th><th width="300">附件</th><th width="550">文件描述</th><th width="66">操作</th></tr></thead>';
                if( type === 'file' ){
                    if( Object.keys(data).length ){
                        console.log('data true');
                        RenderHTML += '<table class="layui-table">';
                        if( InLayer ) RenderHTML += head;
                        RenderHTML += '<tbody>';
                        for( let key in data ){
                            var isHave = false;     // 作用于选择的数据是否已存在
                            RenderHTML += '<tr>';
                            RenderHTML += '<td><a href="http://'+ ThinkPHP['HTTP_HOST'] +'/File/detail/'+ data[key].filenumber +'" target="_blank">'+ data[key].filenumber +'</a></td>';
                            RenderHTML += '<td>'+ data[key].version +'</td>';
                            if( data[key].attachment ){
                                RenderHTML += '<td><a href="http://'+ ThinkPHP['HTTP_HOST'] +'/'+ data[key].attachment.path +'" target="_blank" title="'+ data[key].attachment.name +'"><i class="file-icon file-icon-ext-'+ data[key].attachment.ext +'"></i> '+ data[key].attachment.name +'</a></td>';
                            }
                            RenderHTML += '<td><p>'+ data[key].description +'</p></td>';
                            if( InLayer ){  // 如果渲染在弹出层中则按钮显示为添加，反之则为移除
                                if( Object.keys(reviewSelected).length ){   // 检查已选择的数据是否为空
                                    for( let i in reviewSelected ){     // 检查已选择的数据里面是否已经存在对应的item
                                        if( data[key].id === reviewSelected[i].id ){
                                            isHave = true;
                                            break;
                                        }
                                    }
                                    if( isHave ){
                                        RenderHTML += '<td width="66"><button type="button" class="layui-btn layui-btn-normal layui-btn-disabled addReviewItem" index="'+ key +'" ecnType="'+ type +'">添加</button></td>';
                                    }else{
                                        RenderHTML += '<td width="66"><button type="button" class="layui-btn layui-btn-normal addReviewItem" index="'+ key +'" ecnType="'+ type +'">添加</button></td>';
                                    }
                                }else{
                                    RenderHTML += '<td width="66"><button type="button" class="layui-btn layui-btn-normal addReviewItem" index="'+ key +'" ecnType="'+ type +'">添加</button></td>';
                                }
                            }else{
                                RenderHTML += '<td width="66"><button type="button" class="layui-btn layui-btn-danger removeReviewItem" index="'+ key +'" ecnType="'+ type +'">移除</button></td>';
                            }
                            RenderHTML += '</tr>';
                        }
                        RenderHTML += '</tbody>';
                        RenderHTML += '</table>';
                    }else{
                        console.log('data false');
                        RenderHTML = '';
                    }
                }else{
                    // 当评审类型为非文件时的处理方案...
                }
                return RenderHTML;
            }

            // 监听规则变动
            form.on('select(rule)', function(data){
                if( data.value > 0 ){
                    $.post(ThinkPHP['AJAX'] + '/ECN/listenEcnRuleChange', {
                        ruleid: data.value
                    }, function(response){
                        renderReviewRule(response);
                        renderReviewGroup(response);
                    });
                }
            });

            // 监听提交
            form.on('submit(createECN)', function(data){
                if( data.field.ecn_type != 'file' ){
                    layer.msg('暂未开放文件类型以外的评审类型', {icon: 2, time: 3000});
                    return false;
                }
                // 验证表单提交时数据的合法性
                if( $.trim(layedit.getText(layeditDescription)) == '' ){
                    $('#content').scrollTop(0);
                    layer.msg('请输入变更描述', {icon: 2, time: 3000});
                    return false;
                }
                if( $.trim(layedit.getText(layeditReason)) == '' ){
                    $('#content').scrollTop(0);
                    layer.msg('请输入变更原因', {icon: 2, time: 3000});
                    return false;
                }
                if( !Object.keys(reviewSelected).length ){
                    let top = $('#affect')[0].offsetTop;
                    $('#content').scrollTop(top-20);
                    layer.msg('请添加文件', {icon: 2, time: 3000});
                    return false;
                }
                if( $('.review-group').children().length ){
                    for( let i=0; i < $('.review-group').children().length; i++ ){
                        if($('.review-group .layui-form-item').eq(i).find('.ps-wrapper .layui-form-checked').length < 1){
                            let top = $('.review-group .layui-form-item').eq(i)[0].offsetTop;
                            $('#content').scrollTop(top-20);
                            layer.msg('请检查'+ ( i + 1 ) +'级评审是否未选择人员', {icon: 2, time: 3000});
                            return false;
                        }
                    }
                }else{
                    let top = $('#review-rule')[0].offsetTop;
                    $('#content').scrollTop(top-20);
                    layer.msg('请配置评审规则', {icon: 2, time: 3000});
                    return false;
                }
                if( $('#dcc .ps-wrapper .layui-form-checked').length < 1 ){
                    let top = $('#dcc')[0].offsetTop;
                    $('#content').scrollTop(top-20);
                    layer.msg('请选择dcc评审专员', {icon: 2, time: 3000});
                    return false;
                }
                var review_group = [];
                var dcc_review = [];
                // 拼装评审组数据
                $('.review-group .layui-form-item').each(function(index){
                    var groupData = [];
                    $('.review-group .layui-form-item').eq(index).find('.ps-wrapper .layui-form-checkbox').each(function(i){
                        if( $(this).hasClass('layui-form-checked') ){
                            let val = $(this).prev().attr('value');
                            groupData.push(val);
                        }
                    });
                    review_group.push(groupData);
                });
                // 拼装dcc评审
                $('#dcc .ps-wrapper .layui-form-checkbox').each(function(i){
                    if( $(this).hasClass('layui-form-checked') ){
                        let val = $(this).prev().attr('value');
                        dcc_review.push(val);
                    }
                });
                // 组装数据并提交
                $.post(ThinkPHP['AJAX'] + '/ECN/add', {
                    change_description: layedit.getContent(layeditDescription),
                    change_reason: layedit.getContent(layeditReason),
                    quote_rule: data.field.quote_rule,
                    ecn_type: data.field.ecn_type,
                    reviewSelected: reviewSelected,
                    review_group: review_group,
                    dcc_review: dcc_review
                }, function(response){
                    if( response.flag ){
                        layer.msg(response.msg, {icon: 1, time: 1500});
                        setTimeout(function(){
                            location.href = 'http://'+ ThinkPHP['HTTP_HOST'] +'/ECN/detail/'+ response.ecn;
                        }, 1500);
                    }else{
                        layer.msg(response.msg, {icon: 2, time: 3000});
                    }
                });
                return false;
            });

            // 渲染评审规则
            function renderReviewRule(data){
                var reviewHTML = '';
                var rulePreview = $('.rule-preview');
                reviewHTML += '<div class="lv-row">';
                reviewHTML += '<div class="lv-itm">';
                for( let item in data.ccs ){     // 抄送列表
                    reviewHTML += '<span class="js-zw">'+ data.ccs[item].name +'</span>';
                }
                reviewHTML += '<div class="clearfix"></div>';
                reviewHTML += '</div>';
                reviewHTML += '</div>';
                rulePreview.html(reviewHTML);
                if($('#rule .default-option').length > 0) $('#rule .default-option').remove();  // 当选择一次规则后移除掉默认显示的选择option
                form.render();
                rulePreview.show();
            }

            // 渲染评审组
            function renderReviewGroup(data){
                var reviewGroupHTML = '';
                var reviewGroup = $('.review-group');

                for( let group in data.recipients ){
                    reviewGroupHTML += '<div class="layui-form-item">';
                    reviewGroupHTML += '<label class="layui-form-label">'+ (Number(group) + 1) +' 级评审</label>';
                    reviewGroupHTML += '<div class="layui-input-block">';
                    reviewGroupHTML += '<div class="ps-wrapper">';
                    for( let item in data.recipients[group] ){
                        if( data.recipients[group][item].recipient_2D ){
                            reviewGroupHTML += '<div class="gw-mc">'+ data.recipients[group][item].name +'</div>';
                        }
                        if( data.recipients[group][item].recipient_2D ){
                            for( let key in data.recipients[group][item].recipient_2D ){
                                reviewGroupHTML += '<input type="checkbox" lay-verify="required" name="reviewGroup'+ key +'['+ data.recipients[group][item].recipient_2D[key].id +']" title="'+ data.recipients[group][item].recipient_2D[key].nickname +'" lay-skin="primary" value="'+ data.recipients[group][item].recipient_2D[key].id +'" title="'+ data.recipients[group][item].recipient_2D[key].nickname +'">';
                            }
                        }
                    }
                    reviewGroupHTML += '</div>';
                    reviewGroupHTML += '</div>';
                    reviewGroupHTML += '</div>';
                    reviewGroup.html(reviewGroupHTML);
                    form.render();
                }
            }

            // 添加评审项button
            $(document).on('click', '#LAYER_CONTAINER .addReviewItem', function(){
                if( !$(this).hasClass('layui-btn-disabled') ){
                    let index = $(this).attr('index');
                    let ecnType = $(this).attr('ecnType');
                    reviewSelected.push(reviews[index]);
                    $('.review-selected').html(renderReviewItemList(ecnType, reviewSelected, false));
                    $(this).addClass('layui-btn-disabled');
                }
            });

            // 移除评审项button
            $(document).on('click', '.review-selected .removeReviewItem', function(){
                let index = $(this).attr('index');
                let ecnType = $(this).attr('ecnType');
                reviewSelected.splice(index, 1);
                let resultHtml = renderReviewItemList(ecnType, reviewSelected, false);
                $('.review-selected').html(resultHtml);
            });

        });
    </script>

</block>
