<!-- 【模板继承】 -->
<extend name="layout/default"/>
<!-- 【引入css样式表文件】 -->
<block name="linkcss">

</block>
<!-- 【引入javascript文件】 -->
<block name="linkjs">

</block>
<!-- 【页面标题】 -->
<block name="webtitle">
    <title>删除ECN规则</title>
</block>
<!-- 【路径导航】 -->
<block name="breadcrumb">
    <ol class="breadcrumb breadcrumb-edit">
        <li><a href="__ROOT__/File">文件管理</a></li>
        <li><a href="__ROOT__/File">ECN规则</a></li>
        <li class="active">删除ECN规则</li>
    </ol>
</block>
<!-- 【正文区域】 -->
<block name="content">

</block>































