<!-- 【模板继承】 -->
<extend name="layout/default"/>
<!-- 【引入css样式表文件】 -->
<block name="linkcss">
    <link rel="stylesheet" href="__CSS__/timeline.css">
    <link rel="stylesheet" href="__PUBLIC__/webuploader/css/webuploader.css">
    <link rel="stylesheet" href="__CSS__/software/detail.css">
    <link rel="stylesheet" href="__CSS__/sample/detail.css">
</block>
<!-- 【引入javascript文件】 -->
<block name="linkjs">
    <script src="__PUBLIC__/webuploader/js/webuploader.js"></script>
    <script src="__JS__/software/detail.js"></script>
</block>
<!-- 【页面标题】 -->
<block name="webtitle">
    <title>软件详情</title>
</block>
<!-- 【路径导航】 -->
<block name="breadcrumb">
    <ol class="breadcrumb breadcrumb-edit">
        <li><a href="__ROOT__/Software">发布软件</a></li>
        <li class="active">发布历史</li>
    </ol>
</block>
<!-- 【正文区域】 -->
<block name="content">


    <div class="title-bar" style="margin: 0 0 20px 0;">
        <h4>基本信息</h4>
    </div>

    <table class="layui-table">
        <thead>
            <tr>
                <th>序号</th>
                <th>项目类型</th>
                <th>项目编号</th>
                <th>项目名称</th>
                <th>主控MCU</th>
                <th>版本号</th>
                <th>最后更新时间</th>
            </tr>
        </thead>
        <tbody>
            <volist name="softwareData" id="vo" key="k">
                <tr>
                    <td>{$k}</td>
                    <td>{$vo.type}</td>
                    <td>{$vo.number}</td>
                    <td>{$vo.name}</td>
                    <td>{$vo.mcu}</td>
                    <td>V1.0</td>
                    <td>2017-05-15</td>
                </tr>
            </volist>
        </tbody>
    </table>

    <div class="title-bar" style="margin: 40px 0 30px 0;">
        <h4>发布历史</h4>
    </div>

    {//软件发布里程碑}
    <div class="timeline">
        <div class="timeline-heading">
            <table class="timeline-table">
                <tr>
                    <td class="timeline-info">
                        <div class="timeline-time-big">V1.0</div>
                        <div class="timeline-time-small">2017-05-14</div>
                        <div class="timeline-circle"></div>
                    </td>
                    <td class="timeline-content">
                        <div class="timeline-content-left pull-left">
                            <div class="timeline-user-face">
                                <img src="__IMG__/face/face_01.png" width="48" alt="">
                            </div>
                        </div>
                        <div class="timeline-content-right pull-right">
                            <p>更新的日志内容1</p>
                            <div class="pic-group pull-left" style="text-align: center;">
                                <a href="__ROOT__/Public/home/img/404.png" target="_blank" style="display: block;border: solid 1px #ccc;"><img class="customer-complaint-img-c" src="__IMG__/404.png" height="200" alt="加载失败"></a>
                                <span class="pic-info">404图像附件测试名称</span>
                            </div>
                            <div class="clearfix"></div>
                            <div class="attachment-box">
                                <div class="attachment-box-dom">
                                    <p class="file-name">
                                        <!--<form action="__ROOT__/Auth/download" method="post">
                                            <input type="hidden" name="filename" value="{$v.filename}">
                                            <input type="hidden" name="filepath" value="{$v.filepath}">
                                            <a class="download"><i class="layui-icon">&#xe621;</i> {$v.filename}</a>
                                        </form>-->
                                        <a href="#"><i class="file-icon file-icon-ext-jpg"></i> 下载文件的文件名称.jpg</a>
                                    </p>
                                </div>
                            </div>
                            <div class="timeline-other">张三<span class="timeline-divider">|</span>2017-05-15</div>
                        </div>
                        <div class="clearfix"></div>
                    </td>
                </tr>
                <tr>
                    <td class="timeline-info">
                        <div class="timeline-time-big">V1.1</div>
                        <div class="timeline-time-small">2017-05-14</div>
                        <div class="timeline-circle"></div>
                    </td>
                    <td class="timeline-content">
                        <div class="timeline-content-left pull-left">
                            <div class="timeline-user-face">
                                <img src="__IMG__/face/face_01.png" width="48" alt="">
                            </div>
                        </div>
                        <div class="timeline-content-right pull-right">
                            <p>更新的日志内容2</p>
                            <div class="pic-group pull-left" style="text-align: center;">
                                <a href="__ROOT__/Public/home/img/404.png" target="_blank" style="display: block;border: solid 1px #ccc;"><img class="customer-complaint-img-c" src="__IMG__/404.png" height="200" alt="加载失败"></a>
                                <span class="pic-info">404图像附件测试名称</span>
                            </div>
                            <div class="clearfix"></div>
                            <div class="attachment-box">
                                <div class="attachment-box-dom">
                                    <p class="file-name">
                                        <!--<form action="__ROOT__/Auth/download" method="post">
                                            <input type="hidden" name="filename" value="{$v.filename}">
                                            <input type="hidden" name="filepath" value="{$v.filepath}">
                                            <a class="download"><i class="layui-icon">&#xe621;</i> {$v.filename}</a>
                                        </form>-->
                                        <a href="#"><i class="file-icon file-icon-ext-jpg"></i> 下载文件的文件名称.jpg</a>
                                    </p>
                                </div>
                            </div>
                            <div class="timeline-other">张三<span class="timeline-divider">|</span>2017-05-15</div>
                        </div>
                        <div class="clearfix"></div>
                    </td>
                </tr>
                <tr>
                    <td class="timeline-info">
                        <div class="timeline-time-big">V1.2</div>
                        <div class="timeline-time-small">2017-05-14</div>
                        <div class="timeline-circle"></div>
                    </td>
                    <td class="timeline-content">
                        <div class="timeline-content-left pull-left">
                            <div class="timeline-user-face">
                                <img src="__IMG__/face/face_01.png" width="48" alt="">
                            </div>
                        </div>
                        <div class="timeline-content-right pull-right">
                            <p>更新的日志内容3</p>
                            <div class="pic-group pull-left" style="text-align: center;">
                                <a href="__ROOT__/Public/home/img/404.png" target="_blank" style="display: block;border: solid 1px #ccc;"><img class="customer-complaint-img-c" src="__IMG__/404.png" height="200" alt="加载失败"></a>
                                <span class="pic-info">404图像附件测试名称</span>
                            </div>
                            <div class="clearfix"></div>
                            <div class="attachment-box">
                                <div class="attachment-box-dom">
                                    <p class="file-name">
                                        <!--<form action="__ROOT__/Auth/download" method="post">
                                            <input type="hidden" name="filename" value="{$v.filename}">
                                            <input type="hidden" name="filepath" value="{$v.filepath}">
                                            <a class="download"><i class="layui-icon">&#xe621;</i> {$v.filename}</a>
                                        </form>-->
                                        <a href="#"><i class="file-icon file-icon-ext-jpg"></i> 下载文件的文件名称.jpg</a>
                                    </p>
                                </div>
                            </div>
                            <div class="timeline-other">张三<span class="timeline-divider">|</span>2017-05-15</div>
                        </div>
                        <div class="clearfix"></div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel" style="font-size: 18px;">添加处理记录</h4>
                </div>

                <form class="layui-form" action="" id="detail_form">
                    <div class="modal-body">

                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label" style="padding-left: 0;width: 60px;">备注</label>
                            <div class="layui-input-block" style="margin-left: 60px;">
                                <textarea name="context" placeholder="请输入内容" lay-verify="required" class="layui-textarea"></textarea>
                            </div>
                        </div>

                        {//文件上传}
                        <div id="uploader" class="wu-example">
                            <!--用来存放文件信息-->
                            <div id="thelist" class="uploader-list"></div>
                            <div class="btns">
                                <div id="picker">附件</div>
                                <button id="ctlBtn" class="btn btn-default soft-upload">上传附件</button>
                            </div>
                        </div>

                    </div>

                    <input type="hidden" name="asc_detail" value="{$detailResult.id}">

                    <div class="modal-footer">
                        <button type="button" class="layui-btn layui-btn-primary" data-dismiss="modal">取消</button>
                        <button class="layui-btn" lay-submit lay-filter="processingRecord">立即提交</button>
                    </div>

                </form>

            </div>
        </div>
    </div>

    <button type="button" class="btn btn-primary btn-lg solo_order" data-toggle="modal" data-target="#myModal" id="log-table">
        <p>添加</p>
        <p>处理记录</p>
    </button>


</block>































