<!-- 【模板继承】 -->
<extend name="layout/default"/>
<!-- 【引入css样式表文件】 -->
<block name="linkcss">
    <link rel="stylesheet" href="__CSS__/timeline.css">
    <link rel="stylesheet" href="__PUBLIC__/webuploader/css/webuploader.css">
    <link rel="stylesheet" href="__CSS__/sample/detail.css">
    <link rel="stylesheet" href="__CSS__/block/email.css">
    <link rel="stylesheet" href="__CSS__/software/detail.css">
</block>
<!-- 【引入javascript文件】 -->
<block name="linkjs">
    <script src="__PUBLIC__/webuploader/js/webuploader.js"></script>
    <script src="__JS__/MyJqueryPlugin/email-block.js"></script>
    <script src="__JS__/software/detail.js"></script>
</block>
<!-- 【页面标题】 -->
<block name="webtitle">
    <title>发布历史</title>
</block>
<!-- 【路径导航】 -->
<block name="breadcrumb">
    <ol class="breadcrumb breadcrumb-edit">
        <li><a href="__ROOT__/Software">软件发布</a></li>
        <li class="active">发布历史</li>
    </ol>
</block>
<!-- 【正文区域】 -->
<block name="content">


    <div class="title-bar" style="margin: 0 0 20px 0;">
        <h4>基本信息</h4>
    </div>

    <table class="layui-table">
        <thead>
            <tr>
                <th>序号</th>
                <th>项目类型</th>
                <th>项目编号</th>
                <th>项目名称</th>
                <th>主控MCU</th>
                <th>版本号</th>
                <th>最后更新时间</th>
            </tr>
        </thead>
        <tbody>

                <tr>
                    <td>1</td>
                    <td>{$softwareData.type}</td>
                    <td>{$softwareData.number}</td>
                    <td>{$softwareData.name}</td>
                    <td>{$softwareData.mcu}</td>
                    <td>{$softwareData.child.0.version}</td>
                    <td>{$softwareData.child.0.save_time|date="Y-m-d",###}</td>
                </tr>

        </tbody>
    </table>

    <div class="title-bar" style="margin: 40px 0 30px 0;">
        <h4>发布历史</h4>
    </div>

    {//软件发布里程碑}
    <div class="timeline">
        <div class="timeline-heading">
            <table class="timeline-table">

                <volist name="softData" id="vo" key="k">

                    <tr class="timeline-tr">
                        <td class="timeline-info">
                            <div class="timeline-time-big"><span>{$vo.save_time|date="Y-m-d",###}</span></div>
                            <div class="timeline-circle"></div>
                        </td>
                        <td class="timeline-content" style="padding-bottom: 15px;">
                            <div class="timeline-time-small box-off-on" style="margin-bottom: 20px; color: #428bca;font-size: 18px;">
                                <a href="javascript:;" style="width:100px !important; display: inline-block;">{$vo.version} <i class="icon-caret-down i-sty"></i></a>
                                <div class="attachment-box-ext">
                                    <notempty name="vo.attachment">
                                        <volist name="vo.attachment" id="val">
                                            <notin name="val.ext" value="jpg,jpeg,png,gif,bmp">
                                                <div class="attachment-box face-box">
                                                    <div class="attachment-box-dom" style="display: inline">
                                                        <span class="file-name">
                                                            <a href="__ROOT__/{$val.path}"><i class="file-icon file-icon-ext-{$val.ext}"></i> {$val.savename}</a>
                                                        </span>
                                                    </div>
                                                </div>
                                            </notin>
                                        </volist>
                                            <div class="clearfix annax"></div>
                                    </notempty>
                                </div>
                            </div>

                            <div class="box-info" style="display: block">
                                <div class="timeline-content-right dis-box">
                                    <p>{$vo.log}</p><br>
                                    {//附件不为空才加载}
                                    <notempty name="vo.attachment">
                                        <volist name="vo.attachment" id="val">
                                            {//如果附件为图像则直接显示}
                                            <in name="val.ext" value="jpg,jpeg,png,gif,bmp">
                                                <div class="pic-group pull-left" style="text-align: center;">
                                                    <a href="__ROOT__/{$val.path}" target="_blank" style="display: block;border: solid 1px #ccc;"><img class="customer-complaint-img-c" src="__ROOT__/{$val.path}" height="200" alt="加载失败"></a>
                                                    <span class="pic-info">{$val.savename}</span><br>
                                                </div>
                                            </in>
                                        </volist>
                                        <div class="clearfix annax"></div>
                                    </notempty>
                                    <div class="clearfix"></div>
                                    <if condition="vo.push_email OR vo.cc_email" >
                                        <div class="email-box">
                                            <div class="email_person">
                                                <notempty name="vo.push_email">
                                                    <div class="email-box">
                                                        <div style="display: inline-block">收件人 ：</div>
                                                        <volist name="vo.push_email" id="v">
                                                            <span>{$v.name}&nbsp;</span>
                                                        </volist>
                                                    </div>
                                                </notempty>

                                                <notempty name="vo.cc_email">
                                                    <div class="email-box">
                                                        <div style="display: inline-block">抄送人 ：</div>
                                                        <volist name="vo.cc_email" id="v">
                                                            <span>{$v.name}&nbsp;</span>
                                                        </volist>
                                                    </div>
                                                </notempty>
                                            </div>
                                        </div>
                                    </if>
                                    <div class="timeline-other">{$softwareData.person}<span class="timeline-divider">|</span>{$vo.save_time|date="Y-m-d H:i:s",###}</div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </td>
                    </tr>
                </volist>
            </table>
        </div>
    </div>



    <button type="button" class="btn btn-primary btn-lg solo_order" data-toggle="modal" data-target="#Modal-box" id="log-table">
        <p>添加</p>
        <p>处理记录</p>
    </button>

</block>


{//Modal集}
<block name="modals">
    <div class="modal fade" id="Modal-box" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel" style="font-size: 18px;">更新版本</h4>
                </div>

                <form class="layui-form" action="" id="detail_form">
                    <div class="modal-body">

                        <div class="layui-form-item">
                            <label class="layui-form-label version">版本号</label>
                            <div class="layui-input-block">
                                <input type="text" name="version" class="layui-input version-ipt" style="width: 508px;" placeholder="例如 V1.25">
                            </div>
                        </div>

                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label" style="padding-left: 0;width: 60px;">日志</label>
                            <div class="layui-input-block" style="margin-left: 60px;">
                                <textarea name="context" placeholder="请输入内容" lay-verify="required" class="layui-textarea"></textarea>
                            </div>
                        </div>

                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label" style="padding-left: 0;width: 60px;">附件</label>
                            <div class="layui-input-block" style="margin-left: 60px;">
                                <div id="picker" class="pull-left">上传附件</div>
                                <div class="uploader-file-queue"></div>
                            </div>
                        </div>

                        <!--{//文件上传}
                        <div id="uploader" class="wu-example">
                            &lt;!&ndash;用来存放文件信息&ndash;&gt;
                            <div id="thelist" class="uploader-list"></div>
                            <div class="btns">

                            </div>
                        </div>-->

                        <include file="block:email"/>

                    </div>

                    <input type="hidden" id="subName" name="subName" value="{$softwareData.id}">

                    <div class="modal-footer">
                        <button type="button" class="layui-btn layui-btn-primary" data-dismiss="modal">取消</button>
                        <button class="layui-btn" lay-submit lay-filter="software">立即提交</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</block>




























