<!-- 【模板继承】 -->
<extend name="layout/default"/>
<!-- 【引入css样式表文件】 -->
<block name="linkcss">
    <link rel="stylesheet" href="__CSS__/software/index.css">
</block>
<!-- 【引入javascript文件】 -->
<block name="linkjs">
    <script src="__JS__/software/index.js"></script>
</block>
<!-- 【页面标题】 -->
<block name="webtitle">
    <title>软件发布</title>
</block>
<!-- 【路径导航】 -->
<block name="breadcrumb">
    <ol class="breadcrumb breadcrumb-edit">
        <li class="active">软件发布</li>
    </ol>
</block>
<!-- 【正文区域】 -->
<block name="content">

    <div class="pull-left">
        <a href="__ROOT__/Software/add" class="layui-btn layui-btn-primary">添加软件</a>
    </div>
    <present name="Think.get.search">
        <div class="pull-left search-clear" style="margin-left: 15px;">
            <a href="__ROOT__/Software" class="layui-btn layui-btn-danger clear-condition">清除条件</a>
        </div>
    </present>
    <div class="pull-right search-box">
        <form class="layui-form">
            <input type="text" name="search" value="<present name='Think.get.search'>{$Think.get.search}</present>" id="searchText" class="layui-input search-input" placeholder="搜索">
            <button lay-submit lay-filter="software" class="layui-btn layui-btn-primary search-btn"><i class="layui-icon">&#xe615;</i></button>
        </form>
    </div>

    <div class="btn-banner pull-left" style="width: 100%;margin-top: 20px;">
        <ul class="nav nav-tabs">
                <li role="presentation" class="active firm-li">
                    <a href="javascript:void(0);" aria-controls="overview" role="tab">firmware</a>
                </li>
                <li role="presentation" class="ate-li">
                    <a href="javascript:void(0);" aria-controls="plan" role="tab">ATE</a>
                </li>
        </ul>
    </div>

    <div class="clearfix" style="margin-bottom: 15px;"></div>

<div class="firm-tab" style="width: 100%;">
    <table class="layui-table" style="width: 100% !important;">

        <thead  style="width: 100% !important;">
            <tr>
                <th>序号</th>
                <th>项目类型</th>
                <th>项目编号</th>
                <th>项目名称</th>
                <th>主控MCU</th>
                <th>版本号</th>
                <th>最后更新时间</th>
            </tr>
        </thead>
        <tbody>
            <volist name="softData" id="vo" key="k">
                 <tr>
                        <td>{$k}</td>
                        <td>{$vo.type}</td>
                        <td><a href="__ROOT__/Software/detail/id/{$vo.id}">{$vo.number}</a></td>
                        <td>{$vo.name}</td>
                        <td>{$vo.mcu}</td>
                        <td>{$vo.content.0.version}</td>
                        <notempty name="vo.content.0.save_time">
                            <td>{$vo.content.0.save_time|date="Y-m-d" ,###}</td>
                        </notempty>
                        <empty name="vo.content.0.save_time">
                            <td>{$vo.create_time|date="Y-m-d" ,###}</td>
                        </empty>


                 </tr>
            </volist>
        </tbody>
    </table>
</div>

<div class="ate-tab" style="width: 100%; display: none;">
    <table class="layui-table" style="width: 100% !important;">
        <thead style="width: 100% !important;" >
        <tr>
            <th>序号</th>
            <th>项目类型</th>
            <th>项目编号</th>
            <th>项目名称</th>
            <th>版本号</th>
            <th>最后更新时间</th>
        </tr>
        </thead>
        <tbody>
        <volist name="softwareData" id="vo" key="k">
            <tr>
                <td>{$k}</td>
                <td>{$vo.type}</td>
                <td><a href="__ROOT__/Software/detail/id/{$vo.id}">{$vo.number}</a></td>
                <td>{$vo.name}</td>
                <td>{$vo.content.0.version}</td>
                <notempty name="vo.content.0.save_time">
                    <td>{$vo.content.0.save_time|date="Y-m-d" ,###}</td>
                </notempty>
                <empty name="vo.content.0.save_time">
                    <td>{$vo.create_time|date="Y-m-d" ,###}</td>
                </empty>


            </tr>
        </volist>
        </tbody>
    </table>
</div>



<!--    <div class="clearfix"></div>
    &lt;!&ndash; 分页 &ndash;&gt;
    <ul class="pagination pagination-edit">{$page}</ul>-->
</block>































