<!-- 【模板继承】 -->
<extend name="layout/default"/>
<!-- 【引入css样式表文件】 -->
<block name="linkcss">
	<link rel="stylesheet" href="__CSS__/fliptimer.css">
	<link rel="stylesheet" href="__CSS__/home.css">
</block>
<!-- 【引入javascript文件】 -->
<block name="linkjs">
	<script src="__JS__/jquery.fliptimer.js"></script>
</block>
<!-- 【页面标题】 -->
<block name="webtitle">
	<title>ATOP</title>
</block>
<!-- 【路径导航】 -->
<block name="breadcrumb">
	<ol class="breadcrumb breadcrumb-edit">
		<li class="active">首页</li>
	</ol>
	<!--<div class="btn-group pull-right btn-group-edit" role="group">
		<a href="__ROOT__/Organization" class="btn btn-primary">
			<span class="glyphicon glyphicon-th"></span> 组织架构图
		</a>
		<a href="__ROOT__/addManage" class="btn btn-primary">
			<span class="glyphicon glyphicon-plus"></span> 添加用户
		</a>
	</div>-->
</block>
<!-- 【正文区域】 -->
<block name="content">

	<!-- 天行joke笑话接口 -->
	<ul id="joke-api"></ul>
	<ul id="pic-api"></ul>

	<script>

		$(function(){


			$.ajax({
				url : 'https://api.tianapi.com/txapi/joke/?key=2a05570608f52dd9ab8346e58cc1fbf2&num=10',
				type : 'get',
				dataType : 'json',
				success : function(response){
					if( response.code == 200 ){
						var joke_list = '';
						for( var key in response.newslist ){
							joke_list += '<li><p class="joke-title">'+ response.newslist[key].title +'</p><p class="joke-content">'+ response.newslist[key].content +'</p></li>';
						}
						$('#joke-api').append(joke_list);
					}
				}
			});
			$.ajax({
				url : 'https://api.tianapi.com/meinv/?key=2a05570608f52dd9ab8346e58cc1fbf2&num=10',
				type : 'get',
				dataType : 'json',
				success : function(response){
					if( response.code == 200 ){
						var pic_list = '';
						for( var key in response.newslist ){
							pic_list += '<li><p class="joke-title">'+ response.newslist[key].title +'</p><img class="joke-content" src="'+ response.newslist[key].picUrl +'" width="290"></li>';
						}
						$('#pic-api').append(pic_list);
					}
					console.log(response);
				}
			});


		});


	</script>


</block>































