<!-- 【模板继承】 -->
<extend name="layout/default"/>
<!-- 【引入css样式表文件】 -->
<block name="linkcss">
    <link rel="stylesheet" href="__CSS__/expense.css">
</block>
<!-- 【引入javascript文件】 -->
<block name="linkjs">

</block>
<!-- 【页面标题】 -->
<block name="webtitle">
    <title>报销</title>
</block>
<!-- 【路径导航】 -->
<block name="breadcrumb">
    <ol class="breadcrumb breadcrumb-edit">
        <li class="active">报销</li>
    </ol>
    <div class="btn-group pull-right btn-group-edit" role="group">
        <a href="__ROOT__/addExpense" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus"></span> 发起报销
        </a>
    </div>
</block>
<!-- 【正文区域】 -->
<block name="content">



</block>































