.notice-wrapper {
    margin-top: 10px;
    display: flex;
}
.notice-wrapper .ntc-l {
    border-right: solid 1px #e6e6e6;
}
.notice-wrapper .ntc-l ul li {
    padding: 15px 70px 15px 40px;
    text-align: center;
}
.notice-wrapper .ntc-l ul li:hover a {
    color: #428bca;
}
.notice-wrapper .ntc-l ul li.active a {
    color: #428bca;
}
.notice-wrapper .ntc-l ul li a {
    color: #333;
}
.notice-wrapper .ntc-r {
    flex: 1;
    padding-left: 70px;
    padding-right: 50px;
}

.notice-wrapper .ntc-r .msg-box {
    width: 100%;
    padding: 30px 0;
    border-bottom: dashed 1px #e6e6e6;
}
.notice-wrapper .ntc-r .msg-box:last-child {
    border-bottom: none;
}
@media (min-width: 1440px) {
    .notice-wrapper .ntc-r .msg-box .msg-text {
        width: 1200px;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}
@media (max-width: 1440px) {
    .notice-wrapper .ntc-r .msg-box .msg-text {
        width: 630px;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}
.notice-wrapper .ntc-r .msg-box .msg-time {
    position: relative;
    top: 5px;
    font-size: 12px;
    color: #888;
}
.notice-wrapper .ntc-r .msg-box .msg-text .eml-weidu,
.notice-wrapper .ntc-r .msg-box .msg-text .eml-yidu {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    top: 3px;
    margin-right: 5px;
}
.notice-wrapper .ntc-r .msg-box .msg-text span.tag {
    margin-right: 5px;
}
.notice-wrapper .ntc-r .msg-box .msg-text .eml-weidu {
    background: url("../../img/icons/weidu.svg") center center no-repeat;
    background-size: 100%;
}
.notice-wrapper .ntc-r .msg-box .msg-text .eml-yidu {
    background: url("../../img/icons/yidu.svg") center center no-repeat;
    background-size: 100%;
}