.timeline .timeline-table .timeline-info .timeline-circle {
    top: 0 !important;
}
#Modal-box{
    position: fixed;
    top: 100px;
}
.version{
    width: 60px;
    height:38px;
    padding: 9px 0px;
    position: relative;
    right: 16px;
}
.version-ipt{
    width: 505px;
    position: relative;
    left: -50px;
}
.face-box .attachment-box-dom .file-name{
    position: relative;
}
.attachment-box-ext{
    position: relative;
    bottom: 44px;
    left: 120px;
}
.timeline .timeline-heading .timeline-table .timeline-info, .timeline .timeline-heading .timeline-table .timeline-content {
    padding: 0 25px 0px 20px;
    vertical-align: top;
}