.timeline .timeline-table .timeline-info .timeline-circle {
    top: 0 !important;
}
#Modal-box{
    position: fixed;
    top: 100px;
}
.version{
    width: 60px;
    height:38px;
    padding: 9px 0px;
    position: relative;
    right: 16px;
}
.version-ipt{
    width: 505px;
    position: relative;
    left: -50px;
}
.attachment-box-ext{
    display: inline-block;
    margin-left: 20px;
    font-size: 14px;
}
.timeline .timeline-heading .timeline-table .timeline-info, .timeline .timeline-heading .timeline-table .timeline-content {
    padding: 0 25px 0px 20px;
    vertical-align: top;
}

/*** 抄送 ***/
#fsBox {
    margin-bottom: 15px;
    border: solid 1px #e6e6e6;
    padding: 10px;
}
#fsBox .layui-form-checkbox {
    margin-top: 10px;
}
#fsBox .layui-form-checkbox span {
    width: 67px;
    text-align: center;
    padding: 0;
}
#fsBox .fs-box-title,#fsBox .fs-box-body {

}
#fsBox .fs-box-title {
    border-bottom: solid 1px #e6e6e6;
}

#all-fs-list {
    margin-bottom: 10px;
}
#all-fs-list .fs-list-item {
    font-size: 12px;
    display: inline-block;
    width: 67px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    cursor: pointer;
    border: solid 1px #e6e6e6;
    position: relative;
    margin-bottom: 5px;
}
#all-fs-list .fs-list-item .icon-remove {
    color: #e6e6e6;
}
#all-fs-list .fs-list-item:hover .icon-remove {
    color: #d9534f;
}
#all-fs-list .fs-list-item:hover {
    border: solid 1px #d9534f;
}

.email-block-label{
    width: 60px !important;
    font-weight: normal !important;
}
.email-block-recipient{
    margin-left: 60px !important;
}
.email-block-users-list{
    height:300px !important;
}
.email_person{
    color: #666;
    padding: 10px 5px 0 0;
    margin-top: 5px;
    font-size: 14px;
}
.email_person .email-box div{
    font-size: 15px;
    font-weight: 600;
    color: #444;
}
.email-box{
    padding:0 0 10px 0;
}


















