.layui-table tbody td {
    padding: 15px;
}
.search-box {
    position: relative;
}
.search-box .search-input {
    width: 300px;
}
.search-box .search-btn {
    position: absolute;
    right: 1px;
    top: 1px;
    border: none;
    height: 36px;
}
.nav-tabs li a{
    color: #444;
}
