.sf-wrapper {
    display: flex;
}
.sf-wrapper::after {
    content: '';
    clear: both;
}
.sf-wrapper .sf-box {

}
.sf-wrapper .sf-box .tt-bar {
    padding: 15px 20px;
    font-size: 16px;
    font-weight: bold;
    border: solid 1px #ccc;
    background: #f5f5f5;
}
.sf-wrapper .sf-box-l {
    width: 280px;
    position: absolute;
    left: 31px;
    top: 20px;
    bottom: 0;
    z-index: 1;
    transition: all .3s;
}
.sf-wrapper .sf-box-l .qs-list {
    border: solid 1px #ccc;
    border-top: none;
    max-height: 501px;
    overflow: auto;
}
.sf-wrapper .sf-box-l .qs-list .qs-item {
    display: flex;
}
.sf-wrapper .sf-box-l .qs-list .qs-item:hover {
    background: #f5f5f5;
}
.sf-wrapper .sf-box-l .qs-list .qs-item::after {
    content: '';
    clear: both;
}
.sf-wrapper .sf-box-l .qs-list .qs-item .qs-l,.sf-wrapper .sf-box-l .qs-list .qs-item  .qs-r {
    padding: 15px 20px;
}
.sf-wrapper .sf-box-l .qs-list .qs-item .qs-l {
    flex: 1;
    text-align: center;
    vertical-align: middle;
}
.sf-wrapper .sf-box-l .qs-list .qs-item  .qs-r {
    flex: 9;
}
.sf-wrapper .sf-box-r {
    flex: 8;
    margin-left: 300px;
}
.sf-wrapper .sf-box-r .cc-box {

}
.sf-wrapper .sf-box-r .cc-box .sf-opr i {
    font-size: 18px;
}
.sf-wrapper .sf-box-r .cc-box .sf-edit-btn {

}
.sf-wrapper .sf-box-r .cc-box .cc-item {
    padding: 15px 20px;
    border-bottom: solid 1px #ccc;
    width: 100%;
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
}
.sf-wrapper .sf-box-r .cc-box .cc-item:hover {

}
.sf-wrapper .sf-box-r .cc-box .cc-item .cc-khmc {
    font-size: 16px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.sf-wrapper .sf-box-r .cc-box .cc-item .cc-edit-fs {
    margin-bottom: 10px;
}
.sf-wrapper .sf-box-r .cc-box .cc-item .cc-edit {
    display: flex;
}
.sf-wrapper .sf-box-r .cc-box .cc-item .cc-edit .cc-ed-l {
    width: 70px;
}
.sf-wrapper .sf-box-r .cc-box .cc-item .cc-edit .cc-ed-r {
    flex: 1;
}

.layui-table tbody td {
    min-height: 57px !important;
}
.layui-table .dynamic {
    display: none;
}
.layui-table .layui-btn-group i {
    font-size: 17px;
}
.layui-table .filePick {
    height: 40px;
}
.issue-wrapper {
    width: 100%;
    border: solid 1px #ddd;
    padding: 15px;
    margin-top: 15px;
    position: relative;
    display: none;
}
.issue-wrapper::before {
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    left: 200px;
    top: -15px;
    background: url("../../img/arrow_up_border_ddd.png") center bottom no-repeat;
}
.issue-wrapper .layui-form {
    width: 100%;
}
.issue-wrapper .layui-form .layui-inline:first-child {
    width: 55%;
}
.issue-wrapper .layui-form .layui-inline .layui-input-inline-rewrite {
    width: 100%;
}
.issue-wrapper .layui-form .layui-inline .layui-input {
    width: 100%;
}
.layui-table td {
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;   /*支持IE，chrome，FF不支持*/
    word-wrap: break-word;   /*支持IE，chrome，FF*/
}
.layui-btn-group {
    margin-left: 0 !important;
}

.issue-list {

}
.issue-list .issue-item {
    border: solid 1px #ddd;
    border-bottom: none;
    padding: 15px 15px 15px 0;
}
.issue-list .issue-item:hover {
    background: #f5f5f5;
}
.issue-list .issue-item:last-child {
    border-bottom: solid 1px #ddd;
}
.issue-list .issue-item span:first-child {
    display: inline-block;
    min-width: 50px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-right: solid 1px #ddd;
}
.issue-list .issue-item span:last-child {
    padding-left: 15px;
}