<!-- 【模板继承】 -->
<extend name="layout/default"/>
<!-- 【引入css样式表文件】 -->
<block name="linkcss">
	<link rel="stylesheet" href="__CSS__/bootstrap-datetimepicker.min.css">
	<link rel="stylesheet" href="__PUBLIC__/webuploader/css/webuploader.css">
	<link rel="stylesheet" href="__CSS__/rma/addCustomer.css">
	<link rel="stylesheet" href="__CSS__/productFilter.css">
</block>
<!-- 【引入javascript文件】 -->
<block name="linkjs">
	<script src="__JS__/jquery.validate.min.js" charset="UTF-8"></script>
	<script src="__PUBLIC__/webuploader/js/webuploader.js"></script>
	<script src="__JS__/jquery.form.js" charset="UTF-8"></script>
	<script src="__JS__/productFilter.js" charset="UTF-8"></script>
	<script src="__JS__/bootstrap-datetimepicker.js" charset="UTF-8"></script>
	<script src="__JS__/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
	<script src="__JS__/jquery.Huploadify.js"></script>
	<script src="__JS__/rma/customer.js" charset="UTF-8"></script>
</block>
<!-- 【页面标题】 -->
<block name="webtitle">
	<title>ATOP</title>
</block>
<!-- 【路径导航】 -->
<block name="breadcrumb">
	<ol class="breadcrumb breadcrumb-edit">
		<li><a href="__ROOT__/RMA">客诉处理</a></li>
		<li class="active">新增客诉</li>
	</ol>
</block>
<!-- 【正文区域】 -->
<block name="content">

	<div class="add-customer">

		<form class="layui-form">
			<div class="title-bar" style="margin: 0 0 20px 0;">
				<h4>基本信息</h4>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label">客诉日期</label>
				<div class="layui-input-inline">
					<input type="text" name="cc_time" readonly class="layui-input form_date" lay-verify="required" placeholder="请选择日期">
				</div>
			</div>
			<div class="layui-form-item layui-form-item-rewrite">
				<label class="layui-form-label">客户</label>
				<div class="layui-input-block">
					<input type="text" name="customer" class="layui-input" placeholder="例如 Orienta">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">订单号</label>
				<div class="layui-input-block">
					<input type="text" name="sale_order" class="layui-input" placeholder="例如 188-Orienta-A">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">产品</label>
				<div class="layui-input-block pn-position-relative">
					<input type="hidden" name="managers" value="">
					<input type="text" name="pn" readonly class="layui-input product-select" lay-verify="required" placeholder="例如 APCSFP43123CDL20">
					<button type="button" class="clear-empty" title="清空"><i class="layui-icon">&#x1006;</i></button>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">设备厂商</label>
				<div class="layui-input-block">
					<!--<input type="text" name="vendor" class="layui-input" placeholder="例如 Huawei">-->
					<select name="vendor" lay-search>
						<volist name="vendorBrand" id="value">
							<eq name="value.brand" value="N/A">
								<option value="{$value.brand}">{$value.brand}</option>
							</eq>
						</volist>

						<volist name="vendorBrand" id="value">
							<neq name="value.brand" value="N/A">
								<option value="{$value.brand}">{$value.brand}</option>
							</neq>
						</volist>
					</select>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">设备型号</label>
				<div class="layui-input-block">
					<input type="text" name="model" class="layui-input" placeholder="例如 MA5600T">
				</div>
			</div>
			<div class="layui-form-item layui-form-text">
				<label class="layui-form-label">错误信息</label>
				<div class="layui-input-block">
					<textarea name="error_message" lay-verify="required" placeholder="输入详细报错信息，包括交换机报错信息、客户反馈的详细信息等等" class="layui-textarea"></textarea>
				</div>
			</div>
			<div class="layui-form-item layui-form-text">
				<label class="layui-form-label">原因分析</label>
				<div class="layui-input-block">
					<textarea name="reason" lay-verify="required" placeholder="根据客户反馈的信息做出的初步分析原因" class="layui-textarea"></textarea>
				</div>
			</div>
			<div class="layui-form-item layui-form-text">
				<label class="layui-form-label">备注</label>
				<div class="layui-input-block">
					<textarea name="comments" placeholder="其他补充信息，例如故障产品的数量，序列号等。" class="layui-textarea"></textarea>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">其它附件</label>
				<div class="layui-input-block">
					<!--<input type="file" name="Filedata" class="layui-upload-file add-customer-upload-file" lay-ext="zip|rar|jpg|png|gif|xls|xlsx|doc|docx|pdf">-->
					<!--<div id="uploader-demo">
						&lt;!&ndash;用来存放item&ndash;&gt;
						<div id="fileList" class="uploader-list"></div>
						<div id="filePicker">选择图片</div>
					</div>-->
					<div id="filePicker"><i class="icon-arrow-up"></i> 上传文件</div>

					<div class="uploader-file-queue"></div>
				</div>
			</div>
			<div class="title-bar" style="margin: 0 0 20px 0;">
				<h4>选择处理人</h4>
			</div>
			<div class="layui-inline" style="margin-bottom: 15px;">
				<label class="layui-form-label">FAE</label>
				<div class="layui-input-inline">
					<select name="operation_person">
						<volist name="userlist" id="value">
							<option value="{$value.id}">{$value.nickname}</option>
						</volist>
					</select>
				</div>
			</div>
			<div class="layui-form-item" style="margin-top: 30px;">
				<input type="hidden" name="salesperson" value="{$face.account}">
				<button lay-submit lay-filter="customer" class="layui-btn">提交</button>
				<button type="reset" class="layui-btn layui-btn-primary">重置</button>
			</div>
		</form>
	</div>

	<div id="loading">
		<div class="loading-icon">
			<i class="icon-spinner icon-spin"></i>
		</div>
	</div>

	<!-- 产品筛选 -->
	<div id="layer-open-content" style="display: none;">
		<div class="product-filter-box">
			<div class="filter-search">
				<form class="layui-form">
					<div class="filter-search-block">
						<input type="text" name="search" placeholder="搜索产品型号" class="layui-input">
						<button lay-submit class="product-search-btn" lay-filter="productSearch"><i class="layui-icon">&#xe615;</i></button>
					</div>
				</form>
			</div>
			<div class="product-category-box">
				<div class="filter-category">
					<div class="filter-name pull-left">类型：</div>
					<div class="filter-items pull-left">
						<ul class="filter-items-type">
							<volist name="productFilter.types" id="value">
								<if condition="$i gt 6">
									<li category="type" class="filter-item overflow" title="{$value.type}">{$value.type}</li>
									<else/>
									<li category="type" class="filter-item" title="{$value.type}">{$value.type}</li>
								</if>
							</volist>
						</ul>
					</div>
					<div class="filter-more pull-left">
						<if condition="count($productFilter['types']) gt 6">
							<i class="icon-chevron-down an-more-btn" flag="off"></i>
						</if>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="filter-category">
					<div class="filter-name pull-left">波长：</div>
					<div class="filter-items pull-left">
						<ul class="filter-items-wavelength">
							<volist name="productFilter.wavelengths" id="value">
								<if condition="$i gt 6">
									<li category="wavelength" class="filter-item overflow" as_name="{$value.wavelength}" title="{$value.wavelength}">{$value.wavelength}</li>
									<else/>
									<li category="wavelength" class="filter-item" as_name="{$value.wavelength}" title="{$value.wavelength}">{$value.wavelength}</li>
								</if>
							</volist>
						</ul>
					</div>
					<div class="filter-more pull-left">
						<if condition="count($productFilter['wavelengths']) gt 6">
							<i class="icon-chevron-down an-more-btn" flag="off"></i>
						</if>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="filter-category">
					<div class="filter-name pull-left">距离：</div>
					<div class="filter-items pull-left">
						<ul class="filter-items-reach">
							<volist name="productFilter.reachs" id="value">
								<if condition="$i gt 6">
									<li category="reach" class="filter-item overflow" title="{$value.reach}">{$value.reach}</li>
									<else/>
									<li category="reach" class="filter-item" title="{$value.reach}">{$value.reach}</li>
								</if>
							</volist>
						</ul>
					</div>
					<div class="filter-more pull-left">
						<if condition="count($productFilter['reachs']) gt 6">
							<i class="icon-chevron-down an-more-btn" flag="off"></i>
						</if>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="filter-category">
					<div class="filter-name pull-left">接口：</div>
					<div class="filter-items pull-left">
						<ul class="filter-items-connector">
							<volist name="productFilter.connectors" id="value">
								<if condition="$i gt 6">
									<li category="connector" class="filter-item overflow" title="{$value.connector}">{$value.connector}</li>
									<else/>
									<li category="connector" class="filter-item" title="{$value.connector}">{$value.connector}</li>
								</if>
							</volist>
						</ul>
					</div>
					<div class="filter-more pull-left">
						<if condition="count($productFilter['connectors']) gt 6">
							<i class="icon-chevron-down an-more-btn" flag="off"></i>
						</if>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="filter-category">
					<div class="filter-name pull-left">环境：</div>
					<div class="filter-items pull-left">
						<ul class="filter-items-casetemp">
							<volist name="productFilter.casetemps" id="value">
								<if condition="$i gt 6">
									<li category="casetemp" class="filter-item overflow" as_name="{$value.casetemp}" title="{$value.casetemp_as_name}">{$value.casetemp_as_name}</li>
									<else/>
									<li category="casetemp" class="filter-item" as_name="{$value.casetemp}" title="{$value.casetemp_as_name}">{$value.casetemp_as_name}</li>
								</if>
							</volist>
						</ul>
					</div>
					<div class="filter-more pull-left">
						<if condition="count($productFilter['casetemps']) gt 6">
							<i class="icon-chevron-down an-more-btn" flag="off"></i>
						</if>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<hr>
			<div class="product-list-box">
				<ul>
					<volist name="productFilter.defaultData" id="value">
						<li pro_id="{$value.id}" manager="{$value.manager}">{$value.pn}</li>
					</volist>
				</ul>
			</div>
			<form id="filter-map" style="display: none;">
				<input type="hidden" name="type" value="">
				<input type="hidden" name="wavelength" value="">
				<input type="hidden" name="reach" value="">
				<input type="hidden" name="connector" value="">
				<input type="hidden" name="casetemp" value="">
			</form>
			<div class="reset-filter-box">
				<div class="pull-right"><button class="layui-btn layui-btn-danger reset-filter-btn">重置筛选</button></div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>



	<script>

		/**
		 * 获取当前时间
		 */
		function p(s) {
			return s < 10 ? '0' + s: s;
		}
		var myDate = new Date();
		//获取当前年
		var year = myDate.getFullYear();
		//获取当前月
		var month = myDate.getMonth()+1;
		//获取当前日
		var date = myDate.getDate();
		var now = year+'-'+p(month)+"-"+p(date);
		$('.form_date').val(now);	//填充当天时间

		//定义初始化数据
		var filter_content = $('#layer-open-content').html();
		$('.form_date').datetimepicker({
			language:  'zh-CN',
			format:'yyyy-mm-dd',
			weekStart: 1,
			todayBtn:  1,
			autoclose: 1,
			todayHighlight: 1,
			endDate : new Date(),
			pickerPosition: "bottom-right",
			startView: 2,
			minView: 2,
			forceParse: 0
		});

		$('.clear-empty').click(function(){
			$(this).prev().val('');
		});

		layui.use(['layer','form'], function(){
			var layer = layui.layer,
					form = layui.form();

			form.on('submit(productSearch)', function(data){
				$.ajax({
					url : ThinkPHP['AJAX'] + '/Auth/productSearch',
					type : 'POST',
					data : data.field,
					dataType : 'json',
					success : function( response ){
						if( response.flag > 0 ){
							var pns = '';
							for( var key in response.data ){	//拼装所有产品型号数据
								pns += '<li pro_id="'+ response.data[key].id +'">'+ response.data[key].pn +'</li>\r\n';
							}
							$('.product-list-box ul').html(pns);
						}else{
							layer.msg(response.msg);
						}
					}
				});
				return false;
			});
		});

		//点击选择产品展开筛选器
		var pro_element = null;
		$(document).on('click', '.product-select', function(){
			pro_element = $(this);
			var filter_dialog = layer.open({
				type : 1,
				title : '选择产品',
				area: ['1200px'],
				shade: ['0.5','#000'],
				content: filter_content,
				cancel : function(index, layero){
					$('#filter-map input').val('');
					layer.close(index);
				}
			});
		});


		//将产品信息添加到栏位
		$(document).on('click', '.product-list-box ul li' ,function(){
			if( pro_element.val() == '' ){
				pro_element.val($(this).text());
			}else{
				pro_element.val( pro_element.val() + ' , ' + $(this).text() );
			}
			if( pro_element.prev().val() == '' ){
					pro_element.prev().val($(this).attr('manager'));
		}else{
			pro_element.prev().val( pro_element.prev().val() + ',' + $(this).attr('manager') );
		}
		/*pro_element.prev().val($(this).attr('pro_id'));
		 pro_element.prev().prev().val($(this).attr('manager'));*/
		layer.closeAll();
		$('#filter-map input').val('');
		});


	</script>

</block>



<block name="modals">

	<!-- 消息提示模态框 -->
	<div class="modal fade bs-example-modal-sm" id="message-modal" role="dialog">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-body" id="message-modal-text">
					<p class="modal-message modal-message-success"><i class="icon-ok-sign icon-2x modal-icon-success"></i><span class="message-text">成功后的信息</span></p>
					<p class="modal-message modal-message-error"><i class="icon-remove-sign icon-2x modal-icon-error"></i><span class="message-text">失败后的信息</span></p>
					<p class="modal-message modal-message-info"><i class="icon-info-sign icon-2x modal-icon-info"></i><span class="message-text">错误的信息</span></p>
				</div>
			</div>
		</div>
	</div>

</block>
