<!-- 【模板继承】 -->
<extend name="layout/default"/>
<!-- 【引入css样式表文件】 -->
<block name="linkcss">
    <link rel="stylesheet" href="__CSS__/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="__CSS__/rma/satisfaction.css">
    <link rel="stylesheet" href="__CSS__/rma/addSatisfaction.css">
</block>
<!-- 【引入javascript文件】 -->
<block name="linkjs">
    <script src="__JS__/bootstrap-datetimepicker.js" charset="UTF-8"></script>
    <script src="__JS__/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
    <script src="__JS__/rma/addSatisfaction.js"></script>
</block>
<!-- 【页面标题】 -->
<block name="webtitle">
    <title>添加送样客诉</title>
</block>
<!-- 【路径导航】 -->
<block name="breadcrumb">
    <ol class="breadcrumb breadcrumb-edit">
        <li><a href="__ROOT__/RMA">客诉处理</a></li>
        <li><a href="__ROOT__/RMA/satisfaction">客诉满意度汇总</a></li>
        <li class="active">添加送样客诉</li>
    </ol>
</block>
<!-- 【正文区域】 -->
<block name="content">
    <div class="sf-wrapper">
        <div class="sf-box sf-box-l">
            <div class="tt-bar">
                问题代号 & 说明 <a href="__ROOT__/RMA/addQuestion" style="float: right;"><i class="icon-plus-sign"></i> 添加问题</a>
            </div>
            <div class="qs-list">
                <div class="qs-item">
                    <div class="qs-l">1</div>
                    <div class="qs-r">光功率不符合规格</div>
                </div>
                <div class="qs-item">
                    <div class="qs-l">2</div>
                    <div class="qs-r">光功率不符合规格</div>
                </div>
                <div class="qs-item">
                    <div class="qs-l">3</div>
                    <div class="qs-r">光功率不符合规格</div>
                </div>
                <div class="qs-item">
                    <div class="qs-l">4</div>
                    <div class="qs-r">光功率不符合规格</div>
                </div>
                <div class="qs-item">
                    <div class="qs-l">5</div>
                    <div class="qs-r">光功率不符合规格</div>
                </div>
                <div class="qs-item">
                    <div class="qs-l">6</div>
                    <div class="qs-r">光功率不符合规格</div>
                </div>
                <div class="qs-item">
                    <div class="qs-l">7</div>
                    <div class="qs-r">光功率不符合规格</div>
                </div>
                <div class="qs-item">
                    <div class="qs-l">8</div>
                    <div class="qs-r">光功率不符合规格</div>
                </div>
                <div class="qs-item">
                    <div class="qs-l">9</div>
                    <div class="qs-r">光功率不符合规格</div>
                </div>
                <div class="qs-item">
                    <div class="qs-l">10</div>
                    <div class="qs-r">光功率不符合规格</div>
                </div>
                <div class="qs-item">
                    <div class="qs-l">11</div>
                    <div class="qs-r">光功率不符合规格</div>
                </div>
                <div class="qs-item">
                    <div class="qs-l">12</div>
                    <div class="qs-r">光功率不符合规格</div>
                </div>
                <div class="qs-item">
                    <div class="qs-l">13</div>
                    <div class="qs-r">光功率不符合规格</div>
                </div>
                <div class="qs-item">
                    <div class="qs-l">14</div>
                    <div class="qs-r">光功率不符合规格</div>
                </div>
                <div class="qs-item">
                    <div class="qs-l">15</div>
                    <div class="qs-r">光功率不符合规格</div>
                </div>
            </div>
        </div>
        <div class="sf-box sf-box-r">

        </div>
    </div>
    <form class="layui-form" style="width: 700px;margin-left: 320px;">
        <div class="layui-form-item">
            <label class="layui-form-label">客户名称</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" lay-verify="required" placeholder="请输入客户名称">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">客诉问题</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" lay-verify="required" placeholder="请输入客诉问题代号（多个并用 , 隔开）">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">年份</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input form_date" lay-verify="required" readonly placeholder="请选择年份">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">上／下半年</label>
            <div class="layui-input-block">
                <input type="radio" name="HalfYear" value="up" title="上半年" checked>
                <input type="radio" name="HalfYear" value="down" title="下半年">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">客诉反馈</label>
            <div class="layui-input-block">
                <textarea name="desc" placeholder="请输入客诉反馈" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="submit">提交</button>
            </div>
        </div>
    </form>

    <script>
        $('.form_date').datetimepicker({
            format: 'yyyy',
            weekStart: 1,
            autoclose: true,
            startView: 4,
            minView: 4,
            endDate: new Date(),
            forceParse: false,
            language: 'zh-CN'
        });
    </script>

</block>









