<!-- 【模板继承】 -->
<extend name="layout/default"/>
<!-- 【引入css样式表文件】 -->
<block name="linkcss">
    <link rel="stylesheet" href="__CSS__/rma/process.css">
</block>
<!-- 【引入javascript文件】 -->
<block name="linkjs">
    <script src="__JS__/rma/process.js"></script>
</block>
<!-- 【页面标题】 -->
<block name="webtitle">
    <title>客诉流程</title>
</block>
<!-- 【路径导航】 -->
<block name="breadcrumb">
    <ol class="breadcrumb breadcrumb-edit">
        <li><a href="__ROOT__/RMA">客诉处理</a></li>
        <li class="active">客诉流程</li>
    </ol>
</block>
<!-- 【正文区域】 -->
<block name="content">

    <img src="__IMG__/rma_flowchart.jpg" alt="">

</block>









