<!-- 【模板继承】 -->
<extend name="layout/default"/>
<!-- 【引入css样式表文件】 -->
<block name="linkcss">
    <link rel="stylesheet" href="__PUBLIC__/webuploader/css/webuploader.css">
    <link rel="stylesheet" href="__CSS__/rma/satisfaction.css">
</block>
<!-- 【引入javascript文件】 -->
<block name="linkjs">
    <script src="__PUBLIC__/webuploader/js/webuploader.js"></script>
    <script src="__JS__/rma/satisfaction.js"></script>
</block>
<!-- 【页面标题】 -->
<block name="webtitle">
    <title>客诉满意度汇总</title>
</block>
<!-- 【路径导航】 -->
<block name="breadcrumb">
    <ol class="breadcrumb breadcrumb-edit">
        <li><a href="__ROOT__/RMA">客诉处理</a></li>
        <li class="active">客诉满意度汇总</li>
    </ol>
</block>
<!-- 【正文区域】 -->
<block name="content">

    <div class="pull-left">
        <button type="button" class="layui-btn layui-btn-primary add-column"><i class="icon-plus"></i> 添加送样客诉</button>
        <button type="button" class="layui-btn layui-btn-primary"><i class="icon-plus"></i> 添加问题点</button>
    </div>

    <div class="clearfix" style="margin-bottom: 20px;"></div>

    <table class="layui-table">
        <thead>
            <tr>
                <th>序号</th>
                <th>客户</th>
                <th>问题点</th>
                <th>年份</th>
                <th>反馈</th>
                <th>附件</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <volist name="satisfactions" id="value">
                <tr>
                    <td width="6%">
                        {$value.id}
                        <input type="hidden" name="id" value="{$value.id}">
                    </td>
                    <td width="10%">
                        <span class="stable">{$value.customer_name}</span>
                        <input class="dynamic layui-input" type="hidden" name="customer_name" value="{$value.customer_name}">
                    </td>
                    <td width="16%">
                        <span class="stable">{$value.issue_ids}</span>
                        <input class="dynamic layui-input" type="hidden" name="issue_ids" value="{$value.issue_ids}">
                    </td>
                    <td width="15%">
                        <span class="stable">{$value.years}</span>
                        <input class="dynamic layui-input" type="hidden" name="years" value="{$value.years}">
                    </td>
                    <td width="20%">
                        <span class="stable">{$value.feedback}</span>
                        <input class="dynamic layui-input" type="hidden" name="feedback" value="{$value.feedback}">
                    </td>
                    <td  width="20%">
                        <notempty name="value.attachment">
                            <volist name="value.attachment" id="vo">
                                <a href="/{$vo.path}" target="_blank"><i class="file-icon file-icon-ext-{$vo.ext}"></i> {$vo.savename}</a>
                            </volist>
                        <else/>
                            <span class="stable">无</span>
                            <div class="dynamic filePick"><i class="icon-arrow-up"></i> 上传文件</div>
                        </notempty>

                    </td>
                    <td width="13%">
                        <div class="layui-btn-group">
                            <button type="button" class="layui-btn layui-btn-primary edit-btn" title="编辑"><i class="icon-edit"></i></button>
                            <button type="button" class="layui-btn layui-btn-primary" title="删除"><i class="icon-trash"></i></button>
                        </div>
                        <div class="edit-active layui-btn-group sr-only">
                            <button type="button" class="layui-btn layui-btn-primary save-btn" title="保存"><i class="icon-ok"></i></button>
                            <button type="button" class="layui-btn layui-btn-primary cancel-btn" title="取消"><i class="icon-remove"></i></button>
                        </div>
                    </td>
                </tr>
            </volist>
        </tbody>
    </table>

</block>









