<!-- 【模板继承】 -->
<extend name="layout/default"/>
<!-- 【引入css样式表文件】 -->
<block name="linkcss">
    <link rel="stylesheet" href="__CSS__/approval/add.css">
</block>
<!-- 【引入javascript文件】 -->
<block name="linkjs">
    <script src="__JS__/approval/add.js"></script>
</block>
<!-- 【页面标题】 -->
<block name="webtitle">
    <title>添加审批</title>
</block>
<!-- 【路径导航】 -->
<block name="breadcrumb">
    <ol class="breadcrumb breadcrumb-edit">
        <li class="active">添加审批</li>
    </ol>
</block>
<!-- 【正文区域】 -->
<block name="content">

    <div class="title-bar" style="margin: 0 0 30px 0;">
        <h4>基本信息</h4>
    </div>

    <div class="basic-container">
        <form class="layui-form">
            <div class="layui-form-item">
                <label class="layui-form-label">集名称</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" name="set_name" required placeholder="请输入集名称">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">归档目录</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" name="archive_dir" required placeholder="请输入归档目录">
                </div>
            </div>
        </form>
    </div>

    <div class="title-bar" style="margin: 25px 0 10px 0;">
        <h4>步骤信息</h4>
    </div>

    <div class="approval-container">
        <form class="wrapper-item layui-form">
            <div class="approval-item approval-number">
                <p>Step - <span>1</span></p>
            </div>
            <div class="approval-item approval-name">
                <div class="layui-form-item">
                    <div class="layui-form-label">名称</div>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" name="step_name" placeholder="请输入步骤名称">
                    </div>
                </div>
            </div>
            <div class="approval-item approval-type">
                <div class="layui-form-item">
                    <div class="layui-form-label">性质</div>
                    <div class="layui-input-block">
                        <select name="type" lay-filter="apr-type">
                            <option value="department" selected>部门</option>
                            <option value="position">职位</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="approval-item approval-category apr-pst-box">
                <div class="layui-form-item apr-dpmt">
                    <div class="layui-form-label">部门</div>
                    <div class="layui-input-block">
                        <select name="department">
                        </select>
                    </div>
                </div>
                <div class="layui-form-item apr-pst" style="display: none;">
                    <div class="layui-form-label">职位</div>
                    <div class="layui-input-block">
                        <select name="position">
                        </select>
                    </div>
                </div>
            </div>

            <div class="approval-item approval-transfer">
                <div class="layui-form-item" style="">
                    <label class="layui-form-label">转交</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="transfer" title="支持" >
                    </div>
                </div>
            </div>
            <div class="approval-item approval-refuse">
                <div class="layui-form-item">
                    <label class="layui-form-label">拒绝</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="refuse" title="支持">
                    </div>
                </div>
            </div>


            <div class="approval-item approval-add-button">
                <button type="button" class="layui-btn layui-btn-danger remove-column"><i class="icon-trash"></i> 移除</button>
            </div>
        </form>
    </div>
    <div class="button-wrapper">
        <button type="button" class="layui-btn apr-submit">提交</button>
        <button type="button" class="add-column layui-btn layui-btn-primary"><i class="icon-plus"></i> 添加一栏</button>
    </div>

</block>































