<!-- 【模板继承】 -->
<extend name="layout/default"/>
<!-- 【引入css样式表文件】 -->
<block name="linkcss">
    <link rel="stylesheet" href="__CSS__/bs-is-fun.css">
    <link rel="stylesheet" href="__CSS__/approval-details.css">
</block>
<!-- 【引入javascript文件】 -->
<block name="linkjs">
    <script src="__JS__/approval-details.js"></script>
</block>
<!-- 【页面标题】 -->
<block name="webtitle">
    <title>审批详情</title>
</block>
<!-- 【路径导航】 -->
<block name="breadcrumb">
    <ol class="breadcrumb breadcrumb-edit">
        <li><a href="__ROOT__/Approval">审批</a></li>
        <li class="active">审批详情</li>
    </ol>
</block>
<!-- 【正文区域】 -->
<block name="content">

    <div class="approval-container">
        <ul class="nav nav-pills nav-justified step step-progress">
            <li class="active">
                <a>发起报销<br>({$approval.person_name})</a>
            </li>
            <!-- 如果Y出现的次数大于等于1就表示至少审核成功过1次 -->
            <li class="<php> if( substr_count( $approval['state'],'Y' ) >= 1 ) { echo 'active'; } </php> <eq name='approval.state' value='N'>error</eq>">
                <a>部门总监审核<br>({$approval.approvals_name.0})</a>
            </li>
            <li class="<php> if( substr_count( $approval['state'],'Y' ) >= 2 ) { echo 'active'; } </php> <eq name='approval.state' value='YN'>error</eq>">
                <a>财务总监审核<br>({$approval.approvals_name.1})</a>
            </li>
            <li class="<php> if( substr_count( $approval['state'],'Y' ) >= 3 ) { echo 'active'; } </php> <eq name='approval.state' value='YYN'>error</eq>">
                <a>财务副总审核<br>({$approval.approvals_name.2})</a>
            </li>
        </ul>
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="panel-title">报销条目</span>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>报销类别</th>
                        <th>报销金额（元）</th>
                        <th>报销明细</th>
                    </tr>
                </thead>
                <tbody>
                    <volist name="approval.affiliated" id="value">
                        <tr>
                            <td>{$i}</td>
                            <td>{$value.category}</td>
                            <td>{$value.money}元</td>
                            <td>{$value.detail}</td>
                        </tr>
                    </volist>
                    <tr>
                        <td colspan="4" class="total-money-td" style="font-size: 16px;padding: 12px 0;">报销总额：<b class="text-danger">{$approval.total_money}元</b></td>
                    </tr>
                </tbody>
            </table>
            <div class="panel-footer">
                <p class="text-right"><i class="icon-time"></i>&nbsp;创建时间：{$approval.create_time}</p>
            </div>
        </div>
        <notempty name="approval.attachment">
            <p>附件：</p>
            <ul class="file-list">
                <volist name="approval.attachment" id="value">
                    <li><a href="{$value}" target="_blank">{:getBasename($value)}</a></li>
                </volist>
            </ul>
        </notempty>
        <notempty name="approval.log">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">备注</div>
                </div>
                <div class="panel-body panel-body-edit">
                    <volist name="approval.log" id="vo">
                        <notempty name="vo.comment">
                            <p>{$vo.audit_name}：{$vo.comment}<small class="pull-right approval-time-offest"><i class="icon-time"></i>&nbsp;{$vo.log_time}</small></p>
                        </notempty>
                    </volist>
                </div>
            </div>
        </notempty>

        <if condition="$approval['state'] eq ''">
            <eq name="approval.approvals.0" value="$Think.session.user.id">
                <div class="approval-btn-box" data-toggle="modal" data-target="#approval-modal">
                    <div class="approval-icon-box">
                        <p class="approval-icon"><i class="icon-pushpin"></i></p>
                        <p class="approval-text">审批</p>
                    </div>
                </div>
            </eq>
        <elseif condition="$approval['state'] eq 'Y'"/>
            <eq name="approval.approvals.1" value="$Think.session.user.id">
                <div class="approval-btn-box" data-toggle="modal" data-target="#approval-modal">
                    <div class="approval-icon-box">
                        <p class="approval-icon"><i class="icon-pushpin"></i></p>
                        <p class="approval-text">审批</p>
                    </div>
                </div>
            </eq>
        <elseif condition="$approval['state'] eq 'YY'"/>
            <eq name="approval.approvals.2" value="$Think.session.user.id">
                <div class="approval-btn-box" data-toggle="modal" data-target="#approval-modal">
                    <div class="approval-icon-box">
                        <p class="approval-icon"><i class="icon-pushpin"></i></p>
                        <p class="approval-text">审批</p>
                    </div>
                </div>
            </eq>
        </if>

        <div class="modal fade" id="approval-modal" tabindex="-1" role="dialog" aria-labelledby="approvalModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">审批</h4>
                    </div>
                    <div class="modal-body">
                        <form class="approval-form">
                            <div class="form-group">
                                <span>状态：</span>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default state-btn-text">通过</button>
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu state-select" role="menu">
                                        <li state="1"><a>通过</a></li>
                                        <li state="2"><a>拒绝</a></li>
                                    </ul>
                                </div>
                            </div>
                            <input type="hidden" class="state" value="1">
                            <input type="hidden" class="joint" value="{$approval.id}">
                            <input type="hidden" class="type" value="{$approval.type}">
                            <div class="form-group">
                                <textarea class="form-control textarea-edit" placeholder="备注信息"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" id="done">确定</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div id="loading">
        <div class="loading-icon">
            <i class="icon-spinner icon-spin"></i>
        </div>
    </div>

</block>































