<!-- 【模板继承】 -->
<extend name="layout/default"/>
<!-- 【引入css样式表文件】 -->
<block name="linkcss">
    <link rel="stylesheet" href="__PUBLIC__/webuploader/css/webuploader.css">
    <link rel="stylesheet" href="__CSS__/approval/index.css">
</block>
<!-- 【引入javascript文件】 -->
<block name="linkjs">
    <script src="__PUBLIC__/webuploader/js/webuploader.js"></script>
    <script src="__JS__/approval/index.js"></script>
</block>
<!-- 【页面标题】 -->
<block name="webtitle">
    <title>通用评审</title>
</block>
<!-- 【路径导航】 -->
<block name="breadcrumb">
    <ol class="breadcrumb breadcrumb-edit">
        <li class="active">通用评审</li>
    </ol>
</block>
<!-- 【正文区域】 -->
<block name="content">

    <a href="__ROOT__/Approval/add" class="layui-btn layui-btn-primary" style="margin-bottom: 10px !important;">添加评审</a>

    <div class="approval-wrapper">
        <input type="hidden" id="CurrentTab" value="{$Think.get.tab}">
        <div class="layui-tab">
            <ul class="layui-tab-title">
                <li class="<eq name='tab' value='initiated'>layui-this</eq>"><a href="__ROOT__/Approval/index/tab/initiated">发起评审</a></li>
                <li class="<eq name='tab' value='ongoing'>layui-this</eq>"><a href="__ROOT__/Approval/index/tab/ongoing">待我评审的</a></li>
                <li class="<eq name='tab' value='already'>layui-this</eq>"><a href="__ROOT__/Approval/index/tab/already">我已评审的</a></li>
                <li class="<eq name='tab' value='belongtome'>layui-this</eq>"><a href="__ROOT__/Approval/index/tab/belongtome">我发起的</a></li>
                <li class="<eq name='tab' value='statistics'>layui-this</eq>"><a href="__ROOT__/Approval/index/tab/statistics">评审统计</a></li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item <eq name='tab' value='initiated'>layui-show</eq>">
                    <div class="init-apr">
                        <div class="apr-box">
                            <form class="layui-form">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">标题</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="title" lay-verify="required" class="layui-input" required placeholder="请输入标题">
                                    </div>
                                </div>
                                    <div class="layui-form-item apr-type">
                                        <label class="layui-form-label">类别</label>
                                        <div class="layui-input-block">
                                            <select name="set_id" lay-filter="category">
                                                <volist name="approvalData" id="value" key="key">
                                                    <option value="{$value.id}">{$value.name}</option>
                                                </volist>
                                            </select>
                                        </div>
                                    </div>
                                <div class="layui-form-item sel-person">
                                    <label class="layui-form-label">审批</label>
                                    <div class="layui-input-block">
                                        <select name="person"></select>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">附件</label>
                                    <div class="layui-input-block">
                                        <div id="filePick"><i class="icon-arrow-up"></i> 上传文件</div>
                                        <div class="uploader-attachment-queue"></div>
                                    </div>
                                </div>
                                <div class="layui-form-item layui-form-text">
                                    <label class="layui-form-label">描述</label>
                                    <div class="layui-input-block">
                                        <textarea name="info" placeholder="详细描述" class="layui-textarea"></textarea>
                                    </div>
                                </div>
                                <div class="layui-form-item layui-form-text">
                                    <div class="layui-input-block">
                                        <button lay-submit lay-filter="submit" class="layui-btn">提交</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="apr-box">
                            <h3>类别预览：　<small>{$tmpSeData.0.aname}</small></h3>
                            <div class="apr-preview">
                                <ul>
                                    <volist name="tmpSeData" id="val" key="ke">
                                        <volist name="val.step" id="v" key="k">
                                            <li aid='{$v.a_id}' sid="{$v.id}"><i class='icon-double-angle-right'></i>　Step - {$v.step}　　{$v.name}</li>
                                        </volist>
                                    </volist>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-tab-item <eq name='tab' value='ongoing'>layui-show</eq>">
                    <table class="layui-table" lay-skin="line">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th width="25%">标题</th>
                            <th>类别</th>
                            <th>发起人</th>
                            <th>创建时间</th>
                            <th>进度</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <p>1</p>
                            </td>
                            <td>
                                <a href="#">这是一条作用于测试的审批数据</a>
                            </td>
                            <td>
                                <p>请假</p>
                            </td>
                            <td>
                                <p><img src="__IMG__/face/face_50.png" width="40" alt="">张某</p>
                            </td>
                            <td>
                                <p>2017-06-21 16:56</p>
                            </td>
                            <td>
                                <p>审批</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>2</p>
                            </td>
                            <td>
                                <a href="#">这是一条作用于测试的审批数据</a>
                            </td>
                            <td>
                                <p>请假</p>
                            </td>
                            <td>
                                <p><img src="__IMG__/face/face_50.png" width="40" alt="">张某</p>
                            </td>
                            <td>
                                <p>2017-06-21 16:56</p>
                            </td>
                            <td>
                                <p>审批</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>3</p>
                            </td>
                            <td>
                                <a href="#">这是一条作用于测试的审批数据</a>
                            </td>
                            <td>
                                <p>请假</p>
                            </td>
                            <td>
                                <p><img src="__IMG__/face/face_50.png" width="40" alt="">张某</p>
                            </td>
                            <td>
                                <p>2017-06-21 16:56</p>
                            </td>
                            <td>
                                <p>审批</p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="layui-tab-item <eq name='tab' value='already'>layui-show</eq>">
                    <table class="layui-table" lay-skin="line">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th width="25%">标题</th>
                            <th>类别</th>
                            <th>发起人</th>
                            <th>创建时间</th>
                            <th>进度</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <p>1</p>
                            </td>
                            <td>
                                <a href="#">这是一条作用于测试的审批数据</a>
                            </td>
                            <td>
                                <p>请假</p>
                            </td>
                            <td>
                                <p><img src="__IMG__/face/face_50.png" width="40" alt="">张某</p>
                            </td>
                            <td>
                                <p>2017-06-21 16:56</p>
                            </td>
                            <td>
                                <p>审批</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>2</p>
                            </td>
                            <td>
                                <a href="#">这是一条作用于测试的审批数据</a>
                            </td>
                            <td>
                                <p>请假</p>
                            </td>
                            <td>
                                <p><img src="__IMG__/face/face_50.png" width="40" alt="">张某</p>
                            </td>
                            <td>
                                <p>2017-06-21 16:56</p>
                            </td>
                            <td>
                                <p>审批</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>3</p>
                            </td>
                            <td>
                                <a href="#">这是一条作用于测试的审批数据</a>
                            </td>
                            <td>
                                <p>请假</p>
                            </td>
                            <td>
                                <p><img src="__IMG__/face/face_50.png" width="40" alt="">张某</p>
                            </td>
                            <td>
                                <p>2017-06-21 16:56</p>
                            </td>
                            <td>
                                <p>审批</p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="layui-tab-item <eq name='tab' value='belongtome'>layui-show</eq>">
                    <table class="layui-table" lay-skin="line">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th width="25%">标题</th>
                            <th>类别</th>
                            <th>当前处理人</th>
                            <th>创建时间</th>
                            <th>进度</th>
                            <th>状态</th>
                        </tr>
                        </thead>
                        <tbody>
                            <volist name="BelongtomeResult" id="value">
                                <tr>
                                    <td>
                                        <p>{$value.detail_id}</p>
                                    </td>
                                    <td>
                                        <a href="__URL__/detail/id/{$value.detail_id}">{$value.title}</a>
                                    </td>
                                    <td>
                                        <p>{$value.name}</p>
                                    </td>
                                    <td>
                                        <p><img src="{$value.current_data.face}" width="40" alt="">{$value.current_data.nickname}</p>
                                    </td>
                                    <td>
                                        <p>{$value.create_time|date="Y-m-d H:i",###}</p>
                                    </td>
                                    <td>
                                        <p>{$value.current_data.name}</p>
                                    </td>
                                    <td>
                                        <eq name="value.state" value="C">
                                            <p style="width: 55px;height: 30px; background: #5cb85c;border-radius: 2px; text-align: center;line-height: 30px; color: #fff;">完成</p>
                                        </eq>
                                        <eq name="value.state" value="Y">
                                            <p style="width: 55px;height: 30px; background: #428bca;border-radius: 2px; text-align: center;line-height: 30px; color: #fff;">进行中</p>
                                        </eq>
                                        <eq name="value.state" value="N">
                                            <p style="width: 55px;height: 30px; background: #d9534f;border-radius: 2px; text-align: center;line-height: 30px; color: #fff;">拒绝</p>
                                        </eq>

                                    </td>
                                </tr>
                            </volist>
                        </tbody>
                    </table>
                </div>
                <div class="layui-tab-item <eq name='tab' value='statistics'>layui-show</eq>">内容5</div>
            </div>
        </div>
    </div>


</block>































