<!-- 【模板继承】 -->
<extend name="layout/default"/>
<!-- 【引入css样式表文件】 -->
<block name="linkcss">
	<link rel="stylesheet" href="__CSS__/notice/index.css">
</block>
<!-- 【引入javascript文件】 -->
<block name="linkjs">
	<script src="__JS__/notice/index.js"></script>
</block>
<!-- 【页面标题】 -->
<block name="webtitle">
	<title>通知中心</title>
</block>
<!-- 【路径导航】 -->
<block name="breadcrumb">
	<ol class="breadcrumb breadcrumb-edit">
		<li class="active">首页</li>
	</ol>
</block>
<!-- 【正文区域】 -->
<block name="content">

	<!--<div class="notice-wrapper">
		<div class="ntc-l">
			<ul>
				<li class="active"><a href="#">所有消息</a></li>
				<li><a href="#">已读消息</a></li>
				<li><a href="#">未读消息</a></li>
			</ul>
		</div>
		<div class="ntc-r">
			<div class="msg-box">
				<div class="msg-text pull-left">
					<i class="eml-weidu"></i><a href="#" title="【文件管理】[肖艾佑]推送了[李平]发起的编号为ECN0000015的文件评审，请及时处理。">【文件管理】[肖艾佑]推送了[李平]发起的编号为ECN0000015的文件评审，请及时处理。</a>
				</div>
				<div class="msg-time pull-right">2017-09-19 15:20:13</div>
				<div class="clearfix"></div>
			</div>
			<div class="msg-box">
				<div class="msg-text pull-left">
					<i class="eml-weidu"></i><a href="#" title="【文件管理】[邓丽]通过了[李平]发起的编号为ECN0000015的文件评审，文件已归档。">【文件管理】[邓丽]通过了[李平]发起的编号为ECN0000015的文件评审，文件已归档。</a>
				</div>
				<div class="msg-time pull-right">2017-09-19 15:20:13</div>
				<div class="clearfix"></div>
			</div>
			<div class="msg-box">
				<div class="msg-text pull-left">
					<i class="eml-weidu"></i><a href="#" title="【文件管理】[邓丽]通过了[李平]发起的编号为ECN0000015的文件评审，文件已归档。">【文件管理】[杨培云]发起了编号为ECN0000016的文件评审，请及时处理。</a>
				</div>
				<div class="msg-time pull-right">2017-09-19 15:20:13</div>
				<div class="clearfix"></div>
			</div>
			<div class="msg-box">
				<div class="msg-text pull-left">
					<i class="eml-yidu"></i><a href="#" title="【文件管理】[肖艾佑]推送了[李平]发起的编号为ECN0000015的文件评审，请及时处理。">【文件管理】[肖艾佑]推送了[李平]发起的编号为ECN0000015的文件评审，请及时处理。</a>
				</div>
				<div class="msg-time pull-right">2017-09-19 15:20:13</div>
				<div class="clearfix"></div>
			</div>
			<div class="msg-box">
				<div class="msg-text pull-left">
					<i class="eml-yidu"></i><a href="#" title="【文件管理】[丁征]通过了您发起的编号为ECN0000015的文件评审。">【文件管理】[丁征]通过了您发起的编号为ECN0000015的文件评审。</a>
				</div>
				<div class="msg-time pull-right">2017-09-19 15:20:13</div>
				<div class="clearfix"></div>
			</div>
			<div class="msg-box">
				<div class="msg-text pull-left">
					<i class="eml-weidu"></i><a href="#" title="【文件管理】[肖艾佑]推送了[李平]发起的编号为ECN0000015的文件评审，请及时处理。">【文件管理】[肖艾佑]推送了[李平]发起的编号为ECN0000015的文件评审，请及时处理。</a>
				</div>
				<div class="msg-time pull-right">2017-09-19 15:20:13</div>
				<div class="clearfix"></div>
			</div>
			<div class="msg-box">
				<div class="msg-text pull-left">
					<i class="eml-weidu"></i><a href="#" title="【文件管理】[邓丽]通过了[李平]发起的编号为ECN0000015的文件评审，文件已归档。">【文件管理】[杨培云]发起了编号为ECN0000016的文件评审，请及时处理。</a>
				</div>
				<div class="msg-time pull-right">2017-09-19 15:20:13</div>
				<div class="clearfix"></div>
			</div>
			<div class="msg-box">
				<div class="msg-text pull-left">
					<i class="eml-yidu"></i><a href="#" title="【文件管理】[袁朵]拒绝了您发起的编号为ECN0000015的文件评审。">【文件管理】[袁朵]拒绝了您发起的编号为ECN0000015的文件评审。</a>
				</div>
				<div class="msg-time pull-right">2017-09-19 15:20:13</div>
				<div class="clearfix"></div>
			</div>
			<div class="msg-box">
				<div class="msg-text pull-left">
					<i class="eml-yidu"></i><a href="#" title="【文件管理】[袁朵]拒绝了您发起的编号为ECN0000015的文件评审。">【文件管理】[杨培云]通过了您发起的编号为ECN0000015的文件评审，并将[李平]添加为评审人。</a>
				</div>
				<div class="msg-time pull-right">2017-09-19 15:20:13</div>
				<div class="clearfix"></div>
			</div>
			<div class="msg-box">
				<div class="msg-text pull-left">
					<i class="eml-yidu"></i><a href="#" title="【文件管理】[袁朵]拒绝了您发起的编号为ECN0000015的文件评审。">【文件管理】[袁朵]拒绝了您发起的编号为ECN0000015的文件评审。</a>
				</div>
				<div class="msg-time pull-right">2017-09-19 15:20:13</div>
				<div class="clearfix"></div>
			</div>
			<div class="msg-box">
				<div class="msg-text pull-left">
					<i class="eml-weidu"></i><a href="#" title="【文件管理】[肖艾佑]推送了[李平]发起的编号为ECN0000015的文件评审，请及时处理。">【文件管理】[肖艾佑]推送了[李平]发起的编号为ECN0000015的文件评审，请及时处理。</a>
				</div>
				<div class="msg-time pull-right">2017-09-19 15:20:13</div>
				<div class="clearfix"></div>
			</div>
			<div class="msg-box">
				<div class="msg-text pull-left">
					<i class="eml-weidu"></i><a href="#" title="【文件管理】[邓丽]通过了[李平]发起的编号为ECN0000015的文件评审，文件已归档。">【文件管理】[杨培云]发起了编号为ECN0000016的文件评审，请及时处理。</a>
				</div>
				<div class="msg-time pull-right">2017-09-19 15:20:13</div>
				<div class="clearfix"></div>
			</div>
			<div class="msg-box">
				<div class="msg-text pull-left">
					<i class="eml-yidu"></i><a href="#" title="【文件管理】[袁朵]拒绝了您发起的编号为ECN0000015的文件评审。">【文件管理】[袁朵]拒绝了您发起的编号为ECN0000015的文件评审。</a>
				</div>
				<div class="msg-time pull-right">2017-09-19 15:20:13</div>
				<div class="clearfix"></div>
			</div>
			<div class="msg-box">
				<div class="msg-text pull-left">
					<i class="eml-yidu"></i><a href="#" title="【文件管理】[袁朵]拒绝了您发起的编号为ECN0000015的文件评审。">【文件管理】[杨培云]通过了您发起的编号为ECN0000015的文件评审，并将[李平]添加为评审人。</a>
				</div>
				<div class="msg-time pull-right">2017-09-19 15:20:13</div>
				<div class="clearfix"></div>
			</div>
			<div class="msg-box">
				<div class="msg-text pull-left">
					<i class="eml-yidu"></i><a href="#" title="【文件管理】[袁朵]拒绝了您发起的编号为ECN0000015的文件评审。">【文件管理】[袁朵]拒绝了您发起的编号为ECN0000015的文件评审。</a>
				</div>
				<div class="msg-time pull-right">2017-09-19 15:20:13</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>-->


</block>































