<!-- 【模板继承】 -->
<extend name="layout/default"/>
<!-- 【引入css样式表文件】 -->
<block name="linkcss">
	<link rel="stylesheet" href="__CSS__/notice.css">
</block>
<!-- 【引入javascript文件】 -->
<block name="linkjs">
	<script src="__JS__/notice/index.js"></script>
</block>
<!-- 【页面标题】 -->
<block name="webtitle">
	<title>通知中心</title>
</block>
<!-- 【路径导航】 -->
<block name="breadcrumb">
	<ol class="breadcrumb breadcrumb-edit">
		<li class="active">首页</li>
	</ol>
</block>
<!-- 【正文区域】 -->
<block name="content">

	<div id="banner">
		<li class="has-active"> <i class="glyphicon glyphicon-eye-close"></i> 未查阅</li>
		<li> <i class="glyphicon glyphicon-eye-open"></i> 已查阅</li>
	</div>

	<div id="info">
		<div class="box">
			<dd><span></span><a href="">样品订单[ 20170315LXXR ]，产品[ APSPD51HM3CDL40 ]，物料准备已完成</a></dd>
			<dd><span></span><a href="">产品[ APSB35123CDL40 ]有新的样品订单[ 20170306GZDX-CS ]，请您关注！</a></dd>
			<dd><span></span><a href="">产品[ APS31253IDL2 ]有新的样品订单[ 20170217JGB-CS ]，请您关注！</a></dd>
			<dd><span></span><a href="">样品订单[ 20170315LXXR ]，产品[ APSPD51HM3CDL40 ]，物料准备已完成</a></dd>
			<dd><span></span><a href="">产品[ APS31253IDL2 ]有新的样品订单[ 20170217JGB-CS ]，请您关注！</a></dd>
			<dd><span></span><a href="">项目[ 201703XXR ]子项目[ APSPD51 ]有新消息，请及时处理！</a></dd>
			<dd><span></span><a href="">产品[ APSB35123CDL40 ]有新的样品订单[ 20170306GZDX-CS ]，请您关注！</a></dd>
			<dd><span></span><a href="">项目[ 201703XXR ]子项目[ APSPD51 ]有新消息，请及时处理！</a></dd>
			<dd><span></span><a href="">样品订单[ 20170315LXXR ]，产品[ APSPD51HM3CDL40 ]，物料准备已完成</a></dd>
			<dd><span></span><a href="">项目[ 201703XXR ]子项目[ APSPD51 ]有新消息，请及时处理！</a></dd>
			<dd><span></span><a href="">样品订单[ 20170315LXXR ]，产品[ APSPD51HM3CDL40 ]，物料准备已完成</a></dd>
			<dd><span></span><a href="">产品[ APSB35123CDL40 ]有新的样品订单[ 20170306GZDX-CS ]，请您关注！</a></dd>
			<dd><span></span><a href="">勿忘国耻！纪念“九一八事变”爆发86周年 物料准备已完成</a></dd>
			<dd><span></span><a href="">样品订单[ 20170315LXXR ]，产品[ APSPD51HM3CDL直击陆军戈壁防空演练 导弹腾空直扑敌方目标准备已完成</a></dd>
			<dd><span></span><a href="">样品订单[ 20170315LXXR ]，产品[ APSPD51HM3CDL40 ]，物料准备已完成</a></dd>
			<dd><span></span><a href="">样品订直击陆军戈壁防空演练 导弹腾空直扑敌方目标完成</a></dd>
			<dd><span></span><a href="">样品订单[ 20170315LXXR ]，产品[ APSPD51HM3CDL40 ]，物料准备已完成</a></dd>
			<dd><span></span><a href="">勿忘国耻！纪念“九一八事变”爆发86周年 勿忘国耻！纪念“九一八事变”爆发86周年</a></dd>
			<dd><span></span><a href="">样品订女子饭馆大吃大喝不给钱还呛店员：我穿阿迪的成</a></dd>
			<dd><span></span><a href="">样女子饭馆大吃大喝不给钱还呛店员：我穿阿迪的女子饭馆大吃大喝不给钱还呛店员：我穿阿迪的准备已完成</a></dd>
			<dd><span></span><a href="">样品订单[ 2名潜水员探索水下长城失踪13天 遗体找到完成</a></dd>
			<dd><span></span><a href="">样2名潜水员探索水下长城失踪13天 遗体找到PD51HM3CDL40 ]，物料准备已完成</a></dd>
			<dd><span></span><a href="">样品订单[ 20170315LXXR ]，产品[ APSPD51HM3CDL40 ]，物料准备已完成</a></dd>
			<dd><span></span><a href="">样2名潜水员探索水下长城失踪13天 遗体找到2名潜水员探索水下长城失踪13天 遗体找到备已完成</a></dd>
			<dd><span></span><a href="">样品订单[ 20170315LXXR ]，产品[ APSPD51HM3CDL40 ]，物料准备已完成</a></dd>
			<dd><span></span><a href="">今日话题：10万+算学术论文，浙大新规合适吗？备已完成</a></dd>
			<dd><span></span><a href="">样品订单[ 20170315LXXR ]，产品[ APSPD51HM3CDL40 ]，物料准备已完成</a></dd>
			<dd><span></span><a href="">今日话题：10万+算学术论文，浙大新规合适吗？PD51HM3CDL40 ]，物料准备已完成</a></dd>
			<dd><span></span><a href="">黄焖鸡米饭进军美国 当地食客排起长队等待</a></dd>
			<dd><span></span><a href="">样父子被困井下 官兵摘下氧气面罩为被困者供氧订单[ 20170315LXXR ]，产品[ APS黄焖鸡米饭进军美国 当地食客排起长队等待</a></dd>
			<dd><span></span><a href="">昆凌害羞承认 二胎是在周杰伦探班时怀上的，产品[ APSPD51HM3CDL40 ]，物料准备已完成</a></dd>
			<dd><span></span><a href="">修过的机场 是抗战轰炸日本的起点[ APSPD51HM3修过的机场 是抗战轰炸日本的起点备已完成</a></dd>
		</div>
	</div>



</block>































