<!DOCTYPE html>
<html>
<head>

	<meta charset="UTF-8">
	<link href="__IMG__/favicon.ico" rel="shortcut icon">
	{//网站标题}
	<block name="webtitle"></block>
	<link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css">
	<link rel="stylesheet" href="__CSS__/bootstrap.min.css">
	<link rel="stylesheet" href="__CSS__/font-awesome.min.css">
	<link rel="stylesheet" href="__CSS__/iconfont.css">
	<link rel="stylesheet" href="__CSS__/basic.css">
	<link rel="stylesheet" href="__CSS__/Theme/{$face.theme}.css">
	<link rel="stylesheet" href="__CSS__/promotion_index.css">
	{//引入css文件}
	<block name="linkcss"></block>
	<script src="__JS__/jquery.min.js"></script>
	<script src="__JS__/bootstrap.min.js"></script>
	<script src="__PUBLIC__/layui/layui.js"></script>
	<script src="__JS__/index.js"></script>
	{//引入js文件}
	<block name="linkjs"></block>
	
</head>
<body>

	<script type="text/javascript">
		var ThinkPHP = {
			'AJAX' : '__MODULE__',
			'ROOT' : '__ROOT__',
			'IMG' : '__IMG__',
			'UPLOAD' : '__UPLOAD__',
			'HTTP_HOST' : '{$Think.server.http_host}',
			'UPLOADIFY' : '__PUBLIC__/home/uploadify',
			'UPLOADIFY_CONFIG_FILESIZELIMIT' : '{$Think.config.UPLOAD_FILESIZELIMIT}',
			'UPLOADIFY_CONFIG_UPLOADLIMIT' : '{$Think.config.UPLOAD_UPLOADLIMIT}',
			'UPLOADIFY_CONFIG_FILETYPEEXTS' : '{$Think.config.UPLOAD_FILETYPEEXTS}',
		}
	</script>


	<div id="bodyContainer">
		<block name="sidebar">
			<div id="sidebar">
				<div class="sidebar-inset">

					{//Logo区}
					<a href="__ROOT__/Index" class="logo"></a>

					{//导航区}
					<ul id="nav">
						<li>
							<a class="secondary-menu"><i class="icon-wrench"></i><span>研发管理&nbsp;&nbsp;</span></a>
							<ol class="<in name='CONTROLLER_NAME' value='Project,Sample,Product,Compatibility,Software'><else/>sr-only</in>">
								<li><a href="__ROOT__/Project" class="<eq name='CONTROLLER_NAME' value='Project'>active</eq>">&nbsp;&nbsp;项目管理</a></li>
								<li><a href="__ROOT__/Sample" class="<eq name='CONTROLLER_NAME' value='Sample'>active</eq>">&nbsp;&nbsp;样品管理</a></li>
								<li><a href="__ROOT__/Product" class="<eq name='CONTROLLER_NAME' value='Product'>active</eq>">&nbsp;&nbsp;产品管理</a></li>
								<li><a href="__ROOT__/Software" class="<eq name='CONTROLLER_NAME' value='Software'>active</eq>">&nbsp;&nbsp;软件发布</a></li>
								<li><a href="__ROOT__/Compatibility" class="<eq name='CONTROLLER_NAME' value='Compatibility'>active</eq>">&nbsp;&nbsp;兼容表</a></li>
							</ol>
						</li>
						<!--<li id="Audit">
							<div class="auditBTN">
								<i class="icon-legal"></i><span>审批　　&nbsp;&nbsp;<span class="icon-caret-right"></span></span>
							</div>
							<div id="AuditChildMenu">
								<span><a href="__ROOT__/Expense"><i class="icon-credit-card"></i>&nbsp;&nbsp;报销</a></span>
							</div>
						</li>-->
						<!--<li>
							<a href="__ROOT__/Approval" class="<eq name='CONTROLLER_NAME' value='Approval'>active</eq>"><i class="icon-legal"></i><span>审批</span></a>
						</li>-->
						<li>
							<a href="__ROOT__/DCC" class="<eq name='CONTROLLER_NAME' value='DCC'>active</eq>"><i class="icon-print"></i><span>文档中心</span></a>
						</li>
						<li>
							<a href="__ROOT__/Acronym" class="<eq name='CONTROLLER_NAME' value='Acronym'>active</eq>"><i class="icon-book"></i><span>缩略词</span></a>
						</li>
						<li>
							<a href="__ROOT__/RMA" class="<eq name='CONTROLLER_NAME' value='RMA'>active</eq>"><i class="icon-comments-alt"></i><span>客诉处理</span></a>
						</li>
						<li>
							<a href="__ROOT__/Manage" class="<eq name='CONTROLLER_NAME' value='Manage'>active</eq>"><i class="icon-user"></i><span>用户管理</span></a>
						</li>
						<eq name="Think.session.user.account" value="admin">
							<li>
								<a href="__ROOT__/System" class="<eq name='CONTROLLER_NAME' value='System'>active</eq>"><i class="icon-cog"></i><span>系统</span></a>
							</li>
						</eq>
					</ul>

					{//版权信息}
					<div class="copyright-info">
						<p>ATOP Corporation</p>
						<p>Copyright &copy; 2016</p>
					</div>

				</div>
			</div>
		</block>

		{//二级导航及用户信息/常用操作区}
		<div id="header">
			{//面包屑导航}
			<block name="breadcrumb"></block>

			<div class="user-operation-box pull-right">
				<div class="user-operation-item pull-left">
					<a href="__ROOT__/Notice" class="option-name"><i class="icon-bell"></i>&nbsp;&nbsp;&nbsp;通知 <i id="red-dot" class="icon-circle sr-only"></i></a>
				</div>
				<div class="user-operation-item pull-left user-options-btn">
					<a class="option-name">
						<i class="layui-icon">&#xe612;</i>&nbsp;&nbsp;&nbsp;{$Think.session.user.nickname}&nbsp;&nbsp;&nbsp;<i class="icon-caret-down"></i>
					</a>
					{//用户选项}
					<div class="user-options">
						<ul>
							<li><a href="__ROOT__/Center/modify"><i class="icon-pencil"></i>&nbsp;&nbsp;修改资料</a></li>
							<li><a href="__ROOT__/Center/face"><i class="icon-github-alt"></i>&nbsp;&nbsp;修改头像</a></li>
							<li><a href="__ROOT__/Logout"><i class="icon-signout"></i>&nbsp;&nbsp;退出登录</a></li>
						</ul>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
		</div>



		{//正文区域}
		<div id="content">
			<present name="PERMISSION_DENIED">
				<div class="permission-denied">
					<div class="permission-denied-icon"><i class="icon-desktop"></i></div>
					<p class="permission-denied-text-zh">您没有权限访问该页面</p>
					<p class="permission-denied-text-en">You do not have permission to access the page</p>
				</div>
			<else/>
				<div class="container-fluid" id="content-box">
					<block name="content">

					</block>
				</div>
			</present>
		</div>

		{//消息提示模态框}
		<block name="modalBlock">
			<div class="modal fade bs-example-modal-sm" id="message-modal" role="dialog">
				<div class="modal-dialog modal-sm">
					<div class="modal-content">
						<div class="modal-body" id="message-modal-text">
							<p class="modal-message modal-message-success"><i class="icon-ok-sign icon-2x modal-icon-success"></i><span class="message-text">成功后的信息</span></p>
							<p class="modal-message modal-message-error"><i class="icon-remove-sign icon-2x modal-icon-error"></i><span class="message-text">失败后的信息</span></p>
							<p class="modal-message modal-message-info"><i class="icon-info-sign icon-2x modal-icon-info"></i><span class="message-text">错误的信息</span></p>
						</div>
					</div>
				</div>
			</div>
		</block>
	</div>

	{//检测IE（如果是低版本IE浏览器则直接屏蔽）}
	<div style="display: none" id=browser_ie>
		<div class=brower_info>
			<div class="browser_box">
				<div class=notice_info><h3>你的浏览器版本过低，可能导致网站不能正常访问<br>为了你能正常使用网站功能，请使用以下浏览器。</h3></div>
				<div class=browser_list>
					<span><a href="javascript:void(0);" target=_blank><img src="__IMG__/Chrome.png" title="谷歌浏览器" data-toggle="tooltip" data-placement="bottom"></a></span>
					<span><a href="javascript:void(0);" target=_blank><img src="__IMG__/Firefox.png" title="火狐浏览器" data-toggle="tooltip" data-placement="bottom"></a></span>
					<span><a href="javascript:void(0);" target=_blank><img src="__IMG__/Safari.png" title="safari浏览器" data-toggle="tooltip" data-placement="bottom"></a></span>
					<span><a href="javascript:void(0);" target=_blank><img src="__IMG__/Opera.jpg" title="Opera浏览器" data-toggle="tooltip" data-placement="bottom"></a></span>
				</div>
			</div>
		</div>
	</div>

	{//定义消息提示模态框}
	<div class="modal fade bs-example-modal-sm" id="MessageModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content" id="MessageText">
				<!-- 消息内容 -->
			</div>
		</div>
	</div>

	{//Modal集}
	<block name="modals">

	</block>

	{//回到顶部}
	<div id="scrollBackTop" class="sr-only" title="回到顶部"><i class="icon-arrow-up"></i></div>


	<script>
		{//如果检测到用户浏览器为IE则禁用}
		var str = navigator.userAgent;

		if(str.indexOf('MSIE')>0){
			alert(str);
			checkIE();
		}

		function checkIE(){
			var body = document.getElementsByName('body');
			var bodyContainer = document.getElementById('bodyContainer');
			var browser_ie = document.getElementById('browser_ie');
			bodyContainer.parentNode.removeChild(bodyContainer);
			browser_ie.style.display = 'block';
		}
	</script>

</body>
</html>