<!-- 【模板继承】 -->
<extend name="layout/default"/>
<!-- 【引入css样式表文件】 -->
<block name="linkcss">
    <link rel="stylesheet" href="__CSS__/jquery.toastmessage.css">
    <link rel="stylesheet" href="__CSS__/compatible/add.css">
    <link rel="stylesheet" href="__CSS__/productFilter.css">
</block>
<!-- 【引入javascript文件】 -->
<block name="linkjs">
    <script src="__JS__/jquery.toastmessage.js"></script>
    <script src="__JS__/compatible/add.js"></script>
</block>
<!-- 【页面标题】 -->
<block name="webtitle">
    <title>添加兼容记录</title>
</block>
<!-- 【路径导航】 -->
<block name="breadcrumb">
    <ol class="breadcrumb breadcrumb-edit">
        <li><a href="__ROOT__/Compatibility">兼容表</a></li>
        <li class="active">添加兼容记录</li>
    </ol>
</block>
<!-- 【正文区域】 -->
<block name="content">

    <div class="compatible-container">
        <form role="form" class="layui-form compatible-form">
            <div class="layui-form-item">
                <label class="layui-form-label">产品型号</label>
                <div class="layui-input-block">
                    <input type="hidden" id="pn" name="pn">
                    <input type="text" class="layui-input sample_product_select" lay-verify="required" readonly name="pn_name" id="pn_value" data-toggle="modal" data-target="#product-modal">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">设备厂商</label>
                <div class="layui-input-block">
                    <select name="vendor" id="vendor" lay-search lay-filter="vendor">
                        <volist name="vendor" id="value">
                            <option value="{$value.id}">{$value.brand}</option>
                        </volist>
                    </select>
                    <input type="hidden" id="vendor_name" name="vendor_name" value="{$vendor.0.brand}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">设备型号</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" lay-verify="required" name="model" id="model">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">状态</label>
                <div class="layui-input-block">
                    <select name="state">
                        <option value="1" selected>完全兼容</option>
                        <option value="2">能够使用</option>
                        <option value="3">不能兼容</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">版本</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" id="version" name="version">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">原厂型号</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" id="original" name="original">
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-block">
                    <textarea name="comment" class="layui-textarea" id="comment"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <input type="button" class="layui-btn" lay-submit lay-filter="compatibility" value="提交">
                    <input type="reset" class="layui-btn layui-btn-primary" value="重置">
                </div>
            </div>
        </form>
    </div>


</block>



<block name="modals">


    <!-- 产品筛选 -->
    <div id="layer-open-content" style="display: none;">
        <div class="product-filter-box">
            <div class="filter-search">
                <form class="layui-form">
                    <div class="filter-search-block">
                        <input type="text" name="search" placeholder="搜索产品型号" class="layui-input">
                        <button lay-submit class="product-search-btn" lay-filter="productSearch"><i class="layui-icon">&#xe615;</i></button>
                    </div>
                </form>
            </div>
            <div class="product-category-box">
                <div class="filter-category">
                    <div class="filter-name pull-left">类型：</div>
                    <div class="filter-items pull-left">
                        <ul class="filter-items-type">
                            <volist name="productFilter.types" id="value">
                                <if condition="$i gt 6">
                                    <li category="type" class="filter-item overflow" title="{$value.type}">{$value.type}</li>
                                    <else/>
                                    <li category="type" class="filter-item" title="{$value.type}">{$value.type}</li>
                                </if>
                            </volist>
                        </ul>
                    </div>
                    <div class="filter-more pull-left">
                        <if condition="count($productFilter['types']) gt 6">
                            <i class="icon-chevron-down an-more-btn" flag="off"></i>
                        </if>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="filter-category">
                    <div class="filter-name pull-left">波长：</div>
                    <div class="filter-items pull-left">
                        <ul class="filter-items-wavelength">
                            <volist name="productFilter.wavelengths" id="value">
                                <if condition="$i gt 6">
                                    <li category="wavelength" class="filter-item overflow" as_name="{$value.wavelength}" title="{$value.wavelength}">{$value.wavelength}</li>
                                    <else/>
                                    <li category="wavelength" class="filter-item" as_name="{$value.wavelength}" title="{$value.wavelength}">{$value.wavelength}</li>
                                </if>
                            </volist>
                        </ul>
                    </div>
                    <div class="filter-more pull-left">
                        <if condition="count($productFilter['wavelengths']) gt 6">
                            <i class="icon-chevron-down an-more-btn" flag="off"></i>
                        </if>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="filter-category">
                    <div class="filter-name pull-left">距离：</div>
                    <div class="filter-items pull-left">
                        <ul class="filter-items-reach">
                            <volist name="productFilter.reachs" id="value">
                                <if condition="$i gt 6">
                                    <li category="reach" class="filter-item overflow" title="{$value.reach}">{$value.reach}</li>
                                    <else/>
                                    <li category="reach" class="filter-item" title="{$value.reach}">{$value.reach}</li>
                                </if>
                            </volist>
                        </ul>
                    </div>
                    <div class="filter-more pull-left">
                        <if condition="count($productFilter['reachs']) gt 6">
                            <i class="icon-chevron-down an-more-btn" flag="off"></i>
                        </if>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="filter-category">
                    <div class="filter-name pull-left">接口：</div>
                    <div class="filter-items pull-left">
                        <ul class="filter-items-connector">
                            <volist name="productFilter.connectors" id="value">
                                <if condition="$i gt 6">
                                    <li category="connector" class="filter-item overflow" title="{$value.connector}">{$value.connector}</li>
                                    <else/>
                                    <li category="connector" class="filter-item" title="{$value.connector}">{$value.connector}</li>
                                </if>
                            </volist>
                        </ul>
                    </div>
                    <div class="filter-more pull-left">
                        <if condition="count($productFilter['connectors']) gt 6">
                            <i class="icon-chevron-down an-more-btn" flag="off"></i>
                        </if>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="filter-category">
                    <div class="filter-name pull-left">环境：</div>
                    <div class="filter-items pull-left">
                        <ul class="filter-items-casetemp">
                            <volist name="productFilter.casetemps" id="value">
                                <if condition="$i gt 6">
                                    <li category="casetemp" class="filter-item overflow" as_name="{$value.casetemp}" title="{$value.casetemp_as_name}">{$value.casetemp_as_name}</li>
                                    <else/>
                                    <li category="casetemp" class="filter-item" as_name="{$value.casetemp}" title="{$value.casetemp_as_name}">{$value.casetemp_as_name}</li>
                                </if>
                            </volist>
                        </ul>
                    </div>
                    <div class="filter-more pull-left">
                        <if condition="count($productFilter['casetemps']) gt 6">
                            <i class="icon-chevron-down an-more-btn" flag="off"></i>
                        </if>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <hr>
            <div class="product-list-box">
                <ul>
                    <volist name="productFilter.defaultData" id="value">
                        <li pro_id="{$value.id}" manager="{$value.manager}">{$value.pn}</li>
                    </volist>
                </ul>
            </div>
            <form id="filter-map" style="display: none;">
                <input type="hidden" name="type" value="">
                <input type="hidden" name="wavelength" value="">
                <input type="hidden" name="reach" value="">
                <input type="hidden" name="connector" value="">
                <input type="hidden" name="casetemp" value="">
            </form>
            <div class="reset-filter-box">

                <div class="pull-right"><button class="layui-btn layui-btn-danger reset-filter-btn">重置筛选</button></div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

</block>



























