<!-- 【模板继承】 -->
<extend name="layout/default"/>
<!-- 【引入css样式表文件】 -->
<block name="linkcss">
	<link rel="stylesheet" href="__CSS__/bootstrap-datetimepicker.min.css">
	<link rel="stylesheet" href="__CSS__/oldcustomer/addCustomer.css">
</block>
<!-- 【引入javascript文件】 -->
<block name="linkjs">
	<script src="__JS__/jquery.validate.min.js" charset="UTF-8"></script>
	<script src="__JS__/jquery.form.js" charset="UTF-8"></script>
	<script src="__JS__/bootstrap-datetimepicker.js" charset="UTF-8"></script>
	<script src="__JS__/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
	<script src="__JS__/jquery.Huploadify.js"></script>
	<script src="__JS__/oldcustomer/customer.js" charset="UTF-8"></script>
</block>
<!-- 【页面标题】 -->
<block name="webtitle">
	<title>ATOP</title>
</block>
<!-- 【路径导航】 -->
<block name="breadcrumb">
	<ol class="breadcrumb breadcrumb-edit">
		<li><a href="__ROOT__/Customer">客诉处理</a></li>
		<li class="active">新增客诉</li>
	</ol>
</block>
<!-- 【正文区域】 -->
<block name="content">

	<div class="add-customer">
		<form role="form" id="form">
			<div class="form-group form-group-edit col-lg-6" >
				<label>客诉日期</label>
				<div class="input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-format="yyyy-mm-dd" data-link-field="dtp_input2" id="datetimepicker2">
					<input class="form-control" id="cc_time" type="text" readonly name="cc_time" placeholder="请选择日期" />
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
				</div>
				<input type="hidden" id="dtp_input2" value="" />
			</div>
			<label>销售人员</label>
			<div class="input-group input-group-edit col-lg-6">
				<input class="form-control" id="salesperson" type="text" name="salesperson" placeholder="请选择销售人员" readonly />
				<span class="input-group-btn">
					<button class="btn btn-default" data-toggle="modal" data-target="#sales-modal" type="button">选择</button>
				</span>
			</div>
			<p class="help-block help-block-color help-block-edit" id="salesperson_error"></p>
			<div class="form-group form-group-edit">
				<label>客户</label>
				<input class="form-control" id="customer" type="text" name="customer" placeholder="例如 Orienta" />
				<p class="help-block help-block-color"></p>
			</div>
			<div class="form-group form-group-edit">
				<label>订单号</label>
				<input class="form-control" id="sale_order" type="text" name="sale_order" placeholder="例如 188-Orienta-A" />
				<p class="help-block help-block-color"></p>
			</div>
			<div class="form-group form-group-edit">
				<label>产品信息</label>
				<div class="input-group col-lg-12">
					<input class="form-control" id="pn" type="text" name="pn" placeholder="例如 APCSFP43123CDL20" disabled/>
					<span class="input-group-btn">
						<button type="button" id="clear-product" class="btn btn-danger" data-dismiss="modal" data-toggle="tooltip" data-placement="top" title="清空" onMouseOver="$(this).tooltip('show')"><i class="icon-remove"></i></button>
						<button class="btn btn-default" id="select-product-btn" type="button">添加</button>
					</span>
				</div>
				<p class="help-block help-block-color"></p>
			</div>
			<div class="form-group form-group-edit">
				<label>设备厂商</label>
				<input class="form-control" id="vendor" type="text" name="vendor" placeholder="例如 Huawei" />
				<p class="help-block help-block-color"></p>
			</div>
			<div class="form-group form-group-edit">
				<label>设备型号</label>
				<input class="form-control" id="model" type="text" name="model" placeholder="例如 MA5600T" />
				<p class="help-block help-block-color"></p>
			</div>
			<div class="form-group form-group-edit">
				<label>错误信息</label>
				<textarea class="form-control" id="error_message" name="error_message" placeholder="输入详细报错信息，包括交换机报错信息、客户反馈的详细信息等等"></textarea>
				<p class="help-block help-block-color"></p>
			</div>
			<div class="form-group form-group-edit">
				<label>原因分析</label>
				<textarea class="form-control" id="reason" name="reason" placeholder="根据客户反馈的信息做出的初步分析原因"></textarea>
				<p class="help-block help-block-color"></p>
			</div>
			<div class="form-group form-group-edit">
				<label>备注</label>
				<textarea class="form-control" id="comments" name="comments" placeholder="其他补充信息，例如故障产品的数量，序列号等。"></textarea>
				<p class="help-block help-block-color"></p>
			</div>
			<div class="form-group btn-box form-group-edit">
				<input type="hidden" name="userAccount" value="" id="userAccount">
				<button type="reset" class="btn btn-default btn-lg">重置</button>
				<button type="submit" class="btn btn-primary btn-lg" id="submit-btn">确定</button>
			</div>
			<input type="hidden" id="manager-id">
		</form>
	</div>

	<script>
	$('.form_date').datetimepicker({
        language:  'zh-CN',
        format:'yyyy-mm-dd',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		endDate : new Date(),
		pickerPosition: "bottom-left",
		startView: 2,
		minView: 2,
		forceParse: 0
    });
	</script>
</block>

<block name="modals">

	<!-- 销售人员选择模态框 -->
	<div class="modal fade bs-example-modal-lg" id="sales-modal" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span>
						<span class="sr-only">close</span>
					</button>
					<h4 class="modal-title">选择销售人员</h4>
				</div>
				<div class="modal-body">
					<ul id="user-list">
						<volist name="userlist" id="value">
							<li account="{$value.account}">{$value.nickname}</li>
						</volist>
					</ul>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary done-btn" data-dismiss="modal">确定</button>
				</div>
			</div>
		</div>
	</div>

	<!-- 消息提示模态框 -->
	<div class="modal fade bs-example-modal-sm" id="message-modal" role="dialog">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-body" id="message-modal-text">
					<p class="modal-message modal-message-success"><i class="icon-ok-sign icon-2x modal-icon-success"></i><span class="message-text">成功后的信息</span></p>
					<p class="modal-message modal-message-error"><i class="icon-remove-sign icon-2x modal-icon-error"></i><span class="message-text">失败后的信息</span></p>
					<p class="modal-message modal-message-info"><i class="icon-info-sign icon-2x modal-icon-info"></i><span class="message-text">错误的信息</span></p>
				</div>
			</div>
		</div>
	</div>

	<!-- 消息提示模态框 -->
	<div class="modal fade bs-example-modal-lg" id="product-modal" role="dialog">
		<div class="modal-dialog modal-lg modal-dialog-editsize">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<span class="modal-title">选择产品型号</span>
				</div>
				<div class="modal-body filter-body">
					<ul id="conditon-list"></ul>
					<div class="filter-col">
						<span class="label-type">类型</span>
						<ul class="condition-type">
							<li onclick="filter('type','SFP')">SFP</li><li onclick="filter('type','SFP BIDI')">SFP BIDI</li><li onclick="filter('type','SFP Copper')">SFP Copper</li><li onclick="filter('type','SFP CWDM')">SFP CWDM</li><li onclick="filter('type','SFP DWDM')">SFP DWDM</li><li onclick="filter('type','CSFP')">CSFP</li>
							<p></p>
							<li style="display: none;" class="default-hide-li" onclick="filter('type','SFP+')">SFP+</li><li style="display: none;" class="default-hide-li" onclick="filter('type','SFP+ AOC')">SFP+ AOC</li><li style="display: none;" class="default-hide-li" onclick="filter('type','SFP+ BIDI')">SFP+ BIDI</li><li style="display: none;" class="default-hide-li" onclick="filter('type','SFP+ CWDM')">SFP+ CWDM</li><li style="display: none;" class="default-hide-li" onclick="filter('type','SFP+ DAC Active')">SFP+ DAC Active</li><li style="display: none;" class="default-hide-li" onclick="filter('type','SFP+ DAC Passive')">SFP+ DAC Passive</li><li style="display: none;" class="default-hide-li" onclick="filter('type','SFP+ DWDM')">SFP+ DWDM</li>
							<p></p>
							<li style="display: none;" class="default-hide-li" onclick="filter('type','XFP')">XFP</li><li style="display: none;" class="default-hide-li" onclick="filter('type','XFP BIDI')">XFP BIDI</li><li style="display: none;" class="default-hide-li" onclick="filter('type','XFP CWDM')">XFP CWDM</li><li style="display: none;" class="default-hide-li" onclick="filter('type','XFP DWDM')">XFP DWDM</li>
							<p></p>
							<li style="display: none;" class="default-hide-li" onclick="filter('type','QSFP+')">QSFP+</li><li style="display: none;" class="default-hide-li" onclick="filter('type','QSFP+ AOC')">QSFP+ AOC</li><li style="display: none;" class="default-hide-li" onclick="filter('type','QSFP+ DAC Active')">QSFP+ DAC Active</li><li style="display: none;" class="default-hide-li" onclick="filter('type','QSFP+ DAC Passive')">QSFP+ DAC Passive</li><li style="display: none;" class="default-hide-li" onclick="filter('type','QSFP+ to 4xSFP+')">QSFP+ to 4xSFP+</li>
							<p></p>
							<li style="display: none;" class="default-hide-li" onclick="filter('type','CFP2')">CFP2</li>
						</ul>
						<span flag="true" class="pull-right label-more"><i class="icon-angle-down">&nbsp;</i><span>更多<span></span>
					</div>
					<div class="filter-col">
						<span class="label-type">波长</span>
						<ul class="condition-wavelength">
							<volist name="filter.filterWavelength" id="value">
								<if condition="strlen($value['wavelength']) lt 12 AND !strpos($value['wavelength'],'.')"><elt name="i" value="9"><li onclick="filter('wavelength','{$value.wavelength}',this);">{$value.wavelength}</li><else/><li style="display:none;" class="default-hide-li" onclick="filter('wavelength','{$value.wavelength}',this);">{$value.wavelength}</li></elt></if>
							</volist>
						</ul>
						<span flag="true" class="pull-right label-more"><i class="icon-angle-down">&nbsp;</i><span>更多<span></span>
					</div>
					<div class="filter-col">
						<span class="label-type">距离</span>
						<ul class="condition-reach">
							<volist name="filter.filterReach" id="value">
								<elt name="i" value="7"><li onclick="filter('reach','{$value.reach}');">{$value.reach}</li><else/><li style="display:none;" class="default-hide-li" onclick="filter('reach','{$value.reach}');">{$value.reach}</li></elt>
							</volist>
						</ul>
						<span flag="true" class="pull-right label-more"><i class="icon-angle-down">&nbsp;</i><span>更多<span></span>
					</div>
					<div class="filter-col">
						<span class="label-type">接口</span>
						<ul class="condition-connector">
							<volist name="filter.filterConnector" id="value">
								<li onclick="filter('connector','{$value.connector}');">{$value.connector}</li>
							</volist>
						</ul>
						<!--<span class="pull-right label-more"><i class="icon-angle-down">&nbsp;</i><span>更多<span></span>-->
					</div>
					<div class="filter-col">
						<span class="label-type">环境</span>
						<ul class="condition-casetemp">
							<volist name="filter.filterCasetemp" id="value">
								<eq name="value.casetemp" value="C"><li value="{$value.casetemp}" onclick="filter('casetemp','{$value.casetemp}');">C档（0-70°）</li><else/><li value="{$value.casetemp}" onclick="filter('casetemp','{$value.casetemp}');">I档（-40°-85°）</li></eq>
							</volist>
						</ul>
						<!--<span class="pull-right label-more"><i class="icon-angle-down">&nbsp;</i><span>更多<span></span>-->
					</div>
					<hr>
					<ul id="product-list">
						<volist name="filterdata" id="value">
							<lt name="i" value="18">
								<li p_id="{$value.pid}" nickname="{$value.nickname}" manager="{$value.manager}" pn="{$value.pn}" type="{$value.type}">{$value.pn}</li>
								<else/>
								<li class="sr-only" p_id="{$value.pid}" nickname="{$value.nickname}" manager="{$value.manager}" pn="{$value.pn}" type="{$value.type}">{$value.pn}</li>
							</lt>
						</volist>
					</ul>
				</div>
				<div class="modal-footer">

				</div>
			</div>
		</div>
	</div>

	<div id="loading">
		<div class="loading-icon">
			<i class="icon-spinner icon-spin"></i>
		</div>
	</div>

	<form class="sr-only" id="filterForm">
		<input type="hidden" name="type">
		<input type="hidden" name="wavelength">
		<input type="hidden" name="reach">
		<input type="hidden" name="connector">
		<input type="hidden" name="casetemp">
	</form>

</block>


























