
<extend name="layout/default"/>

<block name="linkcss">
	<link rel="stylesheet" href="__CSS__/Huploadify.css">
	<link rel="stylesheet" href="__CSS__/jquery.toastmessage.css">
	<link rel="stylesheet" href="__CSS__/bootstrap-datetimepicker.min.css">
	<link rel="stylesheet" href="__CSS__/oldcustomer/customer-details.css">
</block>

<block name="linkjs">
	<script src="__JS__/jquery.Huploadify.js"></script>
	<script src="__JS__/jquery.validate.min.js"></script>
	<script src="__JS__/jquery.form.js"></script>
	<script src="__JS__/bootstrap-datetimepicker.js"></script>
	<script src="__JS__/bootstrap-datetimepicker.zh-CN.js"></script>
	<script src="__JS__/jquery.toastmessage.js"></script>
	<script src="__JS__/oldcustomer/customer.js"></script>
</block>

<block name="webtitle">
	<title>ATOP</title>
</block>

<block name="breadcrumb">
	<ol class="breadcrumb breadcrumb-edit">
		<li><a href="__ROOT__/customer">客诉处理</a></li>
		<li class="active">客诉详情</li>
	</ol>
	<eq name="details.status" value="0">
		<div class="btn-group pull-right btn-group-edit" role="group">
			<a href="__URL__/addCustomer" class="btn btn-primary" disabled="disabled">
				<span class="glyphicon glyphicon-plus"></span> 添加处理记录
			</a>
		</div>
	<else/>
		<div class="btn-group pull-right btn-group-edit" role="group">
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#customer-modal">
				<span class="glyphicon glyphicon-plus"></span> 添加处理记录
			</button>
		</div>
	</eq>
</block>

<block name="content">
	<div class="panel panel-default">
		<div class="panel-heading panel-heading-edit"><h4>基本信息</h4></div>
		<table class="table" id="table">
			<thead>
				<tr>
					<th>客诉ID</th>
					<th>客诉时间</th>
					<th>销售人员</th>
					<th>客户</th>
					<th>订单号</th>
					<th>产品</th>
					<th>状态</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{$details.id}</td>
					<td>{$details.cc_time}</td>
					<td>{$details.nickname}</td>
					<td>{$details.customer}</td>
					<td>{$details.sale_order}</td>
					<td>{$details.pn}</td>
					<td>
						<switch name="details.status">
							<case value="-1"><span class="label label-danger">无法处理</span></case>
							<case value="1"><span class="label label-primary">正在处理</span></case>
							<case value="0"><span class="label label-success">已经处理</span></case>
						</switch>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading panel-heading-edit"><h4>设备信息</h4></div>
		<div class="panel-body">
			设备厂商：<kbd>{$details.vendor}</kbd>　　设备型号：<kbd>{$details.model}</kbd>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading panel-heading-edit"><h4>错误现象</h4></div>
		<div class="panel-body">
			<code>{$details.error_message}</code>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading panel-heading-edit"><h4>原因分析</h4></div>
		<div class="panel-body">
			{$details.reason}
		</div>
	</div>
	<notempty name="details.comments">
		<div class="panel panel-default">
		<div class="panel-heading panel-heading-edit"><h4>备注信息</h4></div>
		<div class="panel-body">
			{$details.comments}
		</div>
	</div>
	</notempty>
	<div class="panel panel-default" id="deal-record">
		<div class="panel-heading panel-heading-edit"><h4>处理记录</h4></div>
		<div class="panel-body">
			<volist name="details.log" id="vo">
				<div class="media media-edit">
					<span class="media-left media-top media-img" href="###">
						<img class="userface" src="{$vo.face}" width="100" height="100" alt="...">
					</span>
					<div class="media-body">
						<p class="log-info"><kbd>{$vo.log_date}</kbd> {$vo.log_content}</p>
						<notempty name="vo.picture">
							<volist name="vo.picture" id="v">
								<notempty name="v">
									<!-- 如果图像为空则不输出 -->
									<div class="pic-group pull-left">
										<p class="float-pic">
											<img class="customer-complaint-img" src="{$v.filepath}" alt="图像加载错误">
										</p>
										<span class="pic-info">{$v.filename}</span>
									</div>
								</notempty>
							</volist>
						</notempty>
						<div class="clearfix"></div>
						<notempty name="vo.attachment">
							<volist name="vo.attachment" id="v">
								<eq name="v.filetype" value="other">
									<div class="attachment-box">
										<div class="attachment-box-dom">
											<p class="file-name">
												<span class="file-name-info pull-left"><i class="icon-file-alt"></i> {$v.filename}</span>
												<form action="__URL__/downloadFile" method="post" class="pull-left">
													<input type="hidden" name="filepath" value="{$v.filepath}">
													<input type="submit" class="btn btn-default btn-xs download-file" value="下载">
												</form>
											</p>
										</div>
									</div>
								<else/>
									<neq name="v" value=""><!-- 如果图像为空则不输出 -->
										<div class="pic-group pull-left">
											<p class="float-pic">
												<img class="customer-complaint-img" src="{$v.filepath}" alt="图像加载错误">
											</p>
											<span class="pic-info">{$v.filename}</span>
										</div>
									</neq>
								</eq>
							</volist>
						</notempty>
						<div class="clearfix"></div>
						<p class="log-time">{$vo.recorder} | {$vo.timestamp}</p>
					</div>
				</div>
			</volist>
		</div>
	</div>
	
	<!-- 新增客诉模态框 -->
	<div class="modal fade bs-example-modal-lg" id="customer-modal" role="dialog">
		<div class="modal-dialog modal-lg" id="customer-modal-width">
			<div class="modal-content">
				<form class="form-inline" role="form" id="processingRecords">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span>
							<span class="sr-only">close</span>
						</button>
						<h4 class="modal-title">添加处理记录</h4>
					</div>
					<div class="modal-body">
							<div class="form-group">
								<label>处理日期&nbsp;</label>
								<div class="input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-format="yyyy-mm-dd" data-link-field="dtp_input2" id="datetimepicker">
									<input class="form-control" type="text" name="log_date" id="deal-date" readonly placeholder="选择处理日期">
									<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
								</div>
								<div class="help-block help-block-date help-block-position" id="change-date-remove"></div>
							</div>
							<div class="form-group">
								<label>　　状态&nbsp;</label>
								<div class="btn-group">
									<button type="button" class="btn btn-default" id="deal-text">正在处理</button>
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu" id="dropdown-list">
										<li status="1"><a href="javascript:void(0);">正在处理</a></li>
										<li status="0"><a href="javascript:void(0);">已经处理</a></li>
										<li status="-1"><a href="javascript:void(0);">无法处理</a></li>
									</ul>
								</div>
							</div>
							<div class="form-group">
								<label>　　处理人&nbsp;</label>
								<input type="text" name="recorder" value="{$Think.session.user.account}" class="form-control" id="recorder">
								<div class="help-block help-block-recorder help-block-position"></div>
							</div>
							<textarea class="form-control block-textarea"  placeholder="输入最新的处理记录" name="log_content" id="log_content"></textarea>
							<div class="help-block help-block-textarea" id="log-content-error"></div>
							<div class="form-group form-group-file-upload">
								<label>附件</label>
								<p class="help-block" id="help-block-info">已上传 <b id="fileTotal">0</b> 个文件</p>
								<div id="file"></div>　　
								<div id="file-preview">
									<ul id="file-list"></ul>
								</div>
							</div>
							<input type="hidden" name="cc_id" value="{$Think.get.id}" id="cc_id">
								<input type="hidden" id="dtp_input2" value="" />
							<input type="hidden" name="status" value="1" id="status">
							<input type="hidden" name="attachment" value="" id="file-data">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
						<input type="submit" class="btn btn-primary" value="确定">
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- 消息提示模态框 -->
	<div class="modal fade bs-example-modal-sm" id="message-modal" role="dialog">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-body" id="message-modal-text">
					<p class="customer-message customer-message-success"><i class="icon-ok-sign icon-2x modal-icon-success"></i><span class="message-text">成功后的信息</span></p>
					<p class="customer-message customer-message-error"><i class="icon-remove-sign icon-2x modal-icon-error"></i><span class="message-text">失败后的信息</span></p>
					<p class="customer-message customer-message-info"><i class="icon-info-sign icon-2x modal-icon-info"></i><span class="message-text">错误的信息</span></p>
				</div>
			</div>
		</div>
	</div>

	<!-- 图像展示 -->
	<div id="picturePreview">
		<div class="pictureContainer"></div>
		<span class="closePreview" title="关闭"><i class="icon-remove icon-2x"></i></span>
	</div>

	<script>
	$('.form_date').datetimepicker({
        language:  'zh-CN',
        format:'yyyy-mm-dd',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		endDate : new Date(),
		startView: 2,
		minView: 2,
		forceParse: 0
    }).on('changeDate',function(ev){
    	$('#change-date-remove').html('');
    });
	</script>
</block>









