@CHARSET "UTF-8";

/*** 天行笑话接口 ***/
#joke-api,#pic-api {
    width: 320px;
    color: #888;
}
#joke-api li,#pic-api li {
    border: solid 1px #ddd;
    margin-bottom: 15px;
    padding: 15px;
}
#joke-api li .joke-title,#pic-api li .joke-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}
#joke-api li .joke-content {

}



































