#banner{
	width: 10%;
	height: 400px;
	float: left;
	border-radius: 1px;
	position: fixed;
}
#banner li{
	height: 50px;
	color: #666;
	font-weight: 600;
	font-size: 16px;
	margin:0 0 5px 0;
	line-height: 50px;
	text-align: center;
	cursor: pointer;
	border:1px solid #ccc;
	border-radius: 2px;
}
.has-active{
	background: #428bca;
	color: #fff !important;
	border:0 !important;
}
#banner li:hover{
	background: #428bca;
	color: #fff !important;
	border:0;
}
#info{
	width: 85%;
	height: 1100px;
	border:1px solid #e6e6e6;
	float: right;
}
#info .box{

}

#info dd{
	font-size: 14px;
	color: #555;
	margin-left:30px;
	line-height: 30px;
	height: 30px;
}
#info dd span{
	width: 6px;
	height: 6px;
	background: indianred;
	display: inline-block;
	border-radius: 6px;
	margin-right: 5px;
	margin-bottom: 2px;
}
#content{
	padding: 50px;
	position: fixed;
}