<!-- 【模板继承】 -->
<extend name="layout/default"/>
<!-- 【引入css样式表文件】 -->
<block name="linkcss">
    <!-- 引入 element-ui 样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="__CSS__/projects/create.css">
</block>
<!-- 【引入javascript文件】 -->
<block name="linkjs">
    <!-- 引入 Vue -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- 引入 Vue-resource -->
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>
    <!-- 引入 element-ui 组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="__JS__/projects/index.js"></script>
</block>
<!-- 【页面标题】 -->
<block name="webtitle">
    <title>创建项目</title>
</block>
<!-- 【路径导航】 -->
<block name="breadcrumb">
    <ol class="breadcrumb breadcrumb-edit">
        <li><a href="__ROOT__/projects">项目管理</a></li>
        <li class="active">创建项目</li>
    </ol>
</block>
<!-- 【正文区域】 -->
<block name="content">

    <div id="app">
        <el-form ref="form" :model="project" label-width="120px" label-position="top">
            <el-row :gutter="20">
                <el-col :span="8">
                    <el-form-item label="项目编号">
                        <el-input v-model="project.projectNo" placeholder="输入项目编号，例：Plan-Test-001"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="20">
                <el-col :span="12">
                    <el-form-item label="项目名称">
                        <el-input v-model="project.projectName" placeholder="输入项目名称，例：CSFP+ 项目开发"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="20">
                <el-col :span="12">
                    <el-form-item label="项目描述">
                        <el-input type="textarea" class="project-desc" v-model="project.description" placeholder="输入项目描述"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="20">
                <el-col :span="10">
                    <el-form-item label="立项时间">
                        <el-date-picker type="date" placeholder="选择时间" v-model="project.establishTime" placeholder="请选择立项时间"></el-date-picker>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="20">
                <el-col :span="8">
                    <el-form-item label="产品类型">
                        <el-input v-model="project.productType" placeholder="例：CSFP+(SFP 、XFP、AOC、DAC， etc)"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="20">
                <el-col :span="8">
                    <el-form-item label="项目类型">
                        <el-input v-model="project.projectType" placeholder="例：新设计(新设计？新功能？降低成本？etc)"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="20">
                <el-col :span="12">
                    <el-form-item label="标准品名">
                        <el-input v-model="project.standardName" placeholder="输入标准品名，如有多个用/分割"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="20">
                <el-col :span="10">
                    <el-form-item label="平台">
                        <el-input v-model="project.platform" placeholder="例：DS4834+Max24016"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="20">
                <el-col :span="12">
                    <el-form-item label="潜在市场需求">
                        <el-input v-model="project.marketDemand" placeholder="请输入市场潜在需求(2年)，由市场部提供"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="20">
                <el-col :span="8">
                    <el-form-item label="目标客户">
                        <el-input v-model="project.targerCustomer" placeholder="例：华为（市场部提供）"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="20">
                <el-col :span="6">
                    <el-form-item label="目标成本">
                        <el-input v-model="project.targerCost" placeholder="输入目标成本"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="20">
                <el-col :span="6">
                    <el-form-item label="项目负责人">
                        <el-select v-model="project.principal" placeholder="选择项目负责人" style="width: 100%;">
                            <el-option label="Vampire" value="Vampire"></el-option>
                            <el-option label="Azir" value="Azir"></el-option>
                            <el-option label="Riven" value="Riven"></el-option>
                            <el-option label="Jinx" value="Jinx"></el-option>
                            <el-option label="Ryze" value="Ryze"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="20">
                <el-col :span="6">
                    <el-form-item label="硬件设计">
                        <el-select v-model="project.hardwareDesign" placeholder="选择硬件设计人员" style="width: 100%;">
                            <el-option label="Vampire" value="Vampire"></el-option>
                            <el-option label="Azir" value="Azir"></el-option>
                            <el-option label="Riven" value="Riven"></el-option>
                            <el-option label="Jinx" value="Jinx"></el-option>
                            <el-option label="Ryze" value="Ryze"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="20">
                <el-col :span="6">
                    <el-form-item label="FW开发">
                        <el-select v-model="project.fwDevelopment" placeholder="选择FW开发人员" style="width: 100%;">
                            <el-option label="Vampire" value="Vampire"></el-option>
                            <el-option label="Azir" value="Azir"></el-option>
                            <el-option label="Riven" value="Riven"></el-option>
                            <el-option label="Jinx" value="Jinx"></el-option>
                            <el-option label="Ryze" value="Ryze"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="20">
                <el-col :span="6">
                    <el-form-item label="结构件设计">
                        <el-select v-model="project.structureDesign" placeholder="选择结构件设计人员" style="width: 100%;">
                            <el-option label="Vampire" value="Vampire"></el-option>
                            <el-option label="Azir" value="Azir"></el-option>
                            <el-option label="Riven" value="Riven"></el-option>
                            <el-option label="Jinx" value="Jinx"></el-option>
                            <el-option label="Ryze" value="Ryze"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="20">
                <el-col :span="6">
                    <el-form-item label="ATE设计">
                        <el-select v-model="project.ateDesign" placeholder="选择ATE设计人员" style="width: 100%;">
                            <el-option label="Vampire" value="Vampire"></el-option>
                            <el-option label="Azir" value="Azir"></el-option>
                            <el-option label="Riven" value="Riven"></el-option>
                            <el-option label="Jinx" value="Jinx"></el-option>
                            <el-option label="Ryze" value="Ryze"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="20">
                <el-col :span="6">
                    <el-form-item label="DVT测试">
                        <el-select v-model="project.dvtTest" placeholder="选择DVT测试人员" style="width: 100%;">
                            <el-option label="Vampire" value="Vampire"></el-option>
                            <el-option label="Azir" value="Azir"></el-option>
                            <el-option label="Riven" value="Riven"></el-option>
                            <el-option label="Jinx" value="Jinx"></el-option>
                            <el-option label="Ryze" value="Ryze"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="20">
                <el-col :span="6">
                    <el-form-item label="市场部">
                        <el-select v-model="project.market" placeholder="选择市场部人员" style="width: 100%;">
                            <el-option label="Vampire" value="Vampire"></el-option>
                            <el-option label="Azir" value="Azir"></el-option>
                            <el-option label="Riven" value="Riven"></el-option>
                            <el-option label="Jinx" value="Jinx"></el-option>
                            <el-option label="Ryze" value="Ryze"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-form-item>
                <el-button type="primary" @click="onSubmit">立即创建</el-button>
                <el-button>取消</el-button>
            </el-form-item>
        </el-form>
    </div>

    <script>
        new Vue({
            el: '#app',
            created (){

            },
            data (){
                return {
                    project: {
                        projectNo: '',
                        projectName: '',
                        description: '',
                        establishTime: '',
                        productType: '',
                        projectType: '',
                        standardName: '',
                        platform: '',
                        marketDemand: '',
                        targerCustomer: '',
                        targerCost: '',
                        principal: '',
                        hardwareDesign: '',
                        fwDevelopment: '',
                        structureDesign: '',
                        lightDesign: '',
                        ateDesign: '',
                        dvtTest: '',
                        market: '',
                    }
                }
            },
            methods: {
                onSubmit() {
                    console.log('submit!');
                }
            }
        });
    </script>

</block>


