<!-- 【模板继承】 -->
<extend name="layout/default"/>
<!-- 【引入css样式表文件】 -->
<block name="linkcss">
    <link rel="stylesheet" href="__CSS__/projects/index.css">
</block>
<!-- 【引入javascript文件】 -->
<block name="linkjs">
    <script src="__JS__/projects/index.js"></script>
</block>
<!-- 【页面标题】 -->
<block name="webtitle">
    <title>项目管理</title>
</block>
<!-- 【路径导航】 -->
<block name="breadcrumb">
    <ol class="breadcrumb breadcrumb-edit">
        <li class="active">项目管理</li>
    </ol>
</block>
<!-- 【正文区域】 -->
<block name="content">



</block>


