<!-- 【模板继承】 -->
<extend name="layout/default"/>
<!-- 【引入css样式表文件】 -->
<block name="linkcss">
    <link rel="stylesheet" href="__CSS__/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="__CSS__/project/edit.css">
</block>
<!-- 【引入javascript文件】 -->
<block name="linkjs">
    <script src="__JS__/bootstrap-datetimepicker.js"></script>
    <script src="__JS__/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="__JS__/jquery.validate.min.js"></script>
    <script src="__JS__/jquery.form.js"></script>
    <script src="__PUBLIC__/layer/layer.js"></script>
    <script src="__JS__/project/edit.js"></script>
</block>
<!-- 【页面标题】 -->
<block name="webtitle">
    <title>编辑项目</title>
</block>
<!-- 【路径导航】 -->
<block name="breadcrumb">
    <ol class="breadcrumb breadcrumb-edit">
        <li><a href="__ROOT__/Project">项目管理</a></li>
        <li class="active">编辑项目</li>
    </ol>
</block>
<!-- 【正文区域】 -->
<block name="content">
    <!--<div class="commingSoon">
        <p><i class="icon-info-sign icon-5x"></i></p>
        <h1>功能研发中</h1>
        <p>Function is developing</p>
        <p>Comming Soon.</p>
    </div>-->

    <div class="project-container">
        <h2 class="page-header">项目信息</h2>
        <form role="form" id="projectEditForm">
            <table class="table">
                <tbody>
                <tr>
                    <td class="column-name">项目编号</td>
                    <td class="td_padding"><input type="text" name="pj_num" class="form-control input-sm" value="{$projects.pj_num}" placeholder="请输入项目编号，例：Plan-Test-001"><div class="help-block">&nbsp;</div></td>
                    <td class="column-name">项目名称</td>
                    <td><input type="text" name="pj_name" class="form-control input-sm" value="{$projects.pj_name}" placeholder="请输入项目名称，例：CSFP+ 项目开发"><div class="help-block">&nbsp;</div></td>
                </tr>
                <tr>
                    <td class="column-name">项目负责人</td>
                    <td><input type="text" name="pj_responsible" dpmt="1" readonly value="{$projects.pj_responsible}" class="form-control input-sm open-modal" placeholder="请选择项目负责人"><div class="help-block">&nbsp;</div></td>
                    <td class="column-name">立项时间</td>
                    <td><input type="text" name="pj_add_pro_time" readonly value="{$projects.pj_add_pro_time}" class="pj_add_pro_time form-control input-sm project-manager-input" value="{$Think.session.user.nickname}"><div class="help-block">&nbsp;</div></td>
                </tr>
                <tr>
                    <td class="column-name">硬件设计</td>
                    <td><input type="text" name="pj_design" dpmt="1" readonly value="{$projects.pj_design}" class="form-control input-sm open-modal" placeholder="请选择项目设计人员"><div class="help-block">&nbsp;</div></td>
                    <td class="column-name">产品类型</td>
                    <td><input type="text" name="pj_family" class="form-control input-sm" value="{$projects.pj_family}" placeholder="例：CSFP+(SFP 、XFP、AOC、DAC， etc)"><div class="help-block">&nbsp;</div></td>
                </tr>
                <tr>
                    <td class="column-name">FW开发</td>
                    <td><input type="text" name="pj_fw_development" dpmt="1" readonly value="{$projects.pj_fw_development}" class="form-control input-sm open-modal" placeholder="请选择FW开发人员"><div class="help-block">&nbsp;</div></td>
                    <td class="column-name">项目类型</td>
                    <td><input type="text" name="pj_type" class="form-control input-sm" value="{$projects.pj_type}" placeholder="例：新设计(新设计？新功能？降低成本？etc)"><div class="help-block">&nbsp;</div></td>
                </tr>
                <tr>
                    <td class="column-name">结构件设计</td>
                    <td><input type="text" name="pj_structure_design" dpmt="1" readonly value="{$projects.pj_structure_design}" class="form-control input-sm open-modal" placeholder="请选择结构件设计人员"><div class="help-block">&nbsp;</div></td>
                    <td class="column-name">标准品名</td>
                    <td><input type="text" name="pj_standard_name" class="form-control input-sm" value="{$projects.pj_standard_name}" placeholder="请输入标准品名，如有多个用/分割"><div class="help-block">&nbsp;</div></td>
                </tr>
                <tr>
                    <td class="column-name">光器件设计</td>
                    <td><input type="text" name="pj_light_design" dpmt="1" readonly class="form-control input-sm open-modal" value="{$projects.pj_light_design}" placeholder="请选择光器件设计人员"><div class="help-block">&nbsp;</div></td>
                    <td class="column-name">平台</td>
                    <td><input type="text" name="pj_platform" class="form-control input-sm" value="{$projects.pj_platform}" placeholder="例：DS4834+Max24016"><div class="help-block">&nbsp;</div></td>
                </tr>
                <tr>
                    <td class="column-name">ATE设计</td>
                    <td><input type="text" name="pj_ate_design" dpmt="1" readonly class="form-control input-sm open-modal" value="{$projects.pj_ate_design}" placeholder="请选择ATE设计人员"><div class="help-block">&nbsp;</div></td>
                    <td class="column-name">潜在市场需求</td>
                    <td><input type="text" name="pj_market_demand" class="form-control input-sm" value="{$projects.pj_market_demand}" placeholder="请输入市场潜在需求(2年)，由市场部提供"><div class="help-block">&nbsp;</div></td>
                </tr>
                <tr>
                    <td class="column-name">DVT测试</td>
                    <td><input type="text" name="pj_dvt_test" dpmt="1" readonly class="form-control input-sm open-modal" value="{$projects.pj_dvt_test}" placeholder="请选择DVT测试人员"><div class="help-block">&nbsp;</div></td>
                    <td class="column-name">目标客户</td>
                    <td><input type="text" name="pj_target_customer" class="form-control input-sm" value="{$projects.pj_target_customer}" placeholder="例：华为（市场部提供）"><div class="help-block">&nbsp;</div></td>
                </tr>
                <tr>
                    <td class="column-name">市场部</td>
                    <td><input type="text" name="pj_market" dpmt="9" readonly class="form-control input-sm open-modal" value="{$projects.pj_market}" placeholder="请选择市场部人员"><div class="help-block">&nbsp;</div></td>
                    <td class="column-name">目标成本</td>
                    <td><input type="text" name="pj_target_cost" class="form-control input-sm" value="{$projects.pj_target_cost}" placeholder="请输入目标成本"><div class="help-block">&nbsp;</div></td>
                </tr>
                <tr>
                    <td class="column-name">项目描述</td>
                    <td colspan="3">
                        <textarea style="min-height: 120px;max-width: 790px;min-width: 790px;" name="pj_describe" class="form-control" placeholder="请输入项目描述">{$projects.pj_describe}</textarea>
                        <div class="help-block">&nbsp;</div>
                    </td>
                </tr>
                <tr>
                    <td class="column-name"></td>
                    <td colspan="3">
                        <input type="hidden" name="info_id" class="" value="{$projects.id}">
                        <button type="submit" class="btn btn-primary">保存</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
        <h2 class="page-header">项目计划</h2>
        <table class="table" id="plan-table">
            <tbody>
                <volist name="plans" id="value">
                    <tr>
                        <td class="td_gate">
                            <input type="hidden" name="plan_id" value="{$value.id}">
                            <input type="hidden" name="gate" value="{$value.gate}">
                            <input type="text" readonly name="gate_name" class="form-control" style="cursor: not-allowed !important;" value="Gate{$value.gate}">
                        </td>
                        <td class="special"><input type="text" name="mile_stone" value="{$value.mile_stone}" class="form-control" placeholder="里程碑"></td>
                        <td><input type="text" name="items" class="form-control" value="{$value.items}" placeholder="节点"></td>
                        <td class="td_plan_start"><input type="text" name="plan_start_time" class="form-control plan_start_time" value="{$value.plan_start_time}" readonly placeholder="计划开始时间"></td>
                        <td class="td_plan_stop"><input type="text" name="plan_stop_time" class="form-control plan_stop_time" value="{$value.plan_stop_time}" readonly placeholder="计划结束时间"></td>
                        <td><button type="button" class="btn btn-primary save-data-btn">保存</button></td>
                    </tr>
                </volist>
            </tbody>
        </table>
    </div>

    <!-- push email -->
    <form id="pushEmailPersonList">
        <input type="hidden" name="pj_responsible" value="{$participates.0}">
        <input type="hidden" name="pj_management">
        <input type="hidden" name="pj_fw_development" value="{$participates.2}">
        <input type="hidden" name="pj_design" value="{$participates.1}">
        <input type="hidden" name="pj_structure_design" value="{$participates.3}">
        <input type="hidden" name="pj_dvt_test" value="{$participates.6}">
        <input type="hidden" name="pj_light_design" value="{$participates.4}">
        <input type="hidden" name="pj_ate_design" value="{$participates.5}">
        <input type="hidden" name="pj_market" value="{$participates.7}">
    </form>

    <div class="loading-modal sr-only" id="loading">
        <div class="loading-icon">
            <p><i class="icon-spinner icon-spin icon-2x"></i></p>
        </div>
    </div>


</block>


<block name="modals">

    <!-- Modal -->
    <div class="modal fade bs-example-modal-lg" id="choosePerson" tabindex="-1" role="dialog" aria-labelledby="choosePersonModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="choosePersonTitle">Modal title</h4>
                </div>
                <div class="modal-body" id="choosePersonBody">
                    <ul>
                        <volist name="users" id="value">
                            <li dpmtid="{$value.department}" userid="{$value.id}">{$value.nickname}</li>
                        </volist>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</block>




























