
<div class="well">
    <p><b>项目描述：</b></p>
    <p>“本项目结 构上分为表现层、业务层和数据访问层，层次间的依赖关系自下到上。
        采用的技术有Struts，Spring，Hibernate，Log4J，JDom 等。其中表现层采
        用Struts框架开发；业务层封装业务流程，为适应业务的变更，每一业务模块均
        有专门的接口及实现类，利用Spring的IoC功能将 实现类注入给表现层的Action；
        数据访问层借助于Hibernate实现，代码简洁且可适应不同的数据库。事务部分利
        用Spring的声明式事务管 理。为提高性能，采用Servlet Filter实现了缓存代理”</p>
</div>
<div class="row">
    <div class="col-lg-4">

    </div>
    <div class="col-lg-8">
        <table class="table table-edit table-bordered">
            <!--<thead>
                <tr>
                    <th>步骤名称</th>
                    <th>步骤日志</th>
                    <th>步骤状态</th>
                    <th>操作</th>
                </tr>
            </thead>-->
            <tbody>
            <tr>
                <td>产品策划</td>
                <td><i class="icon-ok-sign"></i>&nbsp;已完成</td>
                <td>
                    <!--<div class="btn-group">
                        <a href="javascript:;" class="btn btn-default btn-sm modal-btn-focus"><i class="icon-ok-sign">&nbsp;完成</i></a>
                        <a href="javascript:;" class="btn btn-default btn-sm modal-btn-focus"><i class="icon-plus-sign">&nbsp;添加日志</i></a>
                    </div>-->
                </td>
            </tr>
            <tr>
                <td>技术需求和项目规划</td>
                <td><i class="icon-ok-sign"></i>&nbsp;已完成</td>
                <td>
                    <!--<div class="btn-group">
                        <a href="javascript:;" class="btn btn-default btn-sm modal-btn-focus"><i class="icon-ok-sign">&nbsp;完成</i></a>
                        <a href="javascript:;" class="btn btn-default btn-sm modal-btn-focus"><i class="icon-plus-sign">&nbsp;添加日志</i></a>
                    </div>-->
                </td>
            </tr>
            <tr>
                <td>产品详细设计及设计验证</td>
                <td><i class="icon-spinner icon-spin"></i>&nbsp;进行中</td>
                <td>
                    <div class="btn-group">
                        <a href="javascript:;" class="btn btn-default btn-sm modal-btn-focus"><i class="icon-ok-sign">&nbsp;完成</i></a>
                        <a href="javascript:;" class="btn btn-default btn-sm modal-btn-focus"><i class="icon-plus-sign">&nbsp;添加日志</i></a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>产品试生产</td>
                <td></td>
                <td>
                    <!--<div class="btn-group">
                        <a href="javascript:;" class="btn btn-default btn-sm modal-btn-focus"><i class="icon-ok-sign">&nbsp;完成</i></a>
                        <a href="javascript:;" class="btn btn-default btn-sm modal-btn-focus"><i class="icon-plus-sign">&nbsp;添加日志</i></a>
                    </div>-->
                </td>
            </tr>
            <tr>
                <td>产品可靠性测试及认证</td>
                <td></td>
                <td>
                    <!--<div class="btn-group">
                        <a href="javascript:;" class="btn btn-default btn-sm modal-btn-focus"><i class="icon-ok-sign">&nbsp;完成</i></a>
                        <a href="javascript:;" class="btn btn-default btn-sm modal-btn-focus"><i class="icon-plus-sign">&nbsp;添加日志</i></a>
                    </div>-->
                </td>
            </tr>
            <tr>
                <td>产品量产</td>
                <td></td>
                <td>
                    <!--<div class="btn-group">
                        <a href="javascript:;" class="btn btn-default btn-sm modal-btn-focus"><i class="icon-ok-sign">&nbsp;完成</i></a>
                        <a href="javascript:;" class="btn btn-default btn-sm modal-btn-focus"><i class="icon-plus-sign">&nbsp;添加日志</i></a>
                    </div>-->
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- 完成/添加日志log备注模态框 -->
<div class="modal fade" id="logModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">完成/添加日志</h4>
            </div>
            <div class="modal-body">
                <textarea class="form-control" id="logContext" name="log" placeholder="您可以在此输入备注信息"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>
</div>
<!--<div role="tabpanel" class="tab-pane" id="plan">
    plan项目计划
</div>
<div role="tabpanel" class="tab-pane" id="subprojects">
    subprojects子项目开发
</div>
<div role="tabpanel" class="tab-pane" id="sample">
    sample样品状况
</div>
<div role="tabpanel" class="tab-pane" id="ducument">
    <div id="file"></div>
</div>
<div role="tabpanel" class="tab-pane" id="discuss">
    <div class="message-container">
        &lt;!&ndash; 留言区域 &ndash;&gt;
        <div class="message-board">
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="/Public/home/img/face/default_face.png" width="50" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h5 class="media-heading">留言内容测试，字数限制，多余内容用省略号代替...</h5>
                    <p>管理员　｜　发表时间：2017-02-16 15:14:36</p>
                </div>
            </div>
        </div>
        <div class="form-group">
            <textarea name="pj_message" id="pj_message" class="form-control"></textarea>
        </div>
        <div class="form-group pull-right">
            <button type="reset" class="btn btn-default">重置</button>
            <button type="button" class="btn btn-primary">提交</button>
        </div>
    </div>
</div>-->
</div>
</div>
