.product-container {
    width: 700px;
    padding-bottom: 150px;
}

.layui-form .layui-form-item .layui-form-label {
    width: 100px;
}
.layui-form .layui-form-item .layui-input-block {
    margin-left: 110px;
}