.close-pos{
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-weight: 400;
    font-size: 24px;
    margin-left: 20px;
    float: right;
    margin-bottom: 12px;
    background: coral;
    color:#fff;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
}
.close-pos:hover{
    background: #FF8E6C;
}
.box-review i:hover{
    cursor: pointer;
    color: #fff;
}
.box-review:hover{
    background: #286090 !important;
    color: #fff !important;
    cursor:default;
}
.activePos{
    background: #286090;
    color: #fff;
}
