.gz-xq {
    color: #428bca;
    cursor: pointer;
}
.gz-xq:hover {
    color: #286090;
}
.md-bd {
    padding: 20px;
    max-height: 500px;
    overflow-y: auto;
}
legend {
    font-size: 18px !important;
    padding-bottom: 5px;
    font-weight: bold;
}
legend small {
    font-size: 14px;
    color: #888 !important;
    margin-left: 15px;
    font-weight: normal;
}
.lv-row {
    margin-bottom: 10px;
}
.lv-row .lv-top {
    font-size: 15px;
    margin-bottom: 10px;
}
.lv-row .lv-btm {
    padding-left: 15px;
}
.lv-row .lv-btm .js-zw {
    padding: 3px 5px;
    display: inline-block;
}