
kdb{
    background: #555 !important;
    color:#fff;
    display: inline;
    border-radius: 2px;
    padding: 2px 2px 2px 5px;
}
.layui-form-item{
    margin-bottom: 0;
    border-bottom: 1px solid #e2e2e2;
    padding: 10px 0 10px 0;
}
.layui-form-item .layui-form-label{
    width: 100px;
    font-weight: 600 !important;
    color: #555 ;
    font-size: 14px;
}
.layui-form-item .review-text{
    padding: 12px 0 0 0;
    font-size: 13px;
    color: #777;
}

.left-h4{
    width: 45%;
    float: left;
    padding: 0;
    margin: 20px 20px 0 0;
}
.right-h4{
    width: 45%;
    float: left;
    padding: 0;
    margin: 0;
}
.success{
    display: inline-block;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    background: #5cb85c;
}
.refuse{
    display: inline-block;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    background: #d9534f;
}
.rule{
    display: inline-block;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    background: #8a6d3b;
}
.before{
    display: inline-block;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    background: #428bca;
}